{% extends "base.html" %}
{% load common %}
{% load content_module %}
{% load module %}

{% block title %}
    {{ flatpage.title }}
{% endblock %}

{% block type %}
    {{ "General" }}
{% endblock %}

{% block category %}
    {{ "Flatpages" }}
{% endblock %}

{% block body %}
   
    <div style="width:971px; margin: 0 auto; margin-bottom: 10px; padding: 3px 0;">
	{% block content %}
		<img src="{% static_url "images/mobile landing page.jpg" %}" width="971" height="465" alt="Crimson Mobile" usemap="#mobilemap" />
		<map name="mobilemap"><area shape="rect" alt="android" coords="468,265,589,311" href="https://market.android.com/details?id=com.thecrimson.android"  /><area shape="rect" alt="iphone" coords="602,262,735,310" href="http://itunes.apple.com/us/app/the-crimson/id458707612?ls=1&mt=8"  /></map>
	{% endblock %}
    </div>
	
    <span class="clear" />
{% endblock %}