p {
	margin: 0px 0px 10px 0px;
}
.text {
	font-size: 15px;
	line-height: 22px;
}
/* article photo stuff */
.tall{
    width: 240px;
}
.wide{
    width: 390px;
}
.image {
    float: left;
    padding: 0 3px 3px 5px;
    border-style: solid;
    border-color: #c4c5c7;
    border-width: 0 0 1px 1px;
    margin: 4px;
    position: relative;
}
.image > .byline {
    text-align: right;
    text-transform: uppercase;
    margin-top: -28px;
    font-size: 0.7em;
    position: absolute;
    right: 0px;
    color: #000000;
}
.image > .byline a{
    background-color: white;
    opacity: .7;
    padding: 1px 5px;
    text-decoration: none;
    font-weight: normal;
}
.image > .byline > a:hover{
    text-decoration: none;
    opacity: 1;
}
.image > .caption{
    margin-left: 4px;
    font-size: .85em;
    line-height: 1.4em;
    color: #333333;
}
.image > p{
    padding: 0;
    margin: 0;
}