.columnLeft {
    width: 170px;
    margin: 0px 10px 0px 0px;
    float: left;
}
.article-list{
    width: 450px;
    margin: 0px 10px 0px 0px;
    float: left;
}
.columnRight {
    width: 310px;
    float: left;
}

/*              */

ul.vert_menu {
    width: 170px;
    margin: 2px 0px 15px;
    list-style: none;
    border-style: solid;
    border-width: 3px 0px 0px;
    border-color: #780001;
    font-size: 15px;
}
ul.vert_menu li{
    position: relative;
}
ul.vert_menu a{
    display: block;
    width: 150px;
    margin: 0px 0px 2px;
    padding: 3px 10px;
    background-color: #e0e0e0;
}
ul.vert_menu a:hover{
    background-color: #bbbbbb;
    color: #F02222;
}
ul.vert_menu li > ul{
    list-style: none;
    display: none;
    position: absolute;
    left: 160px;
    top: -2px;
    background-color: white;
    border-style: solid;
    border-width: 2px 0px 0px;
    border-color: #780001;
    z-index: 1;
}
ul.vert_menu li:hover > ul{
    display: block;
}
ul.vert_menu a.has_submenu {
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #888888;
    padding: 3px 8px 3px 10px;
}

/*              */
h1 {
    font-size: 24px;
    padding: 0 0 10px;
}
.columnLeft > .ad {
    margin-left: -3px;
}
.article-list ul{
    list-style: none;
}
.article-list li{
    margin: 0px 0px 10px 0px;
}

.byline {
    font-size: 0.75em;
}
.teaser {
    font-size: 0.8em;
}