/* wrapper type stuff */

* {
	padding:0px;
	margin:0px;
	font-family: Georgia, Palatino Linotype, serif;
}
#wrapper {
	width: 980px;
	margin: 0px auto 0px auto;
	padding: 0 10px;
	text-align:left;
	background-color: #ffffff;
	background-image: url('/site_media/images/shadow.gif');
}

#masthead {
	height: 97px;
	width: 974px;
	margin: 0 3px;
    background-image: url('../images/banner_gradient.png');
    color: white;
}

div#masthead div#banner{
    float:left;
    height:97px;
    width: 473px;
    background-image: url('../images/banner.png');
}

div#masthead div#masthead_center{
    float: left;
    height: 40px;
    margin: 50px 0 0 -60px;
    font-weight: bold;
    font-size: 8pt;
}

/*  ==== MASTHEAD ==== */

div#masthead  div.tools{
    float:right;
    width:253px;
    height:97px;
}

div#masthead div.tools div.top{
    height: 48px;
    margin-right: 20px;
    text-align: right;
}

div#masthead div.tools div.line{
    height: 1px;
    background-image: url('../images/banner_right_divider.png');
    width: 240px;
    float: left;  
}

div#masthead div.tools div.descriptions{
    height: 17px;
    margin-right: 20px;
}
div#masthead div.tools div.descriptions span {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: heavy;
}
div#masthead div.tools span {
    float: right;
    display: block;
    text-align:center;
}

div#masthead div.tools  span.weather {
    width: 60px;
}
div#masthead div.tools  span.issues {
    width: 70px;
}
div#masthead div.tools div.descriptions span.cover {
    width: 80px;
}

div#masthead div.tools div.search {
    text-align:center;
    height: 20px;
    margin-left: 20px;
    margin-top: 5px;
}

div#masthead div.tools div.search div.query {
    height: 20px;
    overflow: hidden;
    background-color: white;
}

div#masthead div.tools div.search input.query{
    border-collapse: collapse;
    border: 1px solid white;
    padding: 0px;
    width:100%;
    background-image: url('../images/banner_search_background.png');
    background-repeat: no-repeat;
    font-family: sans-serif;
}

div#masthead div.tools div.search div.query{
    float:left;
    width:160px;
}

div#masthead div.tools div.search input.submit{
    border-collapse: collapse;
    margin-left:-1px;
    line-height:1em;
    background-color:#A02222;
    border: 1px solid white;
    color:white;
    font-family: verdana;
    height: 20px;
    width: 59px;
}

div#masthead div.tools div.search span.submit {
    float:left;
}

/*  */

#main, #footer, #nav{
    width: 972px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #b3b3b3;
    margin: 0 3px;
}
#main {
	float: left;
    padding:6px;
	clear: both;
}
#footer {
	text-align: center;
    /*clear: both;*/
}
#nav {
    width: 972px;
	height:21px;
	padding:5px 0px;
}
#nav ul{
	height:21px;
	border: 1px solid #b3b3b3;
	border-left:0px;
	float: left;
	margin:0;
	width:100%;
}

#nav ul li{
	height:21px;
	display: inline;
	float:left;
	border: 1px solid #b3b3b3;
	border-width: 0 1px 0 0;
}

#nav ul li.spacer{
	width:10px;
}

#nav ul li.spacer:hover{
    background-color: white;
}

#nav ul li:hover, #nav ul li#nav_cur{
	background-color: #ba0600;
}

#nav ul li a{
	text-align: center;
	font-size: .9em;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", 
                "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", 
                "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    letter-spacing: 1px;
	padding:0px 15px;
	text-decoration: none;
	color:gray;
}

#nav ul li:hover a, #nav ul li#nav_cur a{
	color:white;
}

body {
	text-align:center;
	background-color: #ccc;
}

/* tag cloud*/
div.tag_cloud {
    line-height: 20px; 
}
div.tag_cloud a{
    border-bottom: 1px dotted #ba0600;
    padding-bottom: -5px;
    display: block;
    float: left;
    margin: 0 5px 6px 0;
}
div.tag_cloud a.largest {
    font-size: 24px;
    font-weight: bolder;
}
div.tag_cloud a.large {
	font-size: 21px;
    font-weight: bold;
}
div.tag_cloud a.medium {
	font-size: 18px;
}
div.tag_cloud a.small {
	font-size: 15px;
}

/* bordered */
div.bordered {
    border: 1px solid #bbb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    overflow: none;
}

/* stylings */
a {
	text-decoration: none;
	color: #ba0600;
}
a:hover {
	color: #ea0600;
}
.byline{
    color: #444;
}
.byline a{
    font-family:helvetica;
    text-transform: uppercase;
    text-decoration: underline;
    color: #666;
}
.dateline {
    color: #666;
}
.byline a:hover{
    color: #333;
}
.webonly {
    display: inline;
    color: black;
}

/* ads */
.ad {
    margin: 20px 0px 8px;
    padding: 6px 4px 0px 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    position: relative;
}
.ad span{
    padding: 0px 4px 0px 4px;
    position: absolute;
    text-transform: uppercase;
    font-size: 10px;
    left: 30px;
    top: -6px;
    background-color: white;
    color: #444444;
}
span.clear {
    display: block;
    clear: left;
}
/* yuhki labels */

div.ylabel_wrapper {
    display: inline;
}
div.ylabel_wrapper .clear {
    clear: both;
    height: 0px;
}
div.ylabel {
    background-color: #ba0600;
    color: white;
    float: left;
}
div.ylabel div.edge{
    display: block;
    background-color: white;
}
div.ylabel div.edge * {
    display: block; 
    height: 1px; 
    overflow: hidden; 
    background-color:#ba0600;
}
div.ylabel div.edge div.corner{
    margin: 0 1px; 
    height: 1px
} 
div.ylabel div.text{
    padding: 1px 4px;
    height: 16px;
    margin: -1px 0 0 0;
    font-family: "Trebuchet MS", "Segoe UI", Candara, "Bitstream Vera Sans", 
                    "DejaVu Sans", "Bitstream Vera Sans", Verdana, 
                    "Verdana Ref", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    line-height: normal;
}