/* wrapper type stuff */

* {
	padding:0px;
	margin:0px;
	font-family: Georgia, Palatino Linotype, serif;
}
#wrapper {
	width: 980px;
	margin: 0px auto 0px auto;
	padding: 0 10px;
	text-align:left;
	background-color: #ffffff;
	background-image: url('/site_media/images/shadow.gif');
}

#masthead {
	height: 97px;
	width: 974px;
	margin: 0 3px;
    background-image: url('../images/banner_gradient.png');
    color: white;
}

div#masthead div#banner{
    float:left;
    height:97px;
    width: 473px;
    background-image: url('../images/banner.png');
}

div#masthead div#hottopics{
    float: left;
    height: 40px;
    margin: 50px 0 0 -60px;
    font-weight: bold;
    font-size: 8pt;
}



div#masthead div#hottopics div#label,
div#masthead div#hottopics div#topics{
    float:left;
}

div#masthead div#hottopics div#label{
    margin-right:5px;
}

div#masthead div#hottopics div#topics{
    width:200px;
}

div#masthead  div#righttools{
    float:right;
    width:253px;
    height:97px;
}

div#masthead div#righttools div#top{
    height: 48px;
    text-align:center;
}

div#masthead div#righttools div#line{
    height: 1px;
    background-image: url('../images/banner_right_divider.png');
    width: 240px;
    float: left;  
}

div#masthead div#righttools div#descriptions{
    height: 17px;
    text-align:center;
    font-size: 7pt;
    font-family: sans-serif;
    font-weight: heavy;
}

div#masthead div#righttools div#search{
    text-align:center;
    height: 20px;
    margin-left: 20px;
    margin-top: 5px;
}

div#masthead div#righttools div#search input#query{
    border-collapse: collapse;
    border: 1px solid white;
    padding: 1px;
    width:100%;
    background-image: url('../images/banner_search_background.png');
    background-repeat: no-repeat;
    font-family: sans-serif;
}

div#masthead div#righttools div#search div#query{
    float:left;
    width:160px;
}

div#masthead div#righttools div#search input#submit{
    border-collapse: collapse;
    margin-left:-1px;
    line-height:1em;
    background-color:#A02222;
    color:white;
    border: 1px solid white;
    font-family: verdana;

}

div#masthead div#righttools div#search span#submit{
    float:left;
}

#main, #footer, #nav{
    width: 972px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #b3b3b3;
    margin: 0 3px;
}
#main {
	float: left;
    padding:6px;
	clear: both;
}
#footer {
	text-align: center;
    /*clear: both;*/
}
#nav {
    width: 972px;
	height:21px;
	padding:5px 0px;
}
#nav ul{
	height:21px;
	border: 1px solid #b3b3b3;
	border-left:0px;
	float: left;
	margin:0;
	width:100%;
}

#nav ul li{
	height:21px;
	display: inline;
	float:left;
	border: 1px solid #b3b3b3;
	border-width: 0 1px 0 0;
}

#nav ul li.spacer{
	width:10px;
}

#nav ul li:hover, #nav ul li#nav_cur{
	background-color:#A02222;
}

#nav ul li a{
	text-align: center;
	font-size: .9em;
	font-family: lucida sans, Verdana, sans-serif;
	padding:0px 15px;
	text-decoration: none;
	color:gray;
}

#nav ul li:hover a, #nav ul li#nav_cur a{
	color:white;
}

body {
	text-align:center;
	background-color: #ccc;
}

/* tag cloud font sizes */

a.largest {
    font-size: 23pt;
}
a.large {
	font-size: 19pt;
}
a.medium {
	font-size: 15pt;
}
a.small {
	font-size: 11pt;
}

/* bordered */
div.bordered {
    border: 1px solid #bbb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    padding: 5px;
    margin-bottom: 10px;
}

/* stylings */
a {
	text-decoration: none;
	color: #a02222;
}
a:hover {
	color: #e02222;
}
.byline{
}
.byline a{
    font-family:helvetica;
    text-transform: uppercase;
    text-decoration: underline;
    color: black;
}

.byline a:hover{
    color: #444;
}
.webonly {
    display: inline;
    color: black;
}

/* ads */
.ad {
    margin: 20px 0px 8px;
    padding: 6px 4px 0px 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    position: relative;
}
.ad span{
    padding: 0px 4px 0px 4px;
    position: absolute;
    text-transform: uppercase;
    font-size: 10px;
    left: 30px;
    top: -6px;
    background-color: white;
    color: #444444;
}
span.clear {
    display: block;
    clear: left;
}
/* yuhki labels */

div.label2 { 
    margin: 0px 0px;
    padding: 2px 5px;
    background: #a02222;
    font-size: 11px;
    font-weight: 600;
    color: white; 
    font-family: Arial,Helvetica,sans-serif;
    text-align: center; 
    display: inline;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; 

}

div.ylabel_wrapper {
    display: inline;
}
div.ylabel_wrapper .clear {
    clear: both;
    height: 0px;
}
div.ylabel {
    background-color: #ab232a;
    color: white;
    float: left;
}
div.ylabel div.edge{
    display: block;
    background-color: white;
}
div.ylabel div.edge * {
    display: block; 
    height: 1px; 
    overflow: hidden; 
    background-color:#ab232a;
}
div.ylabel div.edge div.corner{
    margin: 0 1px; 
    height: 1px
} 
div.ylabel div.text{
    padding: 1px 4px;
    height: 16px;
    margin: -1px 0 0 0;
    font-family: trebuchet ms; 
    font-size: 12px;
    line-height: normal;
}
