/* ========== COLORS ================
    grey lines:      #BBB
    darker grey:     #666
    red for links:   #BA0600
    red hover:      #EA0600
*/

/* wrapper type stuff */

/* COLOR DEFINITIONS */

.gray-bg{
    background-color: #eee;
}

.red-text{
    color: #BA0600;
}

* {
	padding:0px;
	margin:0px;
	font-family: Georgia, Palatino Linotype, serif;
}

a{color:#BA0600;}
a:hover{color:#EA0600;}

div#wrapper {
	width: 980px;
	margin: 0px auto 0px auto;
	padding: 0 10px;
	text-align:left;
	background-color: #ffffff;
	background-image: url('/site_media/images/shadow.gif');
}

div#masthead {
	height: 97px;
	width: 974px;
	margin: 0 3px;
    background-image: url('../images/banner_gradient.png');
    color: white;
}

div#masthead div#banner{
    float:left;
    height:97px;
    width: 473px;
    background-image: url('../images/banner.png');
}

div#masthead div#masthead_center{
    float: left;
    height: 40px;
    margin: 50px 0 0 -60px;
    font-weight: bold;
    font-size: 8pt;
}

/*  ==== MASTHEAD ==== */

div#masthead  div.tools{
    float:right;
    width:253px;
    height:97px;
}

div#masthead div.tools div.top{
    height: 48px;
    margin-right: 20px;
    text-align: right;
}

div#masthead div.tools div.line{
    height: 1px;
    background-image: url('../images/banner_right_divider.png');
    width: 240px;
    float: left;  
}

div#masthead div.tools div.descriptions{
    height: 17px;
    margin-right: 20px;
}
div#masthead div.tools div.descriptions span {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: heavy;
}
div#masthead div.tools span {
    float: right;
    display: block;
    text-align:center;
}

div#masthead div.tools  span.weather {
    width: 60px;
}
div#masthead div.tools  span.issues {
    width: 70px;
}
div#masthead div.tools div.descriptions span.cover {
    width: 80px;
}

div#masthead div.tools div.search {
    text-align:center;
    height: 20px;
    margin-left: 20px;
    margin-top: 5px;
}

div#masthead div.tools div.search input.query{
    border-collapse: collapse;
    float:left;
    border: 1px solid white;
    padding: 0px;
    width:150px;
    height:18px;
    background-image: url('../images/banner_search_background.png');
    background-repeat: no-repeat;
    font-family: sans-serif;
    font-size: 0pt;
}

div#masthead div.tools div.search input.query:focus{
    background-image: none;
    font-size:10pt;
}

div#masthead div.tools div.search div.query{
    float:left;
    width:160px;
}

div#masthead div.tools div.search button.submit{
    display:block;
    height:20px;
    float:left;
    background-color:#BA0600;
    border:1px solid #fff;
    font-family: arial, helvetica, sans-serif;
    font-size:8pt;
    text-decoration:none;
    font-weight:normal;
    color:#fff;
    cursor:pointer;
}

div#masthead div.tools div.search button[type]{
    padding:0px 5px; /* Firefox */
    line-height:17px; /* Safari */
}
/*TODO: figure out what this does*/
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}



div#main, div#footer, div#nav{
    width: 972px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #bbb;
    margin: 0 3px;
}
div#main {
    width: 960px;
    padding:6px;
}
div#footer {
	text-align: center;
    padding: 0px 6px;
    width: 960px;
    font-size: 14px;
    padding-bottom: 15px;
}

div#footer .g{
    color: #bbb;
}

div#footer div.sep{
    width:100%;
    height:1px;
    border-top:1px solid #CCCCCC;
    
}

div#nav {
    width: 972px;
	height:21px;
	padding:5px 0px;
}
div#nav ul{
	height:21px;
	border: 1px solid #bbb;
	border-left:0px;
	float: left;
	margin:0;
	width:100%;
}

div#nav ul li{
	height:21px;
	display: inline;
	float:left;
	border: 1px solid #bbb;
	border-width: 0 1px 0 0;
}

div#nav ul li.spacer{
	width:10px;
}

div#nav ul li.spacer:hover{
    background-color: white;
}

div#nav ul li:hover, #nav ul li#nav_cur{
	background-color: #BA0600;
}

div#nav ul li a{
	text-align: center;
	font-size: 12px;
	font-family: Arial, Helvetica, "Lucida Grande", "Lucida Sans Unicode", 
                "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", 
                "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    letter-spacing: 1px;
	padding:0px 15px;
	text-decoration: none;
	color: #666;
}

div#nav ul li:hover a, #nav ul li#nav_cur a{
	color:white;
}

body {
	text-align:center;
	background-color: #ccc;
}

/* tag cloud*/
div.tag_cloud a{
    line-height: 20px;
}
div.tag_cloud a{
    border-bottom: 1px dotted #ba0600;
    padding-bottom: -5px;
    display: block;
    float: left;
    margin: 0 5px 6px 0;
    white-space: nowrap;
}
div.tag_cloud a.largest {
    font-size: 24px;
    font-weight: bolder;
}
div.tag_cloud a.large {
	font-size: 21px;
    font-weight: bold;
}
div.tag_cloud a.medium {
	font-size: 18px;
}
div.tag_cloud a.small {
	font-size: 15px;
}

/* bordered */
div.bordered {
    border: 1px solid #bbb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
    overflow: none;
}
div.bordered h2 {
    font-size: 10px;
    color: #666;
    margin: 0 0 3px 3px;
    padding-bottom: 3px;
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
}

/* blackground  */
div.blackground {
    color: #e7e7e7;
    background-color: #222;
    border: 1px solid #222;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
div.blackground a {
    color: #e7e7e7;
    text-decoration: underline;
}
div.blackground a:hover {
    color: #aaa;
}

/* stylings */
a {
	text-decoration: none;
}
.byline{
    font-family: Helvetica, Corbel, "Lucida Grande", "Lucida Sans Unicode", 
                "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", 
                "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	font-family: Georgia, Palatino Linotype, serif;
    font-size: 10px;
    color: #000;
    line-height: normal;
    font-weight: bold;
}
.byline a{
    font-family: Helvetica, Corbel, "Lucida Grande", "Lucida Sans Unicode", 
                "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", 
                "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	font-family: Georgia, Palatino Linotype, serif;
    text-transform: uppercase;
    text-decoration: underline;
    color: #000;
    line-height: normal;
}
.dateline {
    font-size: 12px;
    color: #666;
}
.byline a:hover{
    color: #666;
}
.webonly {
    display: inline;
    color: black;
}
img {
    border: none;
}
/* ads */

div#top_leaderboard{
    width:100%;
    border-width: 1px 0px;
    border-color: #bbb;
    border-style: solid;
    margin:0 auto;
    margin-bottom: 5px;
    text-align: center;
}

div#top_leaderboard{}

div.ad{
    position: relative;
    padding-top: 5px;
    margin-top: 6px;
}
div.ad span{
    padding: 0px 4px 0px 4px;
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    top: -9px;
    background-color: white;
    color: #666;
    font-family: arial;
}
span.clear {
    display: block;
    clear: left;
}
/* yuhki labels */

div.ylabel_wrapper {
    display: inline;
}
div.ylabel_wrapper .clear {
    clear: both;
    height: 0px;
}
div.ylabel {
    background-color: #ba0600;
    color: white;
    float: left;
}
div.ylabel div.edge{
    display: block;
    background-color: white;
}
div.ylabel div.edge * {
    display: block; 
    height: 1px; 
    overflow: hidden; 
    background-color:#ba0600;
}
div.ylabel div.edge div.corner{
    margin: 0 1px; 
    height: 1px
} 
div.ylabel div.text{
    padding: 1px 3px;
    height: 14px;
    margin: 0;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 0;
}

ol{
    padding-left: 20px;
}

