/* content list */

.content_list_content ul{
    list-style: none;
}
.content_list_content li{
    clear: both;
    padding: 0 0 10px 0;
    margin: 0px 0px 10px 0px;
    border-bottom: 1px dotted #d1d1d1;
    display: block;
}
.content_list_content img, .content_list_content h3{
    display: inline;
}
.content_list_content .byline {
    display: block;
}
.content_list_content .teaser {font-size: 13px;}

/* filter area */
.content_list_filters {
    padding-bottom: 5px;
    border-bottom: 1px dotted #d1d1d1;
    margin-bottom: 10px;
}

.content_list_filters tr{
    height:20px;
}

.content_list_filters .title {
    color: #aa2222;
}
.content_list_filters > .button {
    display: inline-block;
    padding: 1px 2px;
    margin: 0 3px;
    font-size: 12px;
    
    background-color: #aa2222;
    border: 1px solid #aa2222;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.content_list_filters > .button > a {
    color: white;
    font-family: Helvetica, Arial, sans-serif;;
}
.content_list_filters > .button a:hover{
    text-decoration: underline;
}
.content_list_filters > .inverted {
    background-color: white;
}
.content_list_filters > .inverted a {
    color: #aa2222;
}

.filter_label, a.filter_label{
	font-size: 11px;
	font-family: Helvetica, Arial, sans-serif;
    font-family: arial;
    color: #666;
    font-weight: normal;
}


.content_list_filters a.filter_text{
    color: #BA0600
}

.content_list_filters .filter_check{
    margin-right: 3px;
}
.content_list_filters span.reg_text{
	font-size: 11px;
	font-family: Helvetica, Arial, sans-serif;
    font-family: arial;
    color: black;
    font-weight: normal;
}
.content_list_filters button{
    margin-right: 2px;
    width:100%;
}
.content_list_filters td{
    padding-right: 10px;
}

#filter_toggle_contents form{
    margin-left: 10px;
}

/* thumbnails */
.image_thumb{float:left;}
.image_thumb img{margin-right: 6px;}

/* pagination */
.pagination {
    text-align:center;
    width: 100%;
    font-size: .8em;
    display: inline-block;
}
.pagination > a {
    text-decoration: underline;
}