/* form styles */
form.general td{
    padding: 3px;
}
form.general td.label, form.general .errormessage{
    width: 150px;
    font-size: 13px;
    font-family: helvetica, arial, sans-serif;
}
form.general td li{
    font-size: 13px;
    font-family: helvetica, arial, sans-serif;
    margin-right: 5px;    
}
form.general .errormessage{color: #ba0600;}
form.general td.center{text-align: center;}
form.general ul.acfb-holder{
    width: 246px;
    border: 1px solid #ccc;
    background-color: #fafafa;
}
form.general input.acfb-input{
    background-color: #fafafa;
}
form.general td > input, form.general td > textarea{
    font-size: 13px;
    padding: 3px;
    width: 250px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    font-family: helvetica, arial, sans-serif;
}
form.general li{
    list-style-type: none;
    display: inline-block;
}

.static{
font-family: helvetica, arial, sans-serif;
font-size: 13px;
line-height: 18px;
}
.static p, .static ul{
    margin-bottom: 5px;
}
.static table{
    margin: 0 auto;
}
.left_navigation {
    margin-top: -10px;
    float: left;
    width: 100%;
}
.left_navigation > li{
    list-style-type: none;
}
.left_navigation > li > a{
    display: block;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    list-style-type: none;
    color: #666;
    width: 220px;
    padding: 3px;
    margin-bottom: 3px;
    background-color: #eee;
}
.left_navigation a:hover, .left_navigation > li > a.active{
	color:#ba0600;
    background-color: #d1d1d1;
}

.right_navigation {
    float: right;
    width: 100%;
}

.right_navigation-list{
	color:#666;
	list-style: none;
	font-size: 15px;
	width: 220px;
}


.right_navigation a {
	color:#666;
	font-size: 15px;
	width: 220px;
	margin-left:0px;
    padding-left:14px;

}

.right_navigation-list a:hover, .right_navigation-list  > a.active{
	color:#ba0600;
	text-decoration: none;
	background:url('../images/icons/redarrow.png');
	background-repeat: no-repeat;
	background-position:left center;
	
	padding-left:14px; 
}

.flatpage_section_header{
    background-color:#FAFAFA;
    border-bottom:1px solid #EEEEEE;
    border-left:5px solid #ba0600;
    border-top:1px solid #EEEEEE;
    color:#666666;
    display:block;
    /*font-family:"Lucida Grande", Tahoma, helvetica,arial,sans-serif;*/
    font-family:georgia,"times new roman",times,serif;
    font-size:15px;
    line-height: 10px;
    margin:15px 0;
    padding:8px;
    width:611px;
}


.masthead span{
    color:#666666;
    font-family:georgia,"times new roman",times,serif;
    font-size:12px;
    margin-bottom:2px;
}

.masthead ul{margin-bottom: 10px;}
.masthead li{
    text-align: center;
    display: block;
    width: 100%;
    list-style-type: none;
	line-height: 18px;
}
.masthead .position{
    margin-right: 3px;
	font-style: italic;
}
.masthead .board{
    text-align: center;
    display: block;
    width: 100%;
    text-transform: uppercase;
    margin-top: 12px;
    color:#666666;
    font-weight: bold;
    font-family:georgia,"times new roman",times,serif;
    font-size:12px;
}