.clear {
    display: block;
    clear: both;
}

a, a:link {
    color:#900000;
    outline:none;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}

body{
    color:#000;
    background-image:url(../images/flyby/background.png);
    background-repeat:repeat-x;
    background-color:#6b0000;
    background-attachment:fixed;
    line-height:133%;
    margin:0;
    padding:0;
    font-size:12px;
    font-family: georgia;
}

body div#container {
    float: left;
    width:610px;
    padding:0 20px 0 20px;
    border-width: 0px 2px 0px 0px;
}

body div#wrapper {
    width:900px;
    background-color:#fff;
    margin:0 auto;
    padding:0;
    background-image: url(../images/flyby/banner_back.jpg);
    background-repeat: no-repeat;
}

body div#shadow {
    width:950px;
    background:none;
    background-image:url(../images/flyby/shadow.png);
    background-repeat:repeat-y;
    margin:0 auto;
}

.related_content{
    float: left;
}
.image > .byline, .map > .byline {
	font-size: 10px;
    padding-right:5px;
    color: #000;
    text-align: right;
    text-transform: uppercase;
}
.image > .byline a, .map > .byline a{
	font-size: 10px;
    color: #000;
    text-decoration: none;
}
.image > .byline > a:hover, .map > .byline > a:hover{
    text-decoration: underline;
    color: black;
}
.tall > .caption {
    margin: 4px 4px 2px;
}
.wide > .caption {
    margin: 0 0 10px 0;
}
.image > .caption, .map > .caption{
    font-family: helvetica, arial, sans-serif;
    font-size: 11px;
    line-height: 1.4em;
    color: #777;
    width: 200px;
    display: block;
}
.image > p, .map > p{
    padding: 0;
    margin: 0;
}
.entry-meta{
    color: #999;
    background-color: #FAFAFA;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    padding: 5px;
    margin: 5px 0;
    font-size: 10pt;
    clear: both;ste
}
.entry-meta a, .entry-meta a:hover{
    color: #999;
}

body div.sidebar {
    overflow:hidden;
    padding: 0 20px 20px 20px;
    text-align:left;
    width:207px;
    float: left;
    margin:0;
}

div.nav-next{
	float:left;
}

div.nav-previous{
	float:right;
}

.nav-next  a, .nav-previous a{
    font-family: georgia, times, serif;
    font-weight: bold;
    color: #000;
    font-size: 10pt;
}


ul.blog_entries{
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

ul.blog_entries span.teaser{
    line-height: 133%;
}

h1, h3 {
margin:0;
}

h1, h3 {
    font-size:20px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
    color:#900000;
}

h3 a, h3 a:visited{
color:#900000;
}

h1 a:hover{
text-decoration:underline;
}

div#header div#blog-description {
border-top:1px solid #000;
line-height:200%;
}

div#header h1#blog-title {
font-size:3.5em;
font-weight:400;
margin:0;
padding:0;
}

p.jump{
    text-decoration: underline;
}

.entry-tags, .entry-tags a,  p.jump a:hover{
    color: #999;
    clear: both;
}

.entry-tags{
    margin-bottom: 10px;
    padding: 10px 0px;
    border-bottom: 2px dashed #ddd;
}
.entry-tags a{
    text-decoration: underline;
}
.entry-tags a:hover{
    color: black;
}

.image{
    background:#FAFAFA none repeat scroll 0 0;
    border:1px solid #DDDDDD;
    padding:5px;
    margin-bottom: 5px;
    text-align:center;
    float: left;
    margin-right: 7px;
}

div.sidebar > a, .sidebar > p > a{
    color:#900000;
}

div.sidebar > h3 {
border-bottom: 1px solid black;
margin-bottom: 10px;
font-size:1.2em;
color:#900000;
}

div.sidebar > h3 a, div.sidebar > h3 a:visited{
color:#900000;
}

div.sidebar > h3 a:hover{
text-decoration:underline;
}

div.sidebar ul{
    padding-left: 20px;
}
div.sidebar ul li{
margin:0 0 .2em;
}

img{
border:none;
}

div.footer{
    text-align: center;
    width: 100%;
}


.published, .published a{
    font-style:italic;
    border:none;
    margin: 3px 0 10px;
    color:#999;
    font-size:11px;
    font-family: georgia, times, sans-serif;
}

.text{
    font-size: 14px;
    line-height: 133%;
}

/* related content stuff */

#related_contents {
    width: 180px;
    float: left;
    margin: 0 10px 0 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 3px 0 0 0;
    padding: 5px 0 0 0;
}
#related_contents div.ylabel_wrapper {
    float: left;
    width: 150px;
}

.related_content > a > img {
    border-width: 0;
}
.related_content > a {
    margin: 0;
    display: block;
    line-height: 0;
}
.related_content span {
    margin: 0;
    line-height: normal;
}
.related_content .ctype {
    margin: 0 0 2px 0;
    font-family: Helvetica, Arial, sans-serif;
    line-height: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: gray;
    font-weight: normal;
}
.related_content .title{
    font-weight: bold;
    margin-top: 3px;
}
