/* hot topics */

div#masthead div#masthead_center div.label,
div#masthead div#masthead_center div.topics{
    float:left;
}

div#masthead div#masthead_center div.label{
    margin-right:5px;
}

div#masthead div#masthead_center div.topics{
    width:200px;
}

.ylabel{
    margin-bottom: 5px;
}

#top_opinion{
    margin-bottom: 5px;
}

#top_opinions{
    margin-bottom: 10px;
}