div#viewer_sidebar_wrapper {
    width: 332px;
}

#viewer_sidebar {
    margin: 10px 10px 10px 0;
    list-style: none;
    border: 1px solid #666;
}

#viewer_sidebar #sidebar_galleries{
    min-height: 540px;
}

#viewer_sidebar .filters, #viewer_sidebar .filter_label, #viewer_sidebar #toggle_filters{
    font-family:arial;
    font-size:10px;
    font-weight:bold;
    text-transform:uppercase;    
}

#viewer_sidebar .filters{
    display: block;
    padding: 4px 8px;
    border-bottom: 1px solid #666;
}
#viewer_sidebar .filter_label{
    width: 60px;
    display: inline-block;
}
#viewer_sidebar #toggle_filters{
    cursor: pointer;
    display: block;
    float: right;
    height: 20px;
    line-height: 16px;
    padding: 0px;
}

#viewer_sidebar li {
    display: block;
    float: left;
    height: 75px;
    width: 310px;
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #666;
}
#viewer_sidebar li.active {
    background-color: #333333
}

#viewer_sidebar .image_thumb {
    float: left;
    margin-right: 6px;
}
#viewer_sidebar .title {
    font-size: 18px;
    padding-top: 10px;
    max-height: 42px;
    overflow: hidden;
}
#viewer_sidebar .dateline {
    font-size: 11px;
    color: #777;
}
#viewer_sidebar .pagination {
    border-top: 1px solid #666;
    display: block;
    font-size: 12px;
    text-align: center;
    color: #777777;
    margin-top: -1px;
    margin-bottom: 2px;
    padding: 4px 0 2px;
}
#viewer_sidebar .pagination a{
    color: #e7e7e7;
}
#viewer_sidebar .pagination a:hover{
    color: #aaa;
}

#viewer_sidebar .empty{
    padding: 10px;
    display: block;
    font-size: 14px;
    text-align: center;
    color: #777777;
}

#viewer_sidebar .choices{
    height: 516px;
}