#rotator{
    margin-bottom: 5px;
}
div.rotator {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 300px;
    padding: 5px;
    overflow: hidden;
}
div.rotator h2{
    font-family: Arial;
    font-size: 15px;
    color: #ba0600;
    margin: 0 0 4px 2px;
    font-weight: normal;
}

div.rotator ul.preview_body{
	height:310px;
}

div.rotator ul.preview_body li{
	height:310px;
	list-style-type: none;
}

div.rotator ul.preview_body li div.preview_text h3 {
    font-size: 17px;
    font-weight: bold;
    line-height: .9;
}

div.rotator ul.preview_body li div.preview_text p.teaser {
    font-size: 13px;
}

div.rotator div.carousel {
	margin-top: 214px;
	z-index: 10000;
	position:absolute;
    width: 300px;
	overflow: hidden;
	background-image: url('../images/semitransparent.png');
    text-align: center;
}

div.rotator div#preview_roll{
	float:left;
	width: 100px;
	text-align:center;
    border: 0;
    padding: 0;
    height: 26px;
    margin: 0;
}

div.rotator div.carousel #preview_roll span{
    display:inline-block;
    margin: 0 4px;
    vertical-align: top;
    width: 16px;
    height: 100%;
    height: 26px;

}

div.rotator div.carousel #preview_roll span a{
    display: block;
    height: 26px;
    width: 16px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #999;
}

div.rotator div.carousel #preview_roll span a.activeSlide{
    color: #fff;
}

div.rotator div.carousel #preview_roll span a:hover{
    color: #fff;

}

div.rotator div.carousel div.previousbutton, 
div.nextbutton,
div.carousel #preview_roll {
	float:left;
    margin-top: 5px;
}

div.rotator div.c_items{
    text-align:center;
    margin: 0 auto;
    width: 96px;
}

div.rotator div.carousel div.previousbutton{background-image:url('../images/arrows/left_off.png');}
div.rotator div.carousel div.previousbutton:hover{background-image:url('../images/arrows/left_on.png');}
div.rotator div.carousel div.nextbutton{background-image:url('../images/arrows/right_off.png');}
div.rotator div.carousel div.nextbutton:hover{background-image:url('../images/arrows/right_on.png');}

