
div#related_articles  li{
    list-style-type: none;
    margin-bottom: 10px;
}

div#pre_content {
    width: inherit;
    float: left;
}

div#section_header {
    padding: 0px 0 7px;
	width:526px;
	display: block;
    color: #666;
    float: left;
    font-size: 11px;
    text-transform: uppercase;
    font-family: arial, sans-serif;
}
a.cg_header {
    color:#666;
}
a.cg_header:hover {
    text-decoration: none;
    color: black;
}
div.cg_header {
    width: 614px;
    background-color:#FAFAFA;
    border-bottom:1px solid #eee;
    border-left:5px solid #ba0600;
    border-top:1px solid #eee;
    font-family:georgia,"times new roman",times,serif;
    font-size:15px;
    line-height: 10px;
    margin:15px 0;
    padding:8px;
}

/* ARTICLE TOOLS */
.articletools {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
	text-align:right;
	width: 100%;
    color: #666;
    float: left;
    font-size: 12px;
    margin-right: -10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.articletools ul{
    margin-left: 5px;
    height: 26px;
    list-style: none;
    display: inline;
}
.articletools ul.left{float:left;}
.articletools ul.right{
    float: right;
    width: 220px;
    border-left: 1px solid #e5e5e5;
    padding-left: 10px;
}
.articletools ul.left li{
    float: left;
    margin-left: 5px;
}
.articletools ul.right li{
    float: left;
    margin-right: 5px;
}
.articletools li{
    height: 26px;
    display: inline;
}
.articletools li.fbook{margin-top: 3px;}
.articletools li.twitter{
    margin-top: 5px;
    width: 75px;
}
.articletools li.buzz{
    margin-top: 4px;
}
.articletools li.buzz span{
    font-family: inherit;
    text-transform: none;
}


.articletools li.email a{
    line-height: 26px;
}
.articletools li.email div > a > span{
    background: url("../images/icons/email.gif") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    height: 26px;
    width: 15px;
}


.articletools li.print > span,
.articletools li.comment > span,
.articletools li.comment > a, 
.articletools li.print > a{
    float: left;
}

.articletools > .right > li > a, .articletools > .right > li > span{line-height: 26px;}
.articletools > .right > li > span, li.email div > a > span{
    margin-right: 5px;
}
.articletools li.print > span{background: url("../images/icons/print.gif");}
.articletools li.comment > span{
    background: url("../images/icons/comment.gif");
    text-align: center;
    color: #ba0600;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    display: inline-block;
}
.articletools li.print > span, .articletools li.comment > span{
    background-repeat: no-repeat;
    background-position: center center;
    width: 17px;
    height: 100%;
}




#pre_content > a {
    display: block;
    clear:both;
    font-size: 22px;
    margin-bottom: 5px;
}
div.ylabel_wrapper {
    float: left;
}

h2 {
	font-size: 16px;
	margin: 0px 0px 10px 0px;
	color: #505050;
}

.dateline {
    margin: 0px 0px 8px 0px;
}
