div#content {
    width: 630px;
    padding-right: 4px;
    border-right: solid 1px #b5b5b5;
    float: left;
}

div#sidebar {
    width: 320px;
    margin-left: 5px;
    float: left;
}
div#articletools {
    float:right;
    font: Verdana;
    font-size: 12px;
    margin-right: 10px;
    text-transform: uppercase;
}
div#articletools a {
    color: gray;
}

h1 {
	font-size: 24px;
	margin: 0px 0px 2px 0px;
	color: #780001;
}
h2 {
	font-size: 18px;
	margin: 0px 0px 10px 0px;
	color: #505050;
}
.byline, .timestamp {
	font-size: 12px;
	margin: 0px;
	color: #707070;
	line-height: 14px;
}
.timestamp {
    margin: 0px 0px 10px 0px;
}
