
form.manage {
    padding: 10px;
}
form.manage * {
    font-size: 14px;
}
form.manage .errorlist {
    color: red;

}

form.manage .errorlist li{

	font-size: 12px;
	font-family:"Lucida Grande", Tahoma, helvetica,arial,sans-serif;
	display:block;
	}
form.manage span.help_text {
    color: #888;
    font-size: 12px;
	font-family:"Lucida Grande", Tahoma, helvetica,arial,sans-serif;
    display: block;

}
form.manage h3, form.manage h3 * {
    font-weight: normal; 
    display: inline;
    font-size:18px;
}
form.manage div.fieldWrapper{
    margin: 10px;
}
form.manage div.fieldWrapper input {
    border: 1px solid #dddddd;
}
form.manage ul.acfb-holder{

}

form.manage li {
    list-style-type: none;
    display: inline;
    margin: 0 10px 0 0;
}
form.manage button {
    margin: 10px 0 10px;
   
}
form.manage div.fieldWrapper input.acfb-input {
    border: none;
}
form.manage ul.acfb-holder {
    width: 450px;
}
p.success {
    font-size: 24px;
    margin: 10px 50px 10px;
}

form.manage td
{
vertical-align:top;
  padding: 5px 5px 5px 0;
  text-align: left;
  
}

form.manage span.errormessage{
	color: red;
	font-size: 12px;
	font-family:"Lucida Grande", Tahoma, helvetica,arial,sans-serif;
	
	
	}
