div#featured_articles p {
    line-height: 1.1;
    margin: 0 0 7px 5px;
    font-size: 13px;
}

div#featured_articles .date {
    font-size: 12px;
    color: #666;
}
div#top_contributors ul li {
    float: left;
    display: block;
    width: 148px;
    margin-bottom: 8px;
}
div#top_contributors ul * {
    font-size: 12px;
}
div#top_contributors ul img {
    float: left;
    clear: left;
    margin-right: 4px;
}