div.article_previews li {
    display: block; 
    float: left;
    margin-bottom: 14px;
}
div.article_previews div.image_thumb {
    float: left;
    margin: 0 6px 1px 0;
}
div.article_previews h3 {
    font-weight: bold;
    font-size: 17px;
    display: inline;
    line-height: 0.9;
}
div.article_previews .byline, div.article_previews .dateline {
    font-size: 11px;
}
div.article_previews .dateline {
    margin-bottom: 2px;
}
div.article_previews .teaser {
    font-size: 14px;
    clear: left;
}

div.article_headlines ul {
    list-style-type: none;
}
div.article_headlines li {
    font-size: 13px;
    margin: 0 0 6px;
}
div.article_headlines h3 {
    font-weight: normal;
    font-size: 1em;
}
div.article_headlines .byline {
    font-size: 12px;
}

div.article_feature {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
div.article_feature h3, div.article_feature p {
    text-align: left;
}
div.article_feature h3 {
    font-weight: normal;
    font-size: 16px;
}
div.article_feature .byline {
    font-size: 12px;
    margin: 4px 0 3px;
}
div.article_feature .teaser {
    font-size: 14px;
}

.column {
    width: 308px;
	padding: 0px 6px 6px 6px;
    float: left;
	overflow:hidden;
}
div#the_fold{
	clear:both;
	margin:5px 0px;
    border-bottom: 1px solid #ccc;
}

div.img_list li {
    font-size: 12px;
    width: 296px;
    height: 60px;
    margin-bottom: 5px;
    display: block;
    float: left;
}
div.img_list li img {
    float: left;
    margin-right: 4px;
}

div.series img {
    margin-bottom: 8px;
}
div.series ul{
    list-style: disc outside;
}
div.series ul li {
    display: list-item;
    margin: 0 0 5px 20px;
    width: 276px;
}
div.series ul li h3{
    font-size: 13px;
    font-weight: normal;
}

div.reviews h2 {
    border-bottom: 1px solid #bbb;
}
div.reviews ul {
    margin-bottom: 6px;
    list-style: none;
}
div.reviews li * {
    font-size: 13px;
    font-weight: normal;
}
div.reviews li h3 span {
    display: inline-block;
}
div.reviews li h3 span.link{
    width: 196px;
}
div.reviews li span.rating{
    width: 90px;
}