div#profile_corner p{
    font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
    font-size: 11px;
    margin: 0 0 4px 4px;
}

div#profile_corner p.sub{
    color: #000;
}

div#profile_corner h3{
    font-size: 11px;
    font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
    color: #666;
    margin-bottom: 2px;
}