{% extends "base.html" %}
{% load common %}
{% load module %}

{% block title %}Sitemap{% endblock %}

{% block css %}
	<style type="text/css">
	.sitemap li{
		display: inline-block;
		width: 180px;
		text-align: center;
	}
	</style>
{% endblock %}

{% block body %}
<div class="col-12">
	{% module 12 "" %}
Issues in {{year}}:
<ul class="sitemap">
{% for issue in issues %}
<li><a href="/sitemap/{{year}}/{{issue.id}}/">{{issue.issue_date|date:"n/j"}}</a></li>
{% endfor %}
</ul>
{% endmodule %}
</div>
{% endblock %}