{% extends "base.html" %}
{% load common %}
{% load module %}

{% block css %}
{{block.super}}
{% static_css "sitemap.css" %}
{% endblock %}

{% block title %}Sitemap{% endblock %}

{% block body %}
<div class="col-12">
	{% module 12 "" %}
<span class="page-title"><a href="../">Sitemap</a> > {{year}}</span>
<ul class="sitemap-issue">
{% for issue in issues %}
<li class="sitemap-cell"><a href="/sitemap/{{year}}/{{issue.id}}/">{{issue.issue_date|date:"n/j"}}</a></li>
{% endfor %}
<li class="clear" />
</ul>
{% endmodule %}
</div>
{% endblock %}