{% load common %}

{% static_js 'framework/jquery-ui.packed.js' %}
{% static_css 'framework/jquery.ui.css' %}
{% static_css 'admin/CalendarWidget.css' %}

<script type="text/javascript">
var set_calendar_picker = function(ele, hidden_input){
    // turns a date obj into a str of the calendar's format
    var make_datestring = function(date){
        var date_str = date.split("/");
		if(date_str.length != 3){
			return "";
		}
        return date_str[2] + '-' + date_str[0] + '-' + date_str[1];
    };
    
    $(ele).datepicker({
        showStatus: true,
        showOn: "both",
        buttonImage: "/admin_media/img/admin/icon_calendar.gif",
        buttonImageOnly: true,
        mandatory: true,
        onSelect: function(dateText){
            $(hidden_input).val(make_datestring(dateText));
        }
    });
	$(ele).change(function(){
		$(hidden_input).val(make_datestring($(this).val()));
	});
};

$(document).ready(function(){
    set_calendar_picker("#{{attrs.id}}_input", 
        "#{{attrs.id}}");
    
    $("#issue_picker_meta input[value={{meta_select}}]").trigger('click');
});
</script>



<p class="calendar_widget_container">
    <input type="text" class="calendar_widget" id="{{attrs.id}}_input" value="{{o_value}}"/>
</p>

{{hidden}}


