{% load common %}

<ul class="acfb-holder" id="acfb_holder_{{attrs.id}}">
    {% for pk, label in objs.iteritems %}
        <li class="acfb-data">
            <span class="label">{{label}}</span>
            <span class="pk" style="display:none">{{pk}}</span>
            <img class="p" src="{% static_url "images/delete.gif" %}"/>
        </li>
    {% endfor %}
    <li><input type="text" class="acfb-input" id="{{attrs.id}}_input" /></li>
</ul>
{{hidden}}
<script type="text/javascript">
    var acfb_{{attrs.id}};
    $(document).ready(function(){
        acfb_{{attrs.id}} = 
            jQuery("#acfb_holder_{{attrs.id}}").autoCompletefb({
                urlLookup: "{{url|escapejs}}",
                multipleInput: {{is_multiple}},
                no_duplicates: {{no_dupes}}
            });
        {% if self.add_rel %}
        var originalDismissAddAnotherPopup = dismissAddAnotherPopup;
        dismissAddAnotherPopup = function(win, newId, newRepr){
            if(win.name.indexOf("{{attrs.id}}") != -1){
                acfb_{{attrs.id}}.insertItem(newId, newRepr);
            }
            return originalDismissAddAnotherPopup(win, newId, newRepr);
        }
        {% endif %}
    });
</script>