{% load content_filters %}

<div class="search_choice_field" id="{{attrs.id}}_wrapper">
    {{ hidden }}
    <div class="ajax_search">
        <div class="search_bar">
            <span class="title">Search for {{model_name|capfirst}}s:</span>
            Tags: <input id="{{attrs.id}}_tags"> | 
            Start Date: <input class="date_input" id="{{attrs.id}}_start_date" size="10" value="{{yesterday|date:"m/d/Y"}}">
            End Date: <input class="date_input" id="{{attrs.id}}_end_date" size="10" value="{{today|date:"m/d/Y"}}">
            <a href="#" class="button" id="{{attrs.id}}_go">Find</a>
        </div>
        <ul class="results">
        </ul>
        <p class="paging_links">&nbsp;</p>
        <span style="clear:both">&nbsp;</span>
    </div>
    <span style="clear:both"></span>
    <h3>Selected {{model_name|capfirst}}s:</h3>
    <ul class="chosen_objs">
        {% for obj in obj_list %}
            <li pk="{{obj.pk}}">{{ obj|render:"admin.line_item" }}</li>
        {% empty %}
            <li>None</li>
        {% endfor %}
    </ul>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            set_search_choice_field('{{attrs.id}}', '{{ajax_url}}', '{{model_name|capfirst}}');
        });
    </script>
</div>