{% extends "models/wrapper.html" %}

{% load content_filters %}
{% load common_filters %}

{% block wrapper_classes %}{{image.orientation}}{% endblock %}

{% block wrapper_contents %}
    {% comment %}<p class="kicker">{{image.kicker}}</p>{% endcomment %}
    <a href="{{image.get_absolute_url}}">
        {% ifequal image.orientation "tall" %}
            {{image|to_img_tag:"260,"}}
        {% else %}
            {{image|to_img_tag:"630,"}}
        {% endifequal %}
    </a>
    <p class="byline">{{image.generic.contributors.all|linkify|human_list}}</p>
    <p class="caption">{{image.caption}}</p>
{% endblock %}