{% load common %}
{% load content_filters %}

<li>
    <div class="image_thumb">{{image|to_img_tag:"150,150"}}</div>
    <div style="float:right">{{image.section|yuhkilabel}}</div>
    
    <img src="{% static_url "images/icons/photo.gif" %}" alt="image" />
    <h3><a href="{{ image.get_absolute_url }}">{{ image.kicker }}</a></h3>
    <span class="byline"> By {{ image.contributors.all|linkify|human_list}}</span>
    <p class="teaser">{{ image.caption|truncatewords:"10" }}</p>
    <span class="clear"></span>
</li>