{% extends "models/page.html" %}

{% load content_filters %}
{% load common %}

{% block title %}
	{{ image.kicker }}
{% endblock %}

{% block css %}
	{{block.super}}
    {% static_css "image.css" %}
{% endblock %}

{% block top_content %}
    <h1>{{ image.kicker }}</h1>
    <div class="image">{{ image|to_img_tag:"STAND" }}</div>
	{{block.super}}
{% endblock %}
{% block bottom_content %}
    <div class="caption">
        {{ image.caption }}
    </div>
    {{block.super}}
{% endblock %}

