{% extends "models/wrapper.html" %}

{% load content_filters %}
{% load common %}

{% block wrapper_contents %}
    <div id="wide" class="image wide">
    
    <object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/{{youtubevideo.key}}&hl=en&fs=1&hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/{{youtubevideo.key}}&hl=en&fs=1&hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
    
    <p class="byline">CRIMSON/ {{youtubevideo.contributors.all|linkify|human_list}}</p>
    <p class="caption">{{youtubevideo.description}}</p>
</div>
{% endblock %}