{% load content_filters %}
<div style="margin-bottom:10px;">
<div style="float: left; width:260px;">
<object width="260" height="200"><param name="movie" value="http://www.youtube.com/v/{{youtubevideo.key}}&hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/{{youtubevideo.key}}&hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="260" height="200"></embed></object>
</div>
<h3 style="font-size:13px;"><a href="{{youtubevideo.get_absolute_url}}">{{youtubevideo.title}}</a></h3>
</div>
