{% extends "models/print.html" %}

{% load content_filters %}
{% load common %}

{% block title %}
	{{ youtubevideo.title }}
{% endblock %}


{% block content %}
<img src="{% static_url "images/print_view_banner.png" %}" />
<hr />
<div class="dateline">
    {{ youtubevideo.issue.issue_date|date:"F d, Y" }}
</div>
<p>
To view this video on YouTube, please navigate to <a href="http://www.youtube.com/watch?v={{youtubevideo.key}}">http://www.youtube.com/watch?v={{youtubevideo.key}}</a>
</p>
{% endblock %}
