{% extends "base.html" %}

{% load common %}
{% load content_filters %}
{% load content_module %}
{% load tag_cloud %}

{% block title %}
	{{ "Harvard News" }}
{% endblock %}

{% block inhead %}
    {% static_css "threecolumn.css" %}
	{% block css %}{% endblock %}
    {% block js %}{% endblock %}
    
{% endblock %}

{% block body %}
        <div class="col-4">
        {% block leftcolumn %}{% endblock %}
        </div>
        <div class="gutter"></div>
        <div class="col-4">
        {% block middlecolumn %}{% endblock %}
        </div>
        <div class="gutter"></div>
        <div class="col-4">
        {% block rightcolumn %}{% endblock %}
        </div> 
        <span class="clear"></span>
{% endblock %}
