{% extends "models/page.html" %}

{% load content_filters %}
{% load common %}

{% block title %}
	{{ map.title }}
{% endblock %}

{% block css %}
    {% static_css "map.css" %}
{% endblock %}

{% block content %}
    <h1>{{ map.title }}</h1>

    {% static_js "http://maps.google.com/maps?file=api&v=2&key=ABQIAAAA--Z_bVpXIL9HJpQ50CHbfRRi_j0U6kJrkFvY4-OX2XYmEAa76BS5oixsScFqNPn7f8shoeoOZviFMg" %}
    <script type="text/javascript">
    gmap = new GMap2(document.getElementById('map_preview'));
    gmap.setCenter(new GLatLng({{ map.center_lat }},{{ map.center_lng }}), {{ map.zoom_level }});
    {% for marker in map.markers.all %}
        var point = new GLatLng({{ marker.lat }},{{ marker.lng }});
        var marker{{ marker.pk }} = new GMarker(point);
        gmap.addOverlay(marker{{ marker.pk }}, { title: "{{ map.title }}" });
        {% if marker.popup_text %}
            GEvent.addListener(marker{{ marker.pk }}, "click", function(){marker{{ marker.pk }}.openInfoWindow("{{ marker.popup_text }}")});
        {% endif %}
    {% endfor %}
    gmap.addControl(new GLargeMapControl());
    </script>
    <div id="map_preview" style="width:100%; height:500px;"></div>
    {% if map.main_rel_content %}
        {{ map.main_rel_content|render:"map.main" }}
    {% endif %}
    <div class="byline">
        By {{ map.contributors.all|linkify|human_list }}
    </div>
    <div class="timestamp">
        Published: {{ map.issue.issue_date|date:"F d, Y" }}
    </div>
    <p>{{ map.caption }}</p>
    {{block.super}}
{% endblock %}

{% block sidebar %}
    text in the sidebar
{% endblock %}