{% extends "models/page.html" %}

{% load content_filters %}
{% load common %}

{% block title %}
	{{ map.title }} | {{ map.section }}
{% endblock %}

{% block type %}
    Section
{% endblock %}

{% block category %}
    {{ map.section }}
{% endblock %}

{% block css %}
	{{block.super}}
    {% static_css "map.css" %}
{% endblock %}

{% block js %}
	{{block.super}}
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript">
	$(document).ready(function() {



		var latlng = new google.maps.LatLng({{ map.center_lat }},{{ map.center_lng }});
	    var myOptions = {
		  zoom: {{map.zoom_level}},
		  center: latlng,
	      mapTypeId: google.maps.MapTypeId.ROADMAP
	    };
	    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

	    {% for marker in map.markers.all %}
        	var point = new google.maps.LatLng({{ marker.lat }},{{ marker.lng }});
		  	var marker{{marker.pk}} = new google.maps.Marker({
		      	position: point, 
		      	map: map, 
		      	title:"{{map.title}}"
		  	});


			{% if marker.popup_text %}
				var infowindow{{marker.pk}} = new google.maps.InfoWindow({
				    content: '{{marker.popup_text|safe}}',
				});
				google.maps.event.addListener(marker{{marker.pk}}, 'click', function() {
				  infowindow{{marker.pk}}.open(map,marker{{marker.pk}});
				});
			{% endif %}
	    {% endfor %}
	});
	</script>
{% endblock %}

{% block top_content %}
	<h1>{{map.title}}</h1>
	{{block.super}}
{% endblock %}


{% block bottom_content %}
	<div id="map_canvas" style="width:100%; height:500px;"></div>
    {% if map.main_rel_content %}
        {{ map.main_rel_content|render:"map.main" }}
    {% endif %}
    <p>{{ map.caption }}</p>
    {{block.super}}
{% endblock %}

