{% extends "models/print.html" %}

{% load content_filters %}
{% load common %}

{% block title %}
	{{ map.title }}
{% endblock %}


{% block content %}
<img src="{% static_url "images/print_view_banner.png" %}" />
<hr />
<div class="dateline">
    {{ map.issue.issue_date|date:"F d, Y" }}
</div>

    <h1>{{ map.title }}</h1>
    <div class="byline">
        {{ map.contributors.all|human_list }}
    </div>
    <div class="image">{{ map|to_map_thumb:"630" }}</div>
    {{ block.super }}
    <div class="text">{{map.caption}}</div>
{% endblock %}
