{% extends "static.html" %}

{% block title %}Contact Us{% endblock %}

{% load common %}
{% load content_module %}
{% load module %}

{% block css %}
	{% static_css "subscribe.css" %}
	{{ block.super }}
{% endblock %}

{% block js %}
    {% static_js "jquery.js" %}
{% endblock %}

{% block content %}
{% module 8 contact red %}
    {% block content_inner %}
        <div class="flatpage_section_header">Submit your Question or Concern</div>
        <div class="contactform">
            <form class="general" action="/contact/" method="post">
            {{ form.non_field_errors }}
            <table>
	            {% if form.errors %}
	            <tr><td colspan="2" class="center errormessage">All fields are required.</td></tr>
	            {% endif %}
				{% for field in form %}
				<tr>
				    <td class="label">
				    {% if field.errors %}<span class="errormessage2">{% endif %}
				    {{ field.label_tag }}: 
				    {% if field.errors %}</span>{% endif %}					
				    </td>
				    <td class="field">{{ field }}</td>
				</tr>
				{% endfor %}
				<tr>
                    <td class="center" colspan="2"><button type="submit">Contact Us</button></td>
                </tr>
            </table>
            </form>
        </div>
    {% endblock %}
{% endmodule %}
{% endblock %}

{% block fp_nav %}
	{% flatpage_nav about "/about/contact/" %}
		{% contentmodule flatpage_nav %}{% endcontentmodule %}
    {% endflatpage_nav %}
{% endblock %}