{% extends "static.html" %}

{% load common %}
{% load content_module %}
{% load module %}

{% block css %}
	{% static_css "subscribe.css" %}
	{{ block.super }}
{% endblock %}

{% block js %}
    {% static_js "jquery.js" %}
{% endblock %}

{% block content %}
{% module 8 contact red %}
    {% block content_inner %}
        <div class="message">Thank you. We will respond to you in a timely manner.</div>
    {% endblock %}
{% endmodule %}
{% endblock %}

{% block fp_nav %}
	{% flatpage_nav about "/about/content/" %}
		{% contentmodule flatpage_nav %}{% endcontentmodule %}
    {% endflatpage_nav %}
{% endblock %}