{% extends "base.html" %}

{% load cache %}
{% load common %}
{% load content_filters %}
{% load top_articles %}
{% load tag_cloud %}
{% load module %}

{% block rss %}
<link rel="alternate" type="application/rss+xml" 
  title="RSS Feed for {{content.section}} on www.thecrimson.com" 
  href="/feeds/section/{{content.section|lower}}/" />
{% endblock %}

{% block css %}
	{{block.super}}
	{% static_css "single_content.css" %}
{% endblock %}
{% block js %}
	{% static_js "jquery.js" %}
{% endblock %}

{% block body %}
    <div class="col-8">
        {% module 8 "" red %}
			{% block top_content %}{% endblock %}
            {% block top_social %}
			
 				<div class="articletools">
					<ul class="left">
						<li class="fbook">
							<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.thecrimson.com{{content.get_absolute_url}}&amp;layout=button_count&amp;show_faces=false&amp;width=75&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:75px; height:21px;" allowTransparency="true"></iframe>

						</li>
						<li class="twitter">
							<script type="text/javascript">
							tweetmeme_style = 'compact';
							</script>
							<script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
						</li>

						<li class="buzz">
							<a title="Post on Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post?{% if article.main_rel_content %}{% ifnotequal article.main_rel_content.content_type.model "article" %}imageurl={{article.main_rel_content.absolute_url}}{% endifnotequal %}{% endif %}" data-button-style="small-count"></a>
							<script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
						</li>

						
					</ul>

					<ul class="right">
						{% cache 600 comments content.pk %}
						<li class="comment">
							<span>{% if content.num_comments %}{{content.num_comments}}{% endif %}</span>
							<a href="#comment">Comment</a>
						</li>
						{% endcache %}
						<li class="email">
							<div class="addthis_toolbox addthis_default_style">
							<a class="addthis_button_email">Email</a>
							</div>
							<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=thecrimson"></script>
						</li>
						<li class="print">
							<span></span>
							<a href="?print=1">Print</a>
						</li>					
					</ul>


                </div>


<div style="clear:both;"></div>
            <div id="pre_content">
            {% if content.group %}{% spaceless %}
                <a href="{{ content.group.get_absolute_url }}" class="cg_header">
                    <div class="cg_header">{{ content.group.name }}</div>
                </a>
            {% endspaceless %}{% endif %}
            </div>
            {% endblock %}

        {% block bottom_content %}
        {% endblock %}
        {% endmodule %}

        <!-- for stuff that can't be in a module, like viewers -->
        {% block outside_content %}
        {% endblock %}


        {% block related %}
        {% with content.rel_content.all|rel_articles as ras %}
        {% if ras %}
            <div id="related_articles">
                <h3>Related Articles:</h3>
                <ul>
                {% for ra in ras %}
                    <li>{{ ra|linkify  }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% endwith %}
        {% endblock %}

        {% module 8 "" none %}
        <div id="tags">
            {% with content.tags.all as a_tags %}
                {% if a_tags %}
                    {{"Tags"|yuhkilabel}} 
                {% endif %}
                {% for tag in a_tags %}
                    <a class="tag" href="{{ tag.get_absolute_url }}">{{ tag.text }}</a>{% ifnotequal forloop.last 1 %}, {% endifnotequal %}
                {% endfor %}
            {% endwith %}
        </div>
        {% endmodule %}
        

        
        <a name="comment"></a>
        {% block post_content %}
	        {% module 8 comment %}
	                {% if disqus %}
	                <div id="disqus_thread"></div>
	                <script type="text/javascript" src="http://disqus.com/forums/thecrimson/embed.js"></script>
	                <noscript>
	                    <a href="http://thecrimson.disqus.com/?url=ref">View the discussion thread.</a>
	                </noscript>
	                <a href="http://disqus.com" class="dsq-brlink">blog comments powered by 
	                    <span class="logo-disqus">Disqus</span></a>
	                {% endif %}
	        {% endmodule %}
        {% endblock %}
    </div>
    
    <div class="gutter"></div>
    
    <div id="sidebar" class="col-4">
        {% block sidebar %}
			{% block sharing %}

			{% endblock %}

            {% block mostreadarticles %}
                {% cache 500 mrapage content.section %}
                    {% most_read_articles content.section %}
                {% endcache %}
            {% endblock %}

            {% module 4 "" box %}
                {% advertisement 61 %}
            {% endmodule %}

            {% module 4 "" box %}
                {% advertisement 59 %}
            {% endmodule %}

            {% tag_cloud 20 "Popular Tags" %}
                
			{% endblock %}
    </div>
	<div style="clear:both"></div>
{% endblock %}