{% extends "base.html" %}

{% load common_filters %}
{% load top_articles %}
{% load tag_cloud %}

{% block inhead %}
    <link type="text/css" rel="stylesheet" href="/site_media/css/single_content.css" />
    {% block css %}
    {% endblock %}
    <script type="text/javascript" src="/site_media/scripts/jquery.js"></script>
    {% block js %}
        
    {% endblock %}
{% endblock %}

{% block body %}
    <div id="content">
        {% block pre_content %}
            {{ content.section|yuhkilabel }}
            <div id="articletools">
                <a href="#">Print</a> | <a href="#">Share</a>
            </div>           
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        {% most_read_articles %}
        <p>ad goes here</p>
        {% tag_cloud 20 "Popular Tags" %}
        {% block sidebar %}
        {% endblock %}
    </div>
{% endblock %}