{% load common %}
{% load content_filters %}

<div class="header">
    <h1><a href="{{ imagegallery.get_absolute_url }}">{{ imagegallery.title }}</a></h1>
</div>
<div class="media">{{ imagegallery.cover_image|to_img_tag:"600,450" }}</div>
<div class="media_info">
    <div class="media_details">
        <div class="right">
                <div class="byline">CRIMSON/ {{ imagegallery.cover_image.contributors.all|linkify|human_list }}</div>
                <div class="buyline"><img src="{% static_url "images/icons/shoppingcart.gif" %}" />Buy</div>
            <p class="tags_heading">Photo {{"Tags"|yuhkilabel:"black"}}</p>
            <p class="tags">{{ imagegallery.cover_image.tags.all|linkify|human_list}}</p>
        </div>
        
        <div class="left">
            <h3>{{ imagegallery.cover_image|linkify:imagegallery.cover_image.kicker }}</h3>
            <p>{{ imagegallery.cover_image.caption }}</p>
        </div>
        <span class="clear" />
    </div>

    <div class="gallery_control">
        <span class="arrow" id="gal_left"> <img src="{% static_url "images/left_off.gif" %}"/></span>
        <div class="carousel_frame">
            <div class="carousel">
            {% spaceless %}
            {% for img in imagegallery.images.all %}
                <a href="{{ img.get_absolute_url }}">{{ img|to_img_tag:"50,50,1,1" }}</a>
            {% endfor %}
            {% endspaceless %}
            </div>
        </div>
        <span class="arrow" id="gal_right"> <img src="{% static_url "images/right_off.gif" %}"/></span>
    </div>
</div>




<script type="text/javascript">
        $(document).ready(function(){
            /* ========= the carousel stuff ============== */
            var num_items = $(".carousel_frame .carousel").children().length - 6;
            $(".carousel_frame .carousel").css("width", (num_items + 6) * 54);
            var cur_item = 0;
            // returns false if the slide was unsuccessful
            var slide_carousel = function(dir){
                if(cur_item + dir > num_items || cur_item + dir < 0){
                    return false;
                }
                var p = parseInt($(".carousel_frame .carousel").css("left"))
                $(".carousel_frame .carousel").animate({left: p - 54 * dir}, "normal");
                cur_item += dir;
                return true;
            }
            $("#gal_left").click(function(){slide_carousel(-1)});
            $("#gal_right").click(function(){slide_carousel(1)});
            
            /* ========== changing photos in the gallery ============ */
            var _photo_cache = {};
            
            $(".carousel_frame .carousel a").click(function(e){
                var url = $(this).attr('href');
                
                // destroy the old object in the viewer area and add the new item
                var inject_results = function(results){
                    results = results.split("<!-- split -->");
                    
                    //img_url = img_url.split('_');
                    //img_url = img_url[url.length - 1];
                    
                    //var img_ht = parseInt(img_url.substring(img_url.indexOf('x'), img_url.indexOf('.') + 1));
                    //var mar = (450 - img_ht) / 2;
                    $("#media_viewer div.media").fadeOut('fast', function(){
                        $(this).empty().append($(results[0]));
                        
                        // center the image vertically
                        var img_url = $(this).children("img").attr("src");
                        img_url = img_url.split('_');
                        img_url = img_url[img_url.length - 1];
                        var img_ht = parseInt(img_url.substring(img_url.indexOf('x') + 1, img_url.indexOf('.')));
                        var mar = (450 - img_ht) / 2;
                        if( mar ){
                            $("div.media").children("img").css("margin", mar + "px 0");
                        }
                        $(this).fadeIn('fast');
                        $("#media_viewer div.media_details").fadeOut('fast', function(){
                            $(this).empty().append($(results[1])).fadeIn('fast');
                        });
                    });
                }
                
                // look for the object in the cache, fallback on ajax
                if(_photo_cache.hasOwnProperty(url)){
                    inject_results(_photo_cache[url]);
                } else {
                    $.get(url, {render:'media_viewer_gallery'}, function(html){
                        _photo_cache[url] = html;
                        inject_results(html);
                    },'html');
                }
                return false;
            });
        });
</script>