{% extends 'content_list.html' %}
{% load content_filters %}
{% load module %}
{% load common %}
{% load content_filters %}

{% block css %}
	{{block.super}}
    {% static_css "content_list.css" %}
{% endblock %}
{% block js %}
	{% static_js "jquery.js" %}
	{% static_js "search_list.js" %}
{% endblock %}

{% block title %}Search{% endblock %}
{% block body %}
<form method="get" action=".">
    {{block.super}}
</form>
{% endblock %}

{% block left %}
    <div class="search_form">
        {% module 2 "filter" %}

        <span class="filter_label">SORT BY:</span><br />
        {{form.order_res}}<br />

        <span class="filter_label">START DATE:</span>
        {{form.start_date}}

        <span class="filter_label">END DATE:</span>
        {{form.end_date}}
    </div>
    {% endmodule %}
{% endblock %}

{% block content_filters %}
    <h1>Search</h1>
    <div class="content_list_filters">
            <table>
                    <tr>
                        <td><span class="filter_label">QUERY: </span></td>
                        <td>{{form.q}}</td>
	                    <td>
	                        <button class="submit" value="Search"><span>Search</span></input>
	                    </td>
                    </tr>
            </table>
        </form>
    </div>
    
{% endblock %}

{% block content_list %}
    <div class="content_list_content">
	    {% include "ajax/search_results_page.html" %}
    </div>
{% endblock %}

{% block right %}
{% if form.q %}
{% module 4 "related contributors" box %}
	{% if contributors %}
		<ul class="sub_search_results">
		{% for contributor in contributors %}
			<li><a href="{{contributor.object.get_absolute_url}}">{{contributor.object}}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		No matching contributors found.
	{% endif %}
{% endmodule %}

{% module 4 "related tags" box %}
	{% if tags %}
		<ul class="sub_search_results">
		{% for tag in tags %}
			<li><a href="{{tag.object.get_absolute_url}}">{{tag.object.text}}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		No matching tags found.
	{% endif %}
{% endmodule %}
{% endif %}

{{block.super}}
{% endblock %}