{% extends "base.html" %}
{% load common %}
{% load module %}

{% block title %}
    {{ flatpage.title }}
{% endblock %}

{% block css %}
{% static_css "flatpages.css" %}
{% endblock %}

{% block body %}
    <div class="col-3">
    {% module 3 navigation %}
    {% endmodule %}
        <ul class="left_navigation">
        {% flatpage_nav about flatpage.url %}
            <a href="/search/">Archives</a>
            <a href="/classifieds/">Classifieds</a>
            <a href="/corrections/">Corrections</a>
            <a href="http://www.crimsonprinting.net">Printing</a>
            <a href="/subscribe/">RSS</a>
            <a href="/subscribe/">Subscriptions</a>
        {% endflatpage_nav %}
        </ul>
    </div>

    <div class="gutter"></div>
    
    <div class="col-9">
    {% module 9 flatpage.title red %}
        {{ flatpage.content }}
    {% endmodule %}
    </div>
    
    <span class="clear" />
{% endblock %}