{% extends "models/wrapper.html" %}

{% load crimson_filters %}

{% with imagegallery.cover_image as image %}

    {% block wrapper_classes %}{{image.orientation}} image{% endblock %}

    {% block wrapper_contents %}
        <p class="kicker">{{image.kicker}}</p>
        <a href="{{imagegallery.get_absolute_url}}">
            {% ifequal image.orientation "tall" %}
                {{image|to_img_tag:"240,"}}
            {% else %}
                {{image|to_img_tag:"390,"}}
            {% endifequal %}
        </a>
        <p class="byline">{{image.generic.contributors.all|linkify|human_list}}</p>
        <p class="caption">{{image.caption}}</p>
    {% endblock %}

{% endwith %}