{% extends "base.html" %}

{% load common %}

{% block inhead %}
    {% static_js "jquery.js" %}
    {{ form.media }}
{% endblock %}

{% block body %}
    <div>
    <p>{% firstof status "You've just been emailed a confirmation code. Enter it in the box below to activate your subscription!" %}</p><br />
    </div>
    <div>
        <form action="." method="POST">
            {% for field in form %}
                <div class="fieldWrapper">
                    <span class="fieldError">{{ field.errors }}</span>
                    {{ field.label_tag }}: {{ field }}
                </div>
            {% endfor %}
        <input type="submit" value="submit" />
        </form>
    </div>
    
{% endblock %}