{% extends "subscribe.html" %}

{% load common %}

{% block js %}
    {% static_js "jquery.js" %}
    {{ form.media }}
    {% if submit %}
        <script>
            // autosubmit the form.
            $(document).ready(function(){
                $('form#confirm').submit();
            });
        </script>
    {% endif %}
{% endblock %}

{% block content_inner %}
{% if error %}
    <p>Sorry, there was an error.</p>
{% else %}{% if success %}
    <p>Your email subscription is now active!</p>
{% else %}{% if submit %}
    <div>
    <form action="." method="POST" id="confirm">
        {{ form.as_p }}
        <input type="submit" value="Confirm Your Subscription!">
    </form>
    </div>
{% endif %}{% endif %}{% endif %}
{% endblock %}