{% extends "base.html" %}

{% load common %}

{% block inhead %}
    {% static_js "jquery.js" %}
    {{ form.media }}
    <style>
        form.manage {
            padding: 10px;
        }
        form.manage * {
            font-size: 24px;
        }
        form.manage .errorlist {
            color: red;
        }
        form.manage span.help_text {
            color: #888;
            font-size: 16px;
            display: block;
        }
        form.manage h3, form.manage h3 * {
            font-weight: normal; 
            font-size: 32px;
            margin: 50px 0 0;
        }
        form.manage div.fieldWrapper input {
            border: 1px solid #dddddd;
        }
        form.manage div.fieldWrapper {
            margin: 25px 0 0;
        }
        form.manage li {
            list-style-type: none;
            display: inline;
            margin: 0 10px;
        }
        form.manage button {
            margin: 40px 0 10px;
            padding: 10px;
        }
        form.manage div.fieldWrapper input.acfb-input {
            border: none;
        }
        form.manage ul.acfb-holder {
            width: 600px;
        }
        p.success {
            font-size: 24px;
            margin: 10px 50px 10px;
        }
    </style>
{% endblock %}

{% block body %}
{% if fail %}
    <p class="notice">Something went wrong.  Try pasting the entire URL
        into your browser.</p>
{% else %}{% if success %}
    <p>Your email subscription has been successfully edited.</p>
{% endif %}
    <div>
        <h3>Manage your email subscription.</h3>
    </div>
    <div>
        <form class="manage" action="." method="post">
            <h3>{{ form.non_field_errors }}</h3>
            <h3><label for="id_email">What's your email address?</label></h3>
            <div class="fieldWrapper">
                {{ form.email.errors }}
                {{ form.email }}
                <span class="help_text">{{ form.email.help_text }}</span>
            </div>
            <h3>What are you interested in?</h3>
            <div class="fieldWrapper">
                {{ form.top_stories.errors }}
                {{ form.top_stories.label_tag }}: {{ form.top_stories }}
                <span class="help_text">{{ form.top_stories.help_text }}</span>
            </div>
            <div class="fieldWrapper">
                {{ form.sections.errors }}
                {{ form.sections.label }}: {{ form.sections }}
                <span class="help_text">{{ form.sections.help_text }}</span>
            </div>
            <div class="fieldWrapper">
                {{ form.contributors.errors }}
                {{ form.contributors.label_tag }}: {{ form.contributors }}
                <span class="help_text">{{ form.contributors.help_text }}</span>
            </div>
            <div class="fieldWrapper">
                {{ form.tags.errors }}
                {{ form.tags.label_tag }}: {{ form.tags }}
                <span class="help_text">{{ form.tags.help_text }}</span>
            </div>
            {{ form.id }} {{ form.passcode }}
        <button type="submit">Change</button>
        </form>
    </div>
{% endif %}
{% endblock %}