{% extends "subscribe.html" %}

{% block email_subscriptions %}
	{% if signup %}
	    {% ifequal status "success" %}
	        <p class="success">We've sent a confirmation email to {{ email }}.
	            To activate your email alerts, open the email we've sent you and 
	            follow the instructions inside.</p>
	    {% endifequal %}
	    {% ifequal status "fail" %}
	        <p class="notice">Something went wrong.  Try pasting the entire URL
	            into your browser.</p>
	    {% endifequal %}
	{% else %}
	    {% ifequal status "fail" %}
	        <p class="notice">Something went wrong.  Try pasting the entire URL
	            into your browser.</p>
	    {% endifequal %}
	    {% ifequal status "edited" %}
	        <p>Your email subscription has been successfully edited.</p>
	    {% endifequal %}
	    {% ifequal status "unsubscribed" %}
	        <p>You are now unsubscribed.</p>
	    {% endifequal %}
	    {% ifnotequal status "unsubscribed" %}
	    <div>
	        <h3>Manage your email subscription.</h3>
	    </div>
	    {% endifnotequal %}
	{% endif %}
	{% ifnotequal status "success" %}
	    <div>
	        <form class="manage" action="." method="post">
	            {{ form.non_field_errors }}
				{% if form.email.errors %}
					<span class="errormessage">Please check the highlighted areas below.</span><br /><br />
				{% endif %}
				<table>
				<tr>
					<td class="field">
					{% if form.email.errors %}<span class="errormessage">{% endif %}
					{{ form.email.label_tag }}
					{% if form.email.errors %}</span>{% endif %}					
					</td>
					<td>{{ form.email }}
					<span class="help_text">{{ form.email.help_text }}</span></td>
				</tr>
				<tr>
					<td class="field">
					{% if form.top_stories.errors %}<span class="errormessage">{% endif %}
					{{ form.top_stories.label_tag }}
					{% if form.top_stories.errors %}</span>{% endif %}					
					</td>
					<td>{{ form.top_stories }}
					<span class="help_text">{{ form.top_stories.help_text }}</span></td>
				</tr>			
				<tr>
					<td class="field">
					{% if form.sections.errors %}<span class="errormessage">{% endif %}
					{{ form.sections.label_tag }}
					{% if form.sections.errors %}</span>{% endif %}					
					</td>
					<td>{{ form.sections }}
					<span class="help_text">{{ form.sections.help_text }}</span></td>
				</tr>
				<tr>
					<td class="field">
					{% if form.contributors.errors %}<span class="errormessage">{% endif %}
					{{ form.contributors.label_tag }}
					{% if form.contributors.errors %}</span>{% endif %}					
					</td>
					<td>{{ form.contributors }}
					<span class="help_text">{{ form.contributors.help_text }}</span></td>
				</tr>
				<tr>
					<td class="field">
					{% if form.tags.errors %}<span class="errormessage">{% endif %}
					{{ form.tags.label_tag }}
					{% if form.tags.errors %}</span>{% endif %}					
					</td>
					<td>{{ form.tags }}
					<span class="help_text">{{ form.tags.help_text }}</span></td>
				</tr>
				<tr>
					<td></td>
					<td>
	            {{ form.id }} {{ form.passcode }}
	        {% if manage %}
	            <button type="submit" value="change" name="submit">Change</button>
	            <button type="submit" value="unsubscribe" name="submit">Unsubscribe</button>
	        {% else %}
	            <button type="submit">Sign up!</button>
	        {% endif %}
					    </td>
				</tr>
				</table>
	        </form>
	    </div>
	{% endifnotequal %}
{% endblock %}