<tr>
    <td class="field">
    {% if form.email.errors %}<span class="errormessage2">{% endif %}
    {{ form.email.label_tag }}
    {% if form.email.errors %}</span>{% endif %}					
    </td>
    <td>{{ form.email }}
    <span class="help_text">{{ form.email.help_text }}</span></td>
</tr>
<tr>
    <td class="field">
    {% if form.top_stories.errors %}<span class="errormessage2">{% endif %}
    {{ form.top_stories.label_tag }}
    {% if form.top_stories.errors %}</span>{% endif %}					
    </td>
    <td>{{ form.top_stories }}
    <span class="help_text">{{ form.top_stories.help_text }}</span></td>
</tr>			
<tr>
    <td class="field">
    {% if form.sections.errors %}<span class="errormessage2">{% endif %}
    {{ form.sections.label_tag }}
    {% if form.sections.errors %}</span>{% endif %}					
    </td>
    <td>{{ form.sections }}
    <span class="help_text">{{ form.sections.help_text }}</span></td>
</tr>
<tr>
    <td class="field">
    {% if form.contributors.errors %}<span class="errormessage2">{% endif %}
    {{ form.contributors.label_tag }}
    {% if form.contributors.errors %}</span>{% endif %}					
    </td>
    <td>{{ form.contributors }}
    <span class="help_text">{{ form.contributors.help_text }}</span></td>
</tr>
<tr>
    <td class="field">
    {% if form.tags.errors %}<span class="errormessage2">{% endif %}
    {{ form.tags.label_tag }}
    {% if form.tags.errors %}</span>{% endif %}					
    </td>
    <td>{{ form.tags }}
    <span class="help_text">{{ form.tags.help_text }}</span></td>
</tr>