{% extends "subscribe.html" %}

{% block js %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content_inner %}
    <div class="flatpage_section_header">Email Subscriptions</div>
	{% if signup %}
	    {% ifequal status "success" %}
	        <p class="success">We've sent a confirmation email to {{ email }}.
	            To activate your email alerts, open the email we've sent you and 
	            follow the instructions inside.</p>
	    {% endifequal %}
	    {% ifequal status "fail" %}
	        <p class="notice">Something went wrong.  Try pasting the entire URL
	            into your browser.</p>
	    {% endifequal %}
	{% else %}
	    {% ifequal status "fail" %}
	        <p class="notice">Something went wrong.  Try pasting the entire URL
	            into your browser.</p>
	    {% endifequal %}
	    {% ifequal status "edited" %}
	        <p>Your email subscription has been successfully edited.</p>
	    {% endifequal %}
	    {% ifequal status "unsubscribed" %}
	        <p>You are now unsubscribed.</p>
	    {% endifequal %}
	    {% ifnotequal status "unsubscribed" %}
	    <div>
	        <h3>Manage your email subscription.</h3>
	    </div>
	    {% endifnotequal %}
	{% endif %}
	{% ifnotequal status "success" %}
	    <div>
	        <form class="manage" action="." method="post">
	            {{ form.non_field_errors }}
				{% if form.email.errors %}
					<span class="errormessage">Please check the highlighted areas below.</span><br /><br />
				{% endif %}
				<table>
				{% include "email/manage_form.html" %}
				<tr>
					<td></td>
					<td>
	            {{ form.id }} {{ form.passcode }}
	        {% if manage %}
	            <button type="submit" value="change" name="submit">Change</button>
	            <button type="submit" value="unsubscribe" name="submit">Unsubscribe</button>
	        {% else %}
	            <button type="submit">Sign up!</button>
	        {% endif %}
					    </td>
				</tr>
				</table>
	        </form>
	    </div>
	{% endifnotequal %}
{% endblock %}