{% extends "models/wrapper.html" %}

{% load content_filters %}
{% load common %}

{% block wrapper_classes %}{{gallery.cover_image.orientation}} image{% endblock %}
{% block wrapper_contents %}
    <p class="kicker">{{gallery.cover_image.kicker}}</p>
    <a href="{{gallery.get_absolute_url}}">
        {% ifequal gallery.cover_image.orientation "tall" %}
            {{gallery|to_img_tag:"300,"}}
        {% else %}
            {{gallery|to_img_tag:"STAND"}}
        {% endifequal %}
    </a>
    <p class="byline">By {{gallery.cover_image.contributors.all|linkify|human_list}}</p>
    <p class="caption">{{gallery.cover_image.caption}}</p>
{% endblock %}