<tr>
<td class=time>6:07 PM</td>
<td class=blogpost>
<center>
<div class="photos">
	<ul class="thumbs">
		<li><a href="javascript:void(0)" onclick="switch_product_img('photo_1', 8);"><img src="imagegallery/telephone.jpg" alt="" /></a></li>  <---- forloop.counter
		<li><a href="javascript:void(0)" onclick="switch_product_img('photo_2', 8);"><img src="imagegallery/badromance.jpg" alt="" /></a></li>
		<li><a href="javascript:void(0)" onclick="switch_product_img('photo_3', 8);"><img src="imagegallery/thefamemonster.jpg" alt="" /></a></li>
        <li><a href="javascript:void(0)" onclick="switch_product_img('photo_4', 8);"><img src="imagegallery/paparazzi.jpg" alt="" /></a></li>
        <li><a href="javascript:void(0)" onclick="switch_product_img('photo_5', 8);"><img src="imagegallery/lovegame.jpg" alt="" /></a></li>
        <li><a href="javascript:void(0)" onclick="switch_product_img('photo_6', 8);"><img src="imagegallery/pokerface.jpg" alt="" /></a></li>
        <li><a href="javascript:void(0)" onclick="switch_product_img('photo_7', 8);"><img src="imagegallery/justdance.jpg" alt="" /></a></li>
        <li><a href="javascript:void(0)" onclick="switch_product_img('photo_8', 8);"><img src="imagegallery/thefame.jpg" alt="" /></a></li>
	</ul>
	<div id="photo_1"><img src="imagegallery/telephone.jpg" /></div>                                                                        <---- filter to appropriate fixed size
	<div id="photo_2" style="display:none;"><img src="imagegallery/badromance.jpg" alt="" /></div>
	<div id="photo_3" style="display:none;"><img src="imagegallery/thefamemonster.jpg" alt="" /></div>
    <div id="photo_4" style="display:none;"><img src="imagegallery/paparazzi.jpg" alt="" /></div>
    <div id="photo_5" style="display:none;"><img src="imagegallery/lovegame.jpg" alt="" /></div>
    <div id="photo_6" style="display:none;"><img src="imagegallery/pokerface.jpg" alt="" /></div>
    <div id="photo_7" style="display:none;"><img src="imagegallery/justdance.jpg" alt="" /></div>
    <div id="photo_8" style="display:none;"><img src="imagegallery/thefame.jpg" alt="" /></div>
</div>
</center>
<script language="javascript" type="text/javascript">
function switch_product_img(divName, totalImgs) {
	for (var i=1; i<=totalImgs; i++) {
		var showDivName = 'photo_' + i;
		var showObj = document.getElementById(showDivName);
		if (showDivName == divName)
			showObj.style.display = 'block';
		else
			showObj.style.display = 'none';
		}
	}
</script>
<br />
<center><font face="Gill Sans MT" size="+2">Ooh, A Photo Gallery!</font><div class=wrap><img src="commentsbubble.jpg" /><font class="desc">3</font></div></center>
<br />
Dummy text lkasjdf aowiej faosdk flkcnvka jfhqpiuas kjdfhakjsd hfkajsh dfkaDummy text lkasjdf aowiejfaosdk flkcnvkaj fhqpiu askjdfh akjsdh fkajshdfka Dummy text lkasjdfa owiejfaosdkfl kcnvkajf hqpiuaskj dfhakj sdhfkajshdf kaDummy text lkasjdf aowiej faosdkflkc nvkajfh qpiuaskj dfhakjsd hfkaj shdfkaDummy text lkasjdfaowiejfaosdkflkcnvkajfhqpiuaskjdfhakjsdhfkajshdfkaDummy text lkasjdfaow iejf aosdkflkcnvkajfhqpiua  skjdfhak jsdhfkajs hdfkaDummy text lkas jdfaowiejf aosdkflkcn vkajfhqpiu askjdfhakjsdhfkajshd fkaDummy text lkasjdfaowiejfa osdkflkcnvkajfhqpiuaskjdf hakjsdhfka jshdfkaDummy text lkasjdfao wiejfaosdkflkc nvkajfhqpi
<br /><br />
<a href="#">(Continued)</a>
<br /><br />
<div class="endpost">
  	<div class="left">Tagged: Blah, blah, blah</div>
  	<div class="right">-Published by Naveen N. Srivatsa
    <br /><br />
    <img src="email.jpg" href="#" /><img src="rss.jpg" href="#" /><img src="digg.jpg" href="#" /><img src="twitter.jpg" href="#" /><img src="facebook.jpg" href="#" /></div>
  </div>
  </TD>
</tr>