{% load common %}
{% load content_filters %}

<li>
    <div class="image_thumb">
    {% for img in gallery.contents.all|slice:":3" %}
        {{ img|to_img_tag:"75,75,1,1" }}
    {% endfor %}
    </div>
    <div style="float:right">{{gallery.section|yuhkilabel}}</div>
    
    <img src="{% static_url "images/icons/photo.gif" %}" alt="article" />
    <h3><a href="{{ gallery.get_absolute_url }}" class="red-text light-red-text-hover">{{ gallery.title }}</a></h3>
    <span class="byline">By {{gallery.contributors.all|linkify|human_list}}</span>
    <div class="dateline">{{gallery.issue.issue_date|date:"l, F j, Y"}}</div>
    <p class="teaser">{{ gallery.description }}</p>
    <span class="clear"></span>
</li>

