{% extends "models/page.html" %}

{% load content_filters %}
{% load common %}

{% block title %}
	{{ gallery.headline }}
{% endblock %}

{% block css %}
	{{block.super}}
    {% static_css "gallery.css" %}    
{% endblock %}
{% block js %}
    {% static_js "jquery.js" %}
{% endblock %}


{% block content %}
{{block.super}}
{% endblock %}

{% block top_social %}{% endblock %}
{% block outside_content %}
 <div id="gallery_viewer" class="blackground">
    <div id="viewer_main">
       {{ gallery|render:"media_viewer" }}
    </div>
</div>
{% endblock %}
