{% extends 'content_list.html' %}
{% load content_filters %}
{% load module %}

{% block body %}
<form method="get" action=".">
    {{block.super}}
</form>
{% endblock %}

{% block left %}
    {% module 2 "filter" %}
    
    <span class="filter_label">SORT BY:</span><br />
    {{form.order_by}}<br />

    <span class="filter_label">START DATE:</span>
    {{form.start_date}}

    <span class="filter_label">END DATE:</span>
    {{form.end_date}}

    <span class="filter_label">SECTIONS:</span><br />
    {{form.content_sections}}<br />

    {% endmodule %}
{% endblock %}

{% block content_filters %}
    <h1>Search</h1>
    <div class="content_list_filters">
            <table>
                    <tr>
                        <td><span class="filter_label">QUERY: </span></td>
                        <td>{{form.q}}</td>
                    </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <button class="submit" value="Search"><span>Search</span></input>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    
{% endblock %}

{% block content_list %}
    <div class="content_list_content">
        {% if page.object_list %}

        <p>Yay! We found {{ paginator.count }} matching results.
                Showing results {{ page.start_index }} to {{ page.end_index }}</p>

            <ul>
            {% for result in page.object_list %}
                    {{ result.object.article|render:"list-item" }}
            {% endfor %}
            </ul>


			                        <div class="pagination">
			                                <span class="step-links">
			                                        {% if page.has_previous %}
			                                                <a href="?q={{ query }}&page=
			{{ page.previous_page_number }}">previous</a>
			                                        {% endif %}

			                                        <span class="current">
			                                                Page {{ page.number }} of {{ paginator.num_pages }}.
			                                        </span>

			                                        {% if page.has_next %}
			                                                <a href="?q={{ query }}&page={{ page.next_page_number }}">next</
			a>
			                                        {% endif %}
			                                </span>
			                        </div>

        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>
{% endblock %}