{% load content_filters %}
{% load content_module %}
{% load common %}
{% load cache %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{{ title }}{% endblock %} | The Harvard Crimson</title>
	 <link rel="icon" type="image/vnd.microsoft.icon" href="/site_media/images/icons/favicon.ico" />
	{% static_css "base.css" %}
	{% block css %}{% endblock %}
	{% block js %}{% endblock %}
</head>
<body>
{% comment %}
{% if user.is_authenticated %}
    <span>Logged in as <a href="{% url crimsononline.subscriptions.views.register %}">{{ user.username }}</a> | <a href="{% url crimsononline.subscriptions.views.logout %}">Logout</a></span>
{% else %}
    <span><a href="{% url crimsononline.subscriptions.views.login %}">Login</a> | <a href="{% url crimsononline.subscriptions.views.register%}">Register</a></span>
{% endif %}
{%endcomment%}

<div id="masthead_container">
<div id="masthead_contents">
    <div id="masthead_banner">
		<a href="/"><img src="{% static_url "images/banner/logo.png" %}" alt="banner" /></a>
	</div>
	
<div id="nav_contents">
	<ul>
		<!-- no whitespace to prevent nbsps -->
        {% spaceless %}
		<li {{ nav|is_nav_cur:"news" }}><a href="/section/news/">NEWS</a></li>
		<li {{ nav|is_nav_cur:"opinion" }}><a href="/section/opinion/">OPINION</a></li>
		<li {{ nav|is_nav_cur:"fm" }}><a href="/section/fm/">MAGAZINE</a></li>
		<li {{ nav|is_nav_cur:"sports" }}><a href="/section/sports/">SPORTS</a></li>
		<li {{ nav|is_nav_cur:"arts" }}><a href="/section/arts/">ARTS</a></li>
		<li {{ nav|is_nav_cur:"photo" }}><a href="/section/photo/">MEDIA</a></li>
		<li {{ nav|is_nav_cur:"blogs" }}><a href="/blog/flyby/">FLYBY</a></li>
    {% endspaceless %}
	</ul>
</div>

    <div class="tools">
        <div class="search">
            <form action="/search/">
                <input class="query" type="text" name="q" />
                <button class="submit" type="submit" value="SEARCH"></button>
            </form>
        </div>
    </div>
</div>
</div>
<div id="submenu">
<div id="submenu_contents">
<div id="submenu_menu">
{% contentmodule quicklinks %}{% endcontentmodule %}
</div>
{% cache 3600 weather %}
{% weather %}
{% endcache %}
</div>
</div>


<div id="content_wrapper">
    {% block pre_body %}
    <div class="top_leaderboard">

<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://www.oncampusweb.com/delivery/ajs.php':'http://www.oncampusweb.com/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=62");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://www.oncampusweb.com/delivery/ck.php?n=aef6a6ac&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://www.oncampusweb.com/delivery/avw.php?zoneid=62&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=aef6a6ac' border='0' alt='' /></a></noscript>

    </div>
    {% endblock %}

	{% block body %}{% endblock %}
	{% block post_body %}{% endblock %}
</div>

<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://www.oncampusweb.com/delivery/ajs.php':'http://www.oncampusweb.com/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=67");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://www.oncampusweb.com/delivery/ck.php?n=a549d7b8&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://www.oncampusweb.com/delivery/avw.php?zoneid=67&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a549d7b8' border='0' alt='' /></a></noscript>

<div id="footer_wrapper">
		<div id="footer_contents">
        <span class="g"><a href="/about/privacy">Privacy Policy</a> | <a href="/about/permissions/">Rights and Permissions</a> | <a href="/search/">Archives</a> | <a href="/about/contact/">Contact Us</a> | <a href="/about/corrections/">Corrections</a> | <a href="/subscribe/">Subscriptions</a> | <a href="/subscribe/">RSS</a></span><br />
        <span class="red-text">Copyright &copy; 2009, The Harvard Crimson, Inc.</span>
		</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-327124-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
