{% extends "models/page.html" %}

{% load content_filters %}
{% load common %}

{% block title %}{{cg.name}} | {{cg.section}}{% endblock %}

{% block type %} Content Group {% endblock %}
{% block category %} {{cg.section}} {% endblock %}

{% block css %}
	{{block.super}}
    {% static_css "contentgroup.css" %}
{% endblock %}

{% block top_content %}
	<a href="{{ cg.get_absolute_url }}" class="cg_header">
	    <div class="cg_header">{{ cg.name }}</div>
	</a>
{% endblock %}
{% block top_social %}{% endblock %}

{% block bottom_content %}
    <ul class="blog_entries">
    {% for c in content %}
        <li>{{ c|render:"blog_entry" }}</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block post_content %}
<span class="pagination">
{% if p.has_previous %}
    <a href="{{url_base}}{{section_str}}{{type_str}}/">&laquo; Newest</a>
    <a href="{{url_base}}/page/{{p.previous_page_number}}{{section_str}}{{type_str}}/">&lsaquo; Newer</a>
{% endif %}
{{p.start_index}} - {{p.end_index}} of {{paginator.count}}
{% if p.has_next %}
    <a href="{{url_base}}/page/{{p.next_page_number}}{{section_str}}{{type_str}}/">Older &rsaquo;</a>
    <a href="{{url_base}}/page/{{paginator.num_pages}}{{section_str}}{{type_str}}/">Oldest &raquo;</a>
{% endif %}
</span>
{% endblock %}

{% block mostreadarticles %}
{% endblock %}