{% extends "base.html" %}

{% load content_filters %}
{% load common %}
{% load tag_cloud %}
{% load top_articles %}

{% block inhead %}
    {% static_css "content_list.css" %}
    {% block css %}{% endblock %}
    {% block js %}{% static_js "jquery.js" %}{% static_js "content_list.js" %}{% endblock %}
{% endblock %}

{% block body %}
    <div class="column_left">
        {% block left %}
        {% endblock %}
    </div>
    <div class="content_list">
        {% block before_content %}
        {% endblock %}
        {% block content_filters %}
            <div class="filters">
                
                <table>
                <tbody>
                <tr><td><span class="filter_text filter_label">FILTER BY:</span></td></tr>
                <tr>
                <td><span class="filter_label">SECTION:</td>
                <td>
                {% for section, d in sections.items %}
                    {% if d.selected %}
                        <a class="section" href="{{d.url}}">{{section|yuhkilabel}}</a>
                    {% else %}
                        <a class="section"href="{{d.url}}">{{section|yuhkilabel:"gray"}}</a>
                    {% endif %}<span class="reg_text">({{d.count}})</span>
                {% endfor %}</span></td></tr>
                <tr>
                <form>
                <td><span class="filter_label">TYPE:</span></td>
                <td>
                {% for type, d in types.items %}    
                {% if d.selected %}
                    <a class="section" href="{{d.url}}">{{type|yuhkilabel}}</a>
                {% else %}
                    <a class="section"href="{{d.url}}">{{type|yuhkilabel:"gray"}}</a>
                {% endif %}<span class="reg_text">({{d.count}})</span>
                {% endfor %}
                </td></tr>
                </form>
                </table>
            </div>
        {% endblock %}
        {% block content_list %}
        <div class="content">
            {% include "ajax/content_list_page.html" %}
        </div>
        {% endblock %}
        {% block after_content %}
        {% endblock %}
        
    </div>
    <div class="column_right">
        {% block right %}
        {% tag_cloud 15 "RELATED TAGS" tags %}
        <div class="ad bordered">
            <span>advertisement</span>
            <img src="/site_media/images/medium_rectangle.gif" />
        </div>
        {% most_read_articles %}
        {% endblock %}
    </div>
	<div style="clear:both"></div>
{% endblock %}