{% extends "base.html" %}

{% load content_filters %}

{% block inhead %}
	<link type="text/css" rel="stylesheet" href="/site_media/css/content_list.css">
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
{% endblock %}

{% block body %}
    <div class="column_left">
        {% block left %}
        {% endblock %}
    </div>
    <div class="content_list">
        {% block before_content %}
        {% endblock %}
        {% block content_list %}
            <ul>
            {% for c in content %}
                {{ c|render:"list-item"}}
            {% endfor %}
            </ul>
            <span class="pagination">
                {% if p.has_previous %}
                    <a href="{{url}}">&lt;&lt; Newest</a>
                    <a href="{{url}}page/{{p.previous_page_number}}/">&lt; Newer</a>
                {% endif %}
                {{p.start_index}} - {{p.end_index}} of {{paginator.count}}
                {% if p.has_next %}
                    <a href="{{url}}page/{{p.next_page_number}}/">Older &gt; </a>
                    <a href="{{url}}page/{{paginator.num_pages}}/">Oldest &gt;&gt; </a>
                {% endif %}
            </span>
        {% endblock %}
        {% block after_content %}
        {% endblock %}
    </div>
    <div class="column_right">
        {% block right %}
        {% endblock %}
    </div>
{% endblock %}