{% extends "models/page.html" %}

{% load content_filters %}
{% load common %}

{% block css %}
	{{block.super}}
    {% static_css "contentgroup.css" %}
{% endblock %}

{% block pre_content%}{% spaceless %}
    <a href="{{ contentgroup.get_absolute_url }}" class="cg_header">
        <div class="cg_header">{{ contentgroup.name }}</div>
    </a>
{% endspaceless %}{% endblock %}

{% block content %}
    <ul class="blog_entries">
    {% for c in content %}
        <li>{{ c|render:"blog_entry" }}</li>
    {% endfor %}
    </ul>
{% endblock %}