{% extends "base.html" %}

{% load cache %}
{% load common %}
{% load content_filters %}
{% load content_module %}
{% load rotator %}
{% load module %}
{% load tag_cloud %}
{% load top_articles %}
{% load flyby_preview %}

{% block title %}
	Harvard News
{% endblock %}

{% block type %}
    {{ "General" }}
{% endblock %}

{% block category %}
    {{ "Index Page" }}
{% endblock %}

{% block rss %}
<link rel="alternate" type="application/rss+xml"
  title="RSS Feed for Latest News on www.thecrimson.com"
  href="/feeds/latest/" />
{% endblock %}
{% block css %}
	{{block.super}}
    {% static_css "section.css" %}
    <meta name="google-site-verification" content="cwwJ9jadEqctikdAsgZVxWrC6R9_iqaF3AdVCuUeaHM" />
    <meta name="y_key" content="1481287a6167f677" />
    <meta name="y_key" content="3e70614e200ee323" />
    <meta name="y_key" content="13a07c5b5681f15f" />
    <meta name="y_key" content="ff088dff1dbff06e" />
{% endblock %}
{% block js %}
	{{block.super}}
    {% static_js "jquery.js" %}
    {% static_js "past_issues.js" %}
{% endblock %}
{% block masthead_center %}
{% endblock %}
{% block pre_body %}
	{% contentmodule index.pre_content %}
	{% endcontentmodule %}
{% endblock %}
{% block body %}
<!--<div class="top_leaderboard"><a href="/mobile/"><img src="{% static_url "images/mobile_leaderboard.jpg" %}" /></a></div>-->
{% block left-column %}
<table cellspacing="5" border="0" cellpadding="0">
	<tr valign="top" align="left">
	<td width="226">
<div class="col-3">
        <div id="topstories" class="article_previews3">
            <ul>
                {% for story in top_stories %}
                {% if forloop.last %}<li class="last_item">{%else%}<li>{%endif%}
                    {% if forloop.first %}{{story|render:"top_preview"}}
                    {%else%}{{story|render:"preview"}}{%endif%}
                </li>
                {% endfor %}
            </ul>
        </div>
</div>
{% endblock %}
</td><td width="1" bgcolor="#E5E5E5"><BR></td>
	<td width="392" valign="top" align="left">
	{% block middle_column %}
	<!--<div class="col-0">
		<img src="{% static_url "images/commencement/Year in Review Icon.jpg" %}" />
	</div>
	<div class="gutter"></div>
	<div class="col-4">
	<div class="article_previews" style="padding-top: 10px; color: #ba0600; margin-bottom: 0px; padding-left: 5px;">
	<ul><li>
		<a href="/feature/commencement2011/year-in-review/" style="text-decoration:none;"><h5>Commencement 2011</h5>
		<h2>Year in Review</h2></a></ul></li>
	</div>
	</div>-->
	<div class="col-5">
	<div class="article_previews5">
		<ul><li>{{big_feature|render:"big_feature"}}</li></ul>
	</div>
	<div class="article_previews5">
	<!--<ul><li>-->
	<!--<h3 style="color:#ba0600; margin-bottom: 5px;">9/11, Ten Years Later<h5>-->
	<!--<a href="/feature/911-ten-years-later/"><img src="{% static_url "images/911.gif" %}" border="0" alt="911 Ten Years Later"/></a>-->
	<!--<div class="col-00">
        <a href="/feature/commencement2011/year-in-review/">
		<img width="47" src="{% static_url "images/commencement/Year in Review Icon.jpg" %}" border="0" />
		<p class="byline" style="text-align: center;">Year in Review</p>
        </a>
	</div>
	<div class="col-00">
        <a href="/feature/commencement2011/year-in-sports/">
		<img width="47" src="{% static_url "images/commencement/Year in Sports Icon.jpg" %}" border="0" />
		<p class="byline" style="text-align: center;">Year in Sports</p>
        </a>
	</div>
	<div class="col-00">
        <a href="/feature/commencement2011/year-in-photo/">
		<img width="47" src="{% static_url "images/commencement/Year in Photo Icon.jpg" %}" border="0" />
		<p class="byline" style="text-align: center;">Year in<br />Photo</p>
        </a>
	</div>
	<div class="col-00">
        <a href="/feature/commencement2011/year-in-video/">
		<img width="47" src="{% static_url "images/commencement/Year in Video Icon.jpg" %}" border="0" />
		<p class="byline" style="text-align: center;">Year in<br />Video</p>
        </a>
	</div>
	<div class="col-00">
        <a href="/feature/commencement2011/1986-reunion-issue/">
		<img width="47" src="{% static_url "images/commencement/25 Reunion Icon.jpg" %}" border="0" />
		<p class="byline" style="text-align: center;">1986 25th Reunion</p>
        </a>
	</div>
	<div class="col-00">
        <a href="/feature/commencement2011/1961-50-Reunion/">
		<img width="47" src="{% static_url 'images/commencement/50 Reunion Icon.jpg' %}" border="0" />
		<p class="byline" style="text-align: center;text-decoration:none;">1961 50th Reunion</p>
        </a>
	</div>
	<div class="col-00">
        <a href="/feature/commencement2011/senior-section/">
		<img width="47" src="{% static_url "images/commencement/Senior Section Icon.jpg" %}" border="0" />
		<p class="byline" style="text-align: center;">Senior Section</p>
        </a>
	</div>
	<div class="col-00">
        <a href="/feature/commencement2011/editorial/">
		<img width="47" src="{% static_url "images/commencement/ed_icon.jpg" %}" border="0" />
		<p class="byline" style="text-align: center;">Editoral</p>
        </a>
	</div>-->
	<!--</ul></li>-->
	</div>
	{% module 5 "opinion" none "/section/opinion/" %}
        {% contentmodule index.opinion %}
        <div class="article_previews5">
            <ul>
				{% for oped in opeds %}
				{% if forloop.last%}<li class="last_item">{% else %}<li>{%endif%}
               		{{ oped|render:"opinion_preview"}}</li>
				{% endfor %}
            </ul>
        </div>
        {% endcontentmodule %}
	{% endmodule %}
	</div>
	{% endblock %}
	</td><td width="1" bgcolor="#E5E5E5"><BR></td>
	<td width="309" valign="top" align="left">
	{% block right_column %}
	{% flyby_preview %}

    <div class="mod mod-4 mod-box">
        <a href="blog/the-back-page/">
			<img src="{% static_url "images/sportsblog/backpagebanner2.png" %}" width="305" height="64" alt="The Back Page"/>
		</a>
    </div>
    <!--
    <div class="mod mod-4 mod-box" style="width: 307px; height: 65px; padding: 0;">
        
    </div>-->
    {% module 4 "" box %}
        {% advertisement 59 %}
        
    {% endmodule %}
	{% cache 500 mostreadarticles_index %}
    	{% most_read_articles %}
	{% endcache %}
	{% endblock %}
	</div></td></tr></table>
	<span class="clear"></span>
	<div class="line-12"></div>
	<table cellspacing="5" border="0" cellpadding="0">
	<tr valign="top" align="left">
	<td width="309">
	<div class="col-4">
	{% module 4 "video/multimedia" none "/section/media/" %}
	<span class="clear"></span>
	{% contentmodule index.media %}
		<div class="col-4">
           {{videos|first|render:"embed_front_preview"}}
		</div>
		{% for vid in videos|notfirst %}
		<div class="col-1">
			<div class="article_headlines">
            	{{vid|render:"small_preview"}}
        	</div>
		</div>
		{% endfor %}
		{% endcontentmodule %}{% endmodule %}
	</div>
	</td><td width="1" bgcolor="#E5E5E5"><BR></td>
	<td width="309" valign="top" align="left">
	<div class="col-4">
    {% module 4 "sports" none "/section/sports/" %}
        {% contentmodule index.sports %}
			<div class="article_previews">
				<ul><li>{{ sports|first|render:"sports_preview" }}</li></ul>
			</div>
            <div class="article_headlines">
                <ul>
                    {% for story in sports|notfirst %}
                    {% if forloop.last %}<li class="last_item">
                    {% else %}<li>{% endif %}
                        {{story|render:"sports_small_preview"}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endcontentmodule %}{% endmodule %}
</div>
</td><td width="1" bgcolor="#E5E5E5"><BR></td>
	<td width="309" valign="top" align="left">
<div class="col-4">
	{% module 4 "magazine" none "/section/fm/" %}
        {% contentmodule index.fm %}
			<div class="article_previews">
				<ul><li>{{ fms|first|render:"preview" }}</li></ul>
			</div>
			<div class="article_headlines">
			<ul>
				{% for story in fms|notfirst %}
				<li>
					{{ story|render:"small_preview" }}</li>
				{% endfor %}</ul>
			</div>
        {% endcontentmodule %}{% endmodule %}
        {% module 3 "arts" none "/section/arts/" %}
        {% contentmodule index.arts %}
            <div class="article_previews">
               <ul><li> {{ arts|first|render:"preview" }}</li></ul>
            </div>
            <div class="article_headlines">
                <ul>
                    {% for story in arts|notfirst %}
                        <li class="last_item">
                            <h3><a href="{{ story.get_absolute_url }}" >{{ story.headline }}</a></h3>
                            <p class="byline">By {{ story.contributors.all|linkify|human_list }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endcontentmodule %}{% endmodule %}</td></tr></table>

{% endblock %}
{% block post_body %}
{% comment %}
<div class="col-12">
{% module 12 "Featured Galleries" nopad %}
{% endmodule%}
</div>
<div class="front_galleries">
        <div class="col-2">
    {% for gall in galleries %}
        {{gall|render:"front_preview"}}
        </div>
        {% if forloop.last %}
        {% else %}
        <div class="gutter"></div>
        <div class="col-2">
        {% endif %}
    {% endfor %}
    <span class="clear"></span>
</div>
{% endcomment %}
<span class="clear"></span>
<div class="top_leaderboard">
	{% advertisement 62 %}
	
</div>
<span class="clear"></span>
<div class="line-12"></div>
<div class="col-4">
{% module 4 "more news" none "/section/news/" %}
        {% contentmodule index.morenews %}
            <div id="more_news" class="article_headlines">
                <ul>
                {% for story in more_stories %}
                    <li>
                        <h4>{{story|linkify:story.headline}}</h4>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endcontentmodule %}{% endmodule %}
</div>
<div class="gutter"></div>
<div class="col-4">
{% module 4 "more opinion" none "/section/opinion/" %}
        {% contentmodule index.moreopinion %}
            <div id="more_news" class="article_headlines">
                <ul>
                {% for story in more_opeds %}
                    <li>
                        <h4>{{story|linkify:story.headline}}</h4>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endcontentmodule %}{% endmodule %}
{% module 4 "more sports" none "/section/sports/" %}
        {% contentmodule index.moresports %}
            <div id="more_news" class="article_headlines">
                <ul>
                {% for story in more_sports %}
                    <li>
                        <h4>{{story|linkify:story.headline}}</h4>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endcontentmodule %}{% endmodule %}
</div>
<div class="gutter"></div>
<div class="col-4">
{% module 4 "more fm" none "/section/fm/" %}
        {% contentmodule index.morefm %}
            <div id="more_news" class="article_headlines">
                <ul>
                {% for story in more_fms %}
                    <li>
                        <h4>{{story|linkify:story.headline}}</h4>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endcontentmodule %}{% endmodule %}
{% module 4 "more arts" none "/section/arts/" %}
        {% contentmodule index.morefm %}
            <div id="more_news" class="article_headlines">
                <ul>
                {% for story in more_arts %}
                    <li>
                        <h4>{{story|linkify:story.headline}}</h4>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endcontentmodule %}{% endmodule %}
</div>
<span class="clear"></span>
<span style="display:none;">{{ domain }} - {{ test }}</span>
{% endblock %}