{% extends "threecolumn.html" %}

{% load cache %}
{% load common %}
{% load content_filters %}
{% load content_module %}
{% load rotator %}
{% load module %}
{% load tag_cloud %}
{% load top_articles %}
{% load flyby_preview %}

{% block title %}
	Harvard News
{% endblock %}

{% block type %}
    {{ "General" }}
{% endblock %}

{% block category %}
    {{ "Index Page" }}
{% endblock %}

{% block rss %}
<link rel="alternate" type="application/rss+xml"
  title="RSS Feed for Latest News on www.thecrimson.com"
  href="/feeds/latest/" />
{% endblock %}
{% block css %}
	{{block.super}}
    {% static_css "index.css" %}
    <meta name="google-site-verification" content="cwwJ9jadEqctikdAsgZVxWrC6R9_iqaF3AdVCuUeaHM" />
    <meta name="y_key" content="1481287a6167f677" />
    <meta name="y_key" content="3e70614e200ee323" />
    <meta name="y_key" content="13a07c5b5681f15f" />
    <meta name="y_key" content="ff088dff1dbff06e" />
{% endblock %}
{% block js %}
	{{block.super}}
    {% static_js "jquery.js" %}
    {% static_js "past_issues.js" %}
{% endblock %}
{% block masthead_center %}
{% endblock %}

{% block pre_body %}
	{% contentmodule index.pre_content %}
	{% endcontentmodule %}
{% endblock %}

{% block leftcolumn %}
    {% module 4 "top stories" red "/section/news/" %}
        {% contentmodule index.topstories %}
        <div id="topstories" class="article_previews">
            <ul>
                {% for story in top_stories %}
                <li>
                    {% if forloop.first %}{{story|render:"top_preview"}}
                    {%else%}{{story|render:"preview"}}{%endif%}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endcontentmodule %}
    {% endmodule %}

    {% module 4 "magazine" gray "/section/fm/" %}
        {% contentmodule index.fm %}
        <div class="article_feature gray-bg">
            {{ fms|first|render:"feature" }}
        </div>
        <div class="article_headlines">
            <ul>
                {% for story in fms|notfirst %}
                <li>
                    {{story|render:"small_preview"}}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endcontentmodule %}
    {% endmodule %}

    {% module 4 "more news" %}
        {% contentmodule index.morenews %}
            <div id="more_news" class="article_headlines">
                <ul>
                {% for story in more_stories %}
                    <li>
                        {{story|render:"small_preview"}}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endcontentmodule %}
    {% endmodule %}

{% endblock %}

{% block middlecolumn %}
    {% contentmodule index.rotater %}
        {% rotator rotate "main_rotator" %}
    {% endcontentmodule %}
	
    {% module 4 opinion gray "/section/opinion/" %}
        {% contentmodule index.opinion %}
        <div class="article_previews">
            <ul>
                <li>{{ opeds|first|render:"preview"}}</li>
            </ul>
        </div>
        <div class="article_headlines">
            <ul>
                {% for oped in opeds|notfirst %}
                <li>
                    {{oped|render:"small_preview"}}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endcontentmodule %}
    {% endmodule %}

    {% module 4 sports gray "/section/sports/" %}
        {% contentmodule index.sports %}
	        <div class="article_previews">
                <ul>
                    <li>
                        {{ sports|first|render:"preview"}}
                    </li>
                </ul>
            </div>
            <div class="article_headlines">
                <ul>
                    {% for story in sports|notfirst %}
                    <li>
                        {{story|render:"small_preview"}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endcontentmodule %}
    {% endmodule %}

    {% module 4 arts gray "/section/arts/" %}
        {% contentmodule index.arts %}
            <div class="article_feature gray-bg">
                {{ arts|first|render:"feature" }}
            </div>
            <div class="article_headlines">
                <ul>
                    {% for story in arts|notfirst %}
                        <li>
                            <h3><a href="{{ story.get_absolute_url }}" >{{ story.headline }}</a></h3>
                            <p class="byline">By {{ story.contributors.all|linkify|human_list }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endcontentmodule %}
    {% endmodule %}

{% endblock %}

{% block rightcolumn %}
	{% comment %}
    {% module 4 "view past issues" %}
        <div id="past_issue">
	        {{ past_issues }}<button id="past_issues_button">Search</button>
	    </div>
	{% endmodule %}
    {% endcomment %}


	<div class="mod mod-4 mod-box small-text-icon-wrap facebook-twitter">
		<div class="small-text-icon-wrap">
	        <div class="small-text-icon-item">Follow The Crimson on </div>
	        <div class="small-text-icon-item facebook"></div>
			<a href="http://www.facebook.com/pages/The-Harvard-Crimson/45870477736" class="small-text-icon-item">Facebook</a>
	        <div class="small-text-icon-item"> and </div>
			<div class="small-text-icon-item twitter"></div>
			<a href="http://www.twitter.com/thecrimson" class="small-text-icon-item">Twitter</a>
		</div>
	</div>

    {% flyby_preview %}

    <div class="mod mod-4 mod-box">
        <a href="blog/the-back-page/">
			<img src="{% static_url "images/sportsblog/backpagebanner2.png" %}" width="305" height="64" alt="The Back Page"/>
		</a>
    </div>
    
    <div class="mod mod-4 mod-box" style="width: 307px; height: 65px; padding: 0;">
        <a href="http://www.dealquad.com/thecrimson/">
            <img src="{% static_url "images/dealquad.png" %}" width="307" height="65" />
        </a>
    </div>
    
    {% cache 500 mostreadarticles_index %}
        {% most_read_articles %}
    {% endcache %}

    {% module 4 "Featured Videos" box %}
        {% for vid in videos %}
            {{vid|render:"front_preview"}}
        {% endfor %}
    {% endmodule %}

    {% tag_cloud 20 "tags" %}


{% endblock %}

{% block belowcolumn %}
<div class="col-12">
{% module 12 "Featured Galleries" nopad %}
{% endmodule%}
</div>
<div class="front_galleries">
        <div class="col-2">
    {% for gall in galleries %}
        {{gall|render:"front_preview"}}
        </div>
        {% if forloop.last %}
        {% else %}
        <div class="gutter"></div>
        <div class="col-2">
        {% endif %}
    {% endfor %}
        <span class="clear"></span>
</div>
{% endblock %}