{% load common_filters %}
{% load cache %}

<div id="mostxdarticles">
<a onclick="$('#mostreadarticles').show(); $('#mostcommentedarticles').hide();">read</a> <a onclick="$('#mostreadarticles').hide(); $('#mostcommentedarticles').show();">commented</a>
{% cache 500 mostreadarticles %}
<div id="mostreadarticles">
<ol>
{% for article in mostreadarticleslist %}
<li>{{article|linkify}}</li>
{% endfor %}
</ol>
</div>
{% endcache %}
<div id="mostcommentedarticles" style="display: none">
<ol>
<li>HEH</li>
<li>HEH</li>
<li>HEH</li>
<li>HEH</li>
<li>HEH</li>
</ol>
</div>
</div>