{% extends "section.html" %}

{% load content_filters %}

{% block section_menu %}
    <ul class="vert_menu">
        <li><a href="/section/news/">News Home</a></li>
        <li><a href="/section/news/tag/harvard,iraq/">Harvard and Iraq</a></li>
        <li><a href="/section/news/tag/camgridge/">Cambridge Edition</a></li>
        <li>
            <a href="/section/news/tag/college/" class="has_submenu">College</a>
            <ul>
                <li><a href="/section/news/tag/college,drinking/">Drinking</a></li>
                <li><a href="/section/news/tag/college,hygiene">Hygiene</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}