{% extends "threecolumn.html" %}

{% block rss %}
<link rel="alternate" type="application/rss+xml" 
  title="RSS Feed for {{section}} on www.thecrimson.com" 
  href="/feeds/section/{{section|lower}}/" />
{% endblock %}

{% block title %}
    Harvard {{ section }}
{% endblock %}

{% block type %}
    Section
{% endblock %}

{% block category %}
    {{ section }}
{% endblock %}

<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-327124-1");
pageTracker._setCustomVar(
      1,                   
      "Section",            
      "{{ section }}",   
      3                    
   ); 
pageTracker._trackPageview();
} catch(err) {}</script>