{% extends "content_list.html" %}

{% load common_filters %}

{% block title %}
    {{ section }}
{% endblock %}

{% block left %}
    <h1>{{ section }}</h1>
    {% block section_menu %}
    {% endblock %}
{% endblock %}

{% block before_content %}
    {% if tags %}
        {% if content %}
            <h2>Content tagged: {{ tags|human_list }}</h2>
        {% else %}
            <p>No {{ section.lower }} content tagged {{ tags|human_list }} were found.</p>
        {% endif %}
    {% endif %}
{% endblock %}