{% extends "base.html" %}
{% load common %}
{% load content_module %}
{% load module %}

{% block title %}
    {{ flatpage.title }}
{% endblock %}

{% block type %}
    {{ "General" }}
{% endblock %}

{% block category %}
    {{ "Flatpages" }}
{% endblock %}

{% block css %}
{% static_css "flatpages.css" %}
{% endblock %}

{% block body %}
   
    <div class="col-8 static">
	{% block content %}
	{% endblock %}
    </div>
    
	<div class="gutter"></div>

    <div class="col-4">
	
    {% module 4 "" boxbkgrd %}
        <ul class="right_navigation">
	
		{% block fp_nav %}
        {% flatpage_nav about flatpage.url toplevelonly %}
			{% contentmodule flatpage_nav %}{% endcontentmodule %}
        {% endflatpage_nav %}
		{% endblock %}
        </ul>
	{% endmodule %}
    {% module 4 "" box %}
	<div class="masthead">

    <img class="flyby_preview_header" src="{% static_url "images/mastheadtop.png" %}" alt="masthead" style="margin-left:-5px;"/>
	{% contentmodule masthead %}{% endcontentmodule %}
	</div>
	{% endmodule %}
    </div>


	
    <span class="clear" />
{% endblock %}