{% extends "content_list.html" %}

{% load common %}
{% load content_filters %}
{% load tag_cloud %}
{% load top_articles %}

{% block css %}
<link type="text/css" rel="stylesheet" href="/site_media/css/tag.css" />
{% endblock %}

{% block title %}
    Content tagged {{ tag }}
{% endblock %}

{% block left %}
    <div id="featured_articles" class="bordered">
        <h2>FEATURED ARTICLES</h2>
        {% for c in featured %}
        <p>
            {{c.content_object|linkify}} 
            <span class="date">{{c.issue.issue_date|date:"m/d/y"}}</span>
        </p>
        {% endfor %}
    </div>
    <div id="top_contributors" class="bordered">
        <h2>TOP CONTRIBUTORS</h2>
        <ul>
        {% for c in top_contributors %}<li>
        {% if c.profile_pic %}
            {{c.profile_pic|to_img_tag:"50,50,1,1"}}
        {% else %}
            <img src="/site_media/images/noface_50x50.jpg" alt="face"/>
        {% endif %}
        <h3>{{c|linkify}} ({{c.c_count}})</h3>
        <p class="dateline">{{c.rece|date}}</p>
        {% endfor %}</li>
        </ul>
        <span class="clear"></span>
    </div>
{% endblock %}

{% block before_content %}
    <h1>Content tagged {{ tag }}</h1>
{% endblock %}

{% block right %}
    {% tag_cloud 15 "RELATED TAGS" tags %}
    <div class="ad">
        <span>advertisement</span>
        <img src="/site_media/images/medium_rectangle.gif" />
    </div>
    {% most_read_articles %}
{% endblock %}