{% extends "base.html" %}

{% load common %}
{% load content_filters %}
{% load content_module %}
{% load tag_cloud %}

{% block title %}
	{{ "Since 1873, motherfuckers" }}
{% endblock %}

{% block inhead %}
    {% static_css "threecolumn.css" %}
	{% block css %}{% endblock %}
    {% block js %}{% endblock %}
    
{% endblock %}

{% block body %}
    <div id="above_the_fold" class="half_page">
        {% block above_the_fold %}
            <div class="column">
            {% block lefttopcolumn %}{% endblock %}
            </div>
            <div class="column">
            {% block middletopcolumn %}{% endblock %}
            </div>
            <div class="column">
            {% block righttopcolumn %}{% endblock %}
            </div>
        {% endblock %}
    </div>

    <div id="the_fold"></div>

    <div id="below_the_fold" class="half_page">
        {% block below_the_fold %}
            <div class="column">
            {% block leftbottomcolumn %}{% endblock %}
            </div>
            <div class="column">
            {% block middlebottomcolumn %}{% endblock %}
            </div>
            <div class="column">
            {% block rightbottomcolumn %}{% endblock %}
            </div>
        {% endblock %}
    </div>
	<div style="clear:both;"></div>
    
{% endblock %}
