{% extends "content_list.html" %}

{% load content_filters %}
{% load common %}

{% block title %}
	Writer Profile | {{ writer }}
{% endblock %}

{% block inhead %}
	<link type="text/css" rel="stylesheet" href="/site_media/css/content_list.css" />
    <link type="text/css" rel="stylesheet" href="/site_media/css/writer-profile.css" />
{% endblock %}

{% block before_content %}
    <h1>{{ writer }}</h1>
{% endblock %}

{% block left %}
    {% if writer.profile %}
        <div class="bordered" id="profile_corner">
            <h3>ABOUT THE WRITER</h3>
            {% if writer.profile_pic %}
                <img src="{{ writer.profile_pic.url}}" /><br/>
            {% endif %}
            {% if writer.profile_text %}
                {% for para in writer.profile_text|paragraphs %}
                    {{ para|profileml }}
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        <div>&nbsp;</div>
    {% endif %}
{% endblock %}