{% extends "content_list.html" %}

{% load content_filters %}

{% block title %}
	Writer Profile | {{ writer }}
{% endblock %}

{% block inhead %}
	<link type="text/css" rel="stylesheet" href="/site_media/css/content_list.css" />
    <link type="text/css" rel="stylesheet" href="/site_media/css/writer-profile.css" />
{% endblock %}

{% block before_content %}
    <h1>{{ writer }}</h1>
{% endblock %}

{% block left %}
    {% if self.profile %}
        <div class"bordered" id="profile-corner">
            {% if writer.profile_pic %}
                <img src="{{ writer.profile_pic.url}}" width="300px" /><br/>
            {% endif %}
            {% if writer.profile_text %}
                {{ writer.profile_text }}
            {% endif %}
        </div>
    {% else %}
        <div>&nbsp;</div>
    {% endif %}
{% endblock %}