{% load content_filters %}
{% load common %}
{% load content_module %}

{% load tag_cloud %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}FlyByBlog | Harvard Life. To Go.{% endblock %}</title>
    {% static_css "flyby.css" %}
</head>

<body>
<div id="shadow">
<div id="wrapper">

    <div id="header">

<a href="/section/flyby/"><img src = "{% static_url 'images/flyby/banner_top.jpg' %}" style="width:900px;" alt="topbanner" /></a>
    </div>

<div id="container">
    <div id="content">
        {% block body %}
        {% endblock %}
    </div>
</div>

<div class="sidebar">

<h3>Contact Us</h3>
        <p>Send us tips, comments, etc. at <a href="mailto:flyby@thecrimson.com">flyby@thecrimson.com</a></p>

<h3>About Us</h3>
	<p>The editors of <a href="http://www.thecrimson.com" target="_blank">The Harvard Crimson</a> present FlyByBlog, your more-than-daily source for Harvard news, gossip, and oddities. Follow us by subscribing to our <a href="/feeds/section/flyby/">RSS Feed</a>.</p>

<h3>Quick Links</h3>
	{% contentmodule flyby_quicklinks %}{% endcontentmodule %}


{% comment %}
<h3>Tags</h3>
    {% tag_cloud 15 "RELATED TAGS" tags %}
{% endcomment %}

<h3>Harvard Blogs</h3>
	{% contentmodule flyby_harvardblogs %}{% endcontentmodule %}



<h3>College Blogs</h3>
	{% contentmodule flyby_collegeblogs %}{% endcontentmodule %}



</div><!-- #primary .sidebar -->	


<span style="clear: both;display: block"></span>

<div class="footer">
	<span id="copyright">&copy; 2009<a href="http://www.thecrimson.com" target="_blank"> The Harvard Crimson </a>
	</span>
</div><!-- #footer -->



</div><!-- #wrapper -->
</div><!-- #shadow -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-327124-3");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>