{% extends "flyby/page.html" %}

{% load content_filters %}
{% load common %}
{% load content_module %}

{% block content %}
    {% if entries.object_list %}
        {% for article in entries.object_list %}
            {% ifchanged article.issue.issue_date.day %}
                {% if article|is_flyby_quote %}
                    {{ article|render:"flyby_quote.listitem_date" }}
                {% else %}
                    {{ article|render:"flyby.listitem_date" }}
                {% endif %}
            {% else %}
                {% if article|is_flyby_quote %}
                    {{ article|render:"flyby_quote.listitem" }}
                {% else %}
                    {{ article|render:"flyby.listitem" }}
                {% endif %}
            {% endifchanged %}
        {% endfor %}
        {% block pagination %}
            <div id="fb_content_pagination">
                {% if entries.has_previous %}
                    <div id="fb_nav_previous">
                        <a href="{{ url_base }}page/{{entries.previous_page_number}}/">&larr;Newer posts</a>
                    </div>
                {% endif %}
                {% if entries.has_next %}
                    <div id="fb_nav_next">
                        <a href="{{ url_base}}page/{{entries.next_page_number}}/">Older posts&rarr;</a>
                    </div>
                {% endif %}
            </div>
        {% endblock %}
    {% else %}
        No content.
    {% endif %}
{% endblock %}