{% extends "flyby/base.html" %}

{% load common %}
{% load content_filters %}

{% load tag_cloud %}

{% block title %}{{content.headline}} | {{block.super}}{% endblock %}

{% block body %}
	{% block content %}
	{% endblock %}		
    
    <div class="entry-meta">
            {% with content.tags.all as a_tags %}
				This entry was written by {{ article.contributors.all|linkify|human_list }}, and posted on {{ article.issue.issue_date|date:"F d, Y" }}. 
                {% if a_tags %}
                    It is tagged: 
                {% endif %}
                {% for tag in a_tags %}
                    <a class="tag" href="{{ tag.get_absolute_url }}">{{ tag.text }}</a>{% ifnotequal forloop.last 1 %}, {% endifnotequal %}
                {% endfor %}
            {% endwith %}
	</div>
        
        {% block post_content %}
            <div id="disqus_thread"></div>
            <script type="text/javascript" src="http://disqus.com/forums/thecrimson/embed.js"></script>
            <noscript>
                <a href="http://thecrimson.disqus.com/?url=ref">View the discussion thread.</a>
            </noscript>
            <a href="http://disqus.com" class="dsq-brlink">blog comments powered by 
                <span class="logo-disqus">Disqus</span></a>
        {% endblock %}

{% endblock %}