{% load crimson_filters %}

<ul class="image_gallery_preview" id="preview_{% if images %}gal{% else %}img{% endif %}_{% firstof gal.pk image.pk %}">
    <li>
        {% if images %}
            {{ gal.title|truncatewords:3 }}
        {% else %}
            {{ image.caption|truncatewords:3 }}
        {% endif %}
    </li>
    {% if images %}
        {% for image in images %}
            <li>
                {{ image|to_thumb_tag }}
            </li>
        {% endfor %}
    {% else %}
        <li>
            {{ image|to_thumb_tag }}
        </li>
    {% endif %}
    {% if more %}
        <li>
            {{ more }} more image{{ more|pluralize }}.
        </li>
    {% endif %}
</ul>