<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>addbook</title>
	<link rel="stylesheet" href="/site_media/css/jquery.autocomplete.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="/site_media/scripts/jquery-1.2.6.pack.js" type="text/javascript" charset="utf-8"></script>
	<script src="/site_media/scripts/jquery.autocomplete.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function (){
			function formatItem(item){
				return item[1] + ' ' + (item[2]? item[2] + '. ' : '') + item[3]
			}
			$('input.autocomplete').autocomplete('../get_contributor', {
				minChars: 3,
				matchContains: true,
				formatItem: formatItem,
				autoFill: false
			});
			$('input.autocomplete').result(function(e, item){
				if($('#id_contributors').children().filter(function(index){
					return $(this).val() == item[0];
				}).length == 0){
					$('<option>').html(formatItem(item))
								.attr({value: item[0],
										selected: 'selected'})
									.appendTo('#id_contributors');
				};
				$('input.autocomplete').val('');
			});
		});
	</script>
</head>
<body>
<form action="." method="POST">
	<table>
		{% for field in form %}
			<tr><td rowspan="2">{{ field.errors }}</td></tr>
			<tr><td>{{ field.label_tag }} :</td>
				<td>
				{% ifequal field.name 'contributors'  %}
					<input type="text" class="autocomplete" autocomplete="off" />
				{% endifequal %}
					{{field}}
				</td>
			</tr>
		{% endfor %}
	</table>
</form>
</body>
</html>
