{% load module %}
{% load content_filters %}
{% load common %}

{% module 4 "" box %}
<div class="blog_preview">
    {% comment %}The reason this has to be here is so stupid that I don't want to talk about it.{% endcomment %}
    <a href="/section/flyby/"><img class="flyby_preview_header" src="{% static_url "images/flyby/flyby_preview.png" %}" alt="flyby_preview" style="display: none;"/></a>

{% for article in posts %}
    <a class="flyby_preview_story" href="{{article.get_absolute_url}}">
    {% if article.main_rel_content %}
        <span class="image_thumb" style="width: 40px; float: left; margin-right: 5px; text-align: right;">{{article.main_rel_content|to_img_tag:"40,40,1,1"}}</span>
    {% else %}
		<span class="image_thumb" style="width: 40px; float: left; margin-right: 5px; text-align: right;">
			<img src="{% static_url "images/sportsblog/tbp_icon.png" %}" alt="The Back Page" />
		</span>
	{% endif %}    
	
    <span class="headline">{{article.headline|truncchars:"80,..."}}</span>
	<span class="byline">Posted&nbsp;{{article.created_on|date:"m/d/y"}}</span>
    </a>
{% endfor %}
</div>
{% endmodule %}
