{% load module %}
{% load content_filters %}
{% load common %}

{% module 4 "" box %}
<div class="flyby_preview">

    <a href="/section/flyby/"><img class="flyby_preview_header" src="{% static_url "images/flyby/flyby_preview.png" %}" alt="flyby_preview" /></a>

{% for article in posts %}
    <a class="flyby_preview_story" href="{{article.get_absolute_url}}">
    {% if article.main_rel_content %}
        <span class="image_thumb" style="width: 40px; float: left; margin-right: 5px; text-align: right;">{{article.main_rel_content|to_img_tag:"40,40,1,1"}}</span>
    {% else %}
		<span class="image_thumb" style="width: 40px; float: left; margin-right: 5px; text-align: right;">
			{% with filenames|random as bla %}
			<img src="{% static_url bla %}" alt="flyby_icon" />
			{% endwith %}
		</span>
	{% endif %}    
	
    <span class="headline">{{article.headline|truncchars:"80,..."}}</span>
	<span class="byline">Posted {{article.issue.issue_date|date:"m/d/y"}}</span>
    </a>
{% endfor %}
{% comment %}
    <a class="more-link" href="/section/flyby/">
    More from FlyByBlog!
    </a>
{% endcomment %}
</div>
{% endmodule %}
