{% load module %}
{% load content_filters %}
{% load common %}

{% module 4 "" box %}
<div class="flyby_preview">

    <img style="margin-left:-5px;" class="flyby_preview_header" src="{% static_url "images/flyby/flyby_preview.png" %}" alt="flyby_preview" />

{% for article in posts %}
    {% if article.main_rel_content %}
        <div class="image_thumb" style="width: 40px; float: left; margin-right: 5px; text-align: right;">{{article.main_rel_content|to_img_tag:"40,40,1,1"}}</div>
    {% endif %}
    <span>{{article|linkify}}</span>
    <span class="clear">
{% endfor %}
</div>
{% endmodule %}
