{% load common %}
{% load module %}
{% load cache %}

<script type="text/javascript">
function mra(){
    $('#mostreadarticles').show();
    $('#mra').find('span').addClass("thclabel_red");
    $('#mra').find('span').removeClass("thclabel_gray");
    
    $('#mostcommentedarticles').hide();
    $('#mca').find('span').addClass("thclabel_gray");
    $('#mca').find('span').removeClass("thclabel_red");
}

function mca(){
    $('#mostreadarticles').hide();
    $('#mra').find('span').removeClass("thclabel_red");
    $('#mra').find('span').addClass("thclabel_gray");
    
    $('#mostcommentedarticles').show();
    $('#mca').find('span').removeClass("thclabel_gray");
    $('#mca').find('span').addClass("thclabel_red");
}

</script>

{% module 4 "" box %}
<div id="mostxdarticles">
    <span class="title"> MOST
        <a id="mra" onclick="mra();" style="cursor:asdlfkjadlkj;">{{"read"|yuhkilabel:"red"}}</a>
        {% comment %}
        <a id="mca" onclick="mca();" style="cursor:pointer;">{{"commented"|yuhkilabel:"gray"}}</a>
        {% endcomment %}
    </span>
    {% cache 500 mostreadarticles nav writer tag %}
    <div id="mostreadarticles">
        <ol class="most">        
         {% for article in mostreadarticles %}
            <li>{{article|linkify}}</li>
        {% endfor %}
        </ol>
    </div>
    {% endcache %}

    {% comment %}
    <div id="mostcommentedarticles" style="display: none">
        <ol>
        {% for article in mostcommentedarticles %}
            <li>{{article|linkify}}</li>
        {% endfor %}
        </ol>
    </div>
    {% endcomment %}
</div>
{% endmodule %}