{% load common %}
{% load content_filters %}

<link href="/site_media/css/rotator.css" rel="stylesheet" type="text/css" />
<script src="/site_media/scripts/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="/site_media/scripts/jquery.cycle.all.min.js"></script>
<script type="text/javascript">
$(function(){
	$('.preview_body').cycle({
	    fx:     'fade',
	    speed:  'slow',
		timeout: 3000,
	    pager:  '#preview_roll',
		next: '.nextbutton',
		prev: '.previousbutton',
	    pagerAnchorBuilder: function(idx, slide) {
	        return '<span class="pager_item"><a href="#">' + (idx + 1) + '</a></span>';
        }
	});
});
</script>
<div class="rotator">
    {% if title %}<h2>{{ title }}</h2>{% endif %}
    <ul class="preview_body">
		{% for c in contents %}
            <li>{{ c|render:"rotator" }}</li>
        {% endfor %}
    </ul>
    <div class="carousel">
        <div class="c_items">
            <div class="previousbutton" style="width:14px; height:14px;"></div>
            <div id="preview_roll"></div>
            <div class="nextbutton" style="width:14px; height:14px;"></div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>