{% extends "static.html" %}

{% load common %}
{% load content_module %}
{% load module %}

{% block css %}
	{% static_css "subscribe.css" %}
	{{ block.super }}
{% endblock %}

{% block js %}
    {% static_js "jquery.js" %}
    {{ emailform.media }}
{% endblock %}

{% block content %}
{% module 8 subscribe red %}
    {% block content_inner %}
        <div class="flatpage_section_header">Email Subscriptions</div>
        <div class="emailform">
        {% with emailform as form %}
            <form class="manage" action="/subscribe/email/" method="post">
            {{ form.non_field_errors }}
            {% if form.email.errors %}
            <span class="errormessage">Please check the highlighted areas below.</span><br /><br />
            {% endif %}
            <table>
                {% include "email/manage_form.html" %}
                <tr>
                    <td>&nbsp;</td>
                    <td><button type="submit">Sign up!</button></td>
                </tr>
            </table>
            </form>
        {% endwith %}
        </div>
        
        <div class="flatpage_section_header">Paper Subscriptions</div>
        <div> Some kind of form</div>
        
        <div class="flatpage_section_header">RSS Feeds</div>
        <div>
            {% contentmodule rss_feeds %}
            
            <ul style="list-style-type:none;">
                <li>
                    <span class="subscribe-rss"><img src="{% static_url "images/icons/rss.gif" %}" />&nbsp;<a href="/feeds/all">All news stories</a></span>
            {% for section in sections %}
                <li>
                    <span class="subscribe-rss"><img src="{% static_url "images/icons/rss.gif" %}" />&nbsp;<a href="/feeds{{section.get_absolute_url}}">{{ section.name }}</a></span>
                    <ul style="margin-left:16px; list-style-type:none;">
                        {% for tag in section.top_tags %}
                        <li style="display:inline; margin-right:15px;"><a href="/feeds{{tag.get_absolute_url}}">{{ tag.text }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
            
            
            {% endcontentmodule %}
        </div>
    {% endblock %}
{% endmodule %}
{% endblock %}

{% block fp_nav %}
	{% flatpage_nav about "/subscribe/" %}
		{% contentmodule flatpage_nav %}{% endcontentmodule %}
    {% endflatpage_nav %}
{% endblock %}