{% extends "static.html" %}

{% load common %}
{% load content_module %}
{% load module %}

{% block css %}
    {% static_css "subscribe.css" %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {% static_js "jquery.js" %}
    {{ emailform.media }}
{% endblock %}

{% block content %}
{% module 8 subscribe red %}
    {% block content_inner %}
        <div class="flatpage_section_header"><a name="email"></a>Email Subscriptions</div>
        <div class="emailform">
        {% with emailform as form %}
            <form class="manage" action="/subscribe/email/" method="post">
            {{ form.non_field_errors }}
            {% if form.email.errors %}
            <span class="errormessage">Please check the highlighted areas below.</span><br /><br />
            {% endif %}
            <table>
                {% include "email/manage_form.html" %}
                <tr>
                    <td>&nbsp;</td>
                    <td><button type="submit">Sign up!</button></td>
                </tr>
            </table>
            </form>
        {% endwith %}
        </div>
        
        <div class="flatpage_section_header"><a name="paper"></a>Paper Subscriptions</div>
        <div>
            {% contentmodule paper_subscriptions %}
            <p>We offer two different types of subscriptions to The Harvard Crimson:</p>
            <ul class = "normal_bullets">
                <li>Premium Plus</b> subscription includes all of our publications, five daily news issues per week, and our weekly supplements: Arts, Sports, and the FM weekend magazine. This subscription is mailed daily via first class mail, meaning each issue is sent the day it is printed.</li>
                <li><b>Premium</b> subscription covers all of the same issues but it is mailed twice weekly via first class mail.</li>
            </ul>
            <p>We also offer subscriptions to <b>The Harvard Crimson - Biweekly Edition</b>:
            <ul class = "normal_bullets">
                <li><b>The Crimson Biweekly</b> is a full-size, 10 page newspaper published every other Tuesday containing the top News, Sports, Arts, and Editorial content from the past two weeks in an advertisement-free format. Perfect for parents, friends, and alumni interested in staying up-to-date on campus happenings!</li>
            </ul>
            <p />
        
            <table width="75%">
                <tr>
                    <th>Start Date</th>
                    <th>Premium Plus</th>
                    <th>Premium</th>
                </tr>
                <tr>
                    <td>Sep. - Oct.</td>
                    <td>$350.00</td>
                    <td>$250.00</td>
                </tr>
                <tr>
                    <td>Nov. - Dec.</td>
                    <td>$350.00</td>
                    <td>$225.00</td>
                </tr>
                <tr>
                    <td>Jan. - Feb.</td>
                    <td>$250.00</td>
                    <td>$175.00</td>
                </tr>
                <tr>
                    <td>Mar. - Apr.</td>
                    <td>$200.00</td>
                    <td>$125.00</td>
                </tr>
                <tr>
                    <td>May</td>
                    <td>$75.00</td>
                    <td>$50.00</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <th>Semester</th>
                    <th>Full Year</th>
                </tr>
                <tr>
                    <th>Biweekly Edition</th>
                    <td>$30.00</td>
                    <td>$60.00</td>
                </tr>
            </table>
            <p />
            <p>Please download the subscription form in <a href="/site_media/pdf/subscriptionform.pdf">pdf</a> format and return to us by:</p>
            <table width="100%">
                <tr>
                    <th>Mail</th>
                    <th>Email</th>
                    <th>Fax or Phone</th>
                </tr>
                <tr>
                    <td valign="top">
                        The Harvard Crimson<br /> 
                        Attn: Circulation<br /> 
                        14 Plympton St.<br /> 
                        Cambridge, MA 02138 
                    </td>
                    <td valign="top">
                        <a href="mailto:circulation@thecrimson.com?subject=Subscription">circulation@thecrimson.com</a><br /> 
                        Mailed Subscription Request
                    </td>
                    <td valign="top">
                        Fax: (617) 576-7860<br /> 
                        Phone: (617) 576-6600
                    </td>
                </tr>
            </table>
            {% endcontentmodule %}
        </div>
        
        <div class="flatpage_section_header"><a name="rss"></a>RSS Feeds</div>
        <div>
            {% contentmodule rss_feeds %}
            
            <ul style="list-style-type:none;">
                <li>
                    <span class="subscribe-rss"><img src="{% static_url "images/icons/rss.gif" %}" />&nbsp;<a href="/feeds/latest">All news stories</a></span>
            {% for section in sections %}
                <li>
                    <span class="subscribe-rss"><img src="{% static_url "images/icons/rss.gif" %}" />&nbsp;<a href="/feeds{{section.get_absolute_url}}">{{ section.name }}</a></span>
                    {% comment %}
                    <ul style="margin-left:16px; list-style-type:none;">
                        {% for tag in section.top_tags %}
                        <li style="display:inline; margin-right:15px;"><a href="/feeds{{tag.get_absolute_url}}">{{ tag.text }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endcomment %}
                </li>
            {% endfor %}
            </ul>
            
            
            {% endcontentmodule %}
        </div>
    {% endblock %}
{% endmodule %}
{% endblock %}

{% block fp_nav %}
    {% flatpage_nav about "/subscribe/" %}
        {% contentmodule flatpage_nav %}{% endcontentmodule %}
    {% endflatpage_nav %}
{% endblock %}