{% load content_filters %}
{{ hidden }}
<div class="crop_thumbnail" id="{{attrs.id}}_thumbnail">
    {% if image %}
        Current thumbnail: {{image|to_img_tag:self.crop_size}}
        Click <a href="#" id="{{attrs.id}}_crop_new">here</a> to crop a new one.
    {% else %}
        You need to save before you can crop the thumbnail.
    {% endif %}
</div>
<div class="crop_original" id="{{attrs.id}}_original" style="padding-left:116px;">
    {% if image %}{{image|to_img_tag:self.display_size}}{% endif %}
</div>
{% if image %}
<script type="text/javascript" charset="utf-8">
	var crop = function(){
		$("#{{attrs.id}}_original").show();
	}
    $(document).ready(function(){
        var display = function(s){
            if(s.w != 0 && s.h != 0){
                $("input#{{attrs.id}}")
                    .val(s.x + "," + s.y + "," + s.x2 + "," + s.y2);
            } else {
                $("input#{{attrs.id}}").val("");
            }
        }
        $("#{{attrs.id}}_original img").Jcrop({
            onSelect: display{% if self.aspect_ratio %},
			aspectRatio: {{self.aspect_ratio}}
			{% endif %}
        });
        $("#{{attrs.id}}_crop_new").click(function(){
            $("#{{attrs.id}}_thumbnail").hide();
            $("#{{attrs.id}}_original").slideDown("fast");
            return false;
        });
        $("#{{attrs.id}}_original").slideUp("fast");
    })
</script>
{% endif %}