{% extends "base.html" %}

{% load crimson_filters %}

{% block title %}
	{{ article.headline }}
{% endblock %}

{% block inhead %}
	<link type="text/css" rel="stylesheet" href="/site_media/css/article.css" />
{% endblock %}

{% block body %}
	<div class="content">
		<div class="article">
			<h1>{{ article.headline }}</h1>
			<h2>{{ article.subheadline }}</h2>
			<div class="byline">By {{ article.contributors.all|linkify|human_list }}
			</div>
			<div class="timestamp">Published: {{ article.issue.issue_date|date:"F d, Y" }}
			</div>
			<div>
				{{ article.text|escape|linebreaks }}
			</div>
			<div id="tags">
			    {% with article.tags.all as a_tags %}
			        {% if a_tags %}
			            Tags: 
			        {% endif %}
    			    {% for tag in a_tags %}
    			        <a class="tag" href="{{ tag.get_absolute_url }}">{{ tag.text }}</a>{% ifnotequal forloop.last 1 %}, {% endifnotequal %}
    			    {% endfor %}
			    {% endwith %}
			</div>
		</div>
	</div>
	<div class="columnRight">
		<p>here is a bunch of test text<br/>type type type type type type</p>
	</div>
{% endblock %}
