{% extends "base.html" %}

{% load crimson_filters %}
{% load content_module %}
{% load rounded_tag %}

{% block title %}
	{{ "Since 1873, motherfuckers" }}
{% endblock %}

{% block inhead %}
	<link type="text/css" rel="stylesheet" href="/site_media/css/index.css" />
{% endblock %}

{% block body %}
    <div id="above_the_fold" class="half_page">
        <div id="top_stories" class="content_column">
            {% contentmodule index.topstories %}
            <div class="rtcontainer">Top Stories</div>
            <ul class="article_previews">
                {% for story in top_stories %}
                <li>
                    {{story|article_preview}}
                </li>	
                {% endfor %}
            </ul>
            {% endcontentmodule %}
        </div>
        <div id="rotator_more_news" class="content_column">
            <div id="rotator">
                {% contentmodule index.rotater %}
                <img src="/site_media/images/rotater.jpg" />
                {% endcontentmodule %}
            </div>
            <div id="more_news">
                {% contentmodule index.morenews %}
                <div class="rtcontainer">More News</div>
                <ul>
                    {% for story in more_stories %}
                    <li><a href="{{ story.get_absolute_url }}">{{ story.headline }}</a></li>
                    {% endfor %}
                </ul>
                {% endcontentmodule %}
            </div>
        </div>
        <div id="opinions_ad" class="content_column">
            <div id="top_opinions" class="content_column">
                {% contentmodule index.opinion %}
                <div class="rtcontainer">Opinion</div>
                <ul>
                    {% for oped in opeds %}
                        <li>
                            <a href="{{ oped.get_absolute_url }}">{{ oped.headline }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% endcontentmodule %}
            </div>
            <div id="front_ad" class="content_column">
                ad here
            </div>
        </div>
    </div>
    <div id="the_fold">
        <hr/>
    </div>
    <div id="below_the_fold" class="half_page">
        {% contentmodule index.arts %}
        <div id="top_arts" class="content_column">
            <div class="rtcontainer">Arts</div>
            <ul class="article_previews">
            {% for story in arts %}
                <li>{{ story|article_preview }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endcontentmodule %}
        {% contentmodule index.sports %}
        <div id="top_sports" class="content_column">
            <div class="rtcontainer">Sports</div>
            <ul class="article_previews">
            {% for story in sports %}
                <li>{{ story|article_preview }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endcontentmodule %}
        {% contentmodule index.fm %}
        <div id="top_fm" class="content_column">
            <div class="rtcontainer">FM</div>
            <ul class="article_previews">
            {% for story in fm %}
                <li>{{ story|article_preview }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endcontentmodule %}
    </div>
{% endblock %}
