{% extends "models/print.html" %}

{% load content_filters %}
{% load common %}

{% block title %}
	{{ gallery.title }}
{% endblock %}


{% block content %}
<img src="{% static_url "images/print_view_banner.png" %}" />
<hr />
<div class="dateline">
    {{ flashgraphic.issue.issue_date|date:"F d, Y" }}
</div>

<h1>{{ flashgraphic.title }}</h1>
<div class="byline">
	{{flashgraphic.contributors.all|human_list}}
</div>
<div class="image">
	{{flashgraphic.pic|to_img_tag:"STAND"}}
</div>
{{ block.super }}
<div class="text">{{flashgraphic.description}}</div>
{% endblock %}
