<ul class="acfb-holder" id="acfb_holder_{{attrs.id}}">
    {% for pk, label in objs.iteritems %}
        <li class="acfb-data">
            <span class="label">{{label}}</span>
            <span class="pk" style="display:none">{{pk}}</span>
            <img class="p" src="/site_media/images/delete.gif"/>
        </li>
    {% endfor %}
    <li><input type="text" class="acfb-input" id={{attrs.id}}_input /></li>
    {{hidden}}
</ul>
<script type="text/javascript">
    var acfb_{{attrs.id}};
    $(document).ready(function(){
        acfb_{{attrs.id}} = 
            $("#acfb_holder_{{attrs.id}}").autoCompletefb(
                {urlLookup:"{{url|escapejs}}",
                 multipleInput:{{is_multiple}}});
    });
</script>


