{% extends "threecolumn.html" %}

{% load common %}
{% load content_filters %}
{% load rotator %}
{% load content_module %}
{% load tag_cloud %}
{% load top_articles %}

{% block lefttopcolumn %}
    <div class="article_previews">
        <ul>
        {% for s in stories|slice:":4" %}
            <li>{{ s|render:"preview" }}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block middletopcolumn %}
    {% rotator rotate "news_rotator" %}
    <div class="article_headlines">
        <ul>
            {% for s in stories|slice:"4:14" %}
            <li>
                <h3><a href="{{s.get_absolute_url}}">{{s}}</a></h3>
                <span class="byline">By {{s.contributors.all|linkify|human_list}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block righttopcolumn %}
    <div id="reviews" class="bordered reviews">
        <h2>Movie Reviews</h2>
        <ul>
        {% for r in reviews.movie %}
            <li>
                <h3>
                    <span class="link"><a href="{{r.article.get_absolute_url}}">{{ r.name }}</a></span>
                    <span class="rating">{% rating r.rating 5 %}</span>
                </h3>
            </li>
        {% endfor %}
        </ul>
        <h2>Book Reviews</h2>
        <ul>
        {% for r in reviews.book %}
            <li>
                <h3>
                    <span class="link"><a href="{{r.article.get_absolute_url}}">{{ r.name }}</a></span>
                    <span class="rating">{% rating r.rating 5 %}</span>
                </h3>
            </li>
        {% endfor %}
        </ul>
        <h2>Music Reviews</h2>
        <ul>
        {% for r in reviews.music %}
            <li>
                <h3>
                    <span class="link"><a href="{{r.article.get_absolute_url}}">{{ r.name }}</a></span>
                    <span class="rating">{% rating r.rating 5 %}</span>
                </h3>
            </li>
        {% endfor %}
        </ul>
        <span class="clear"></span>
    </div>
    <span class="clear"></span>
    <div id="columnists" class="bordered img_list">
        <h2>Columns</h2>
        <ul>
        {% for column in columns %}
            <li>
                {{ column.image|to_img_tag:"60,60,1,1" }}
                <h3>{{ column|linkify:column.name }}</h3>
                <p>{{ column.subname }}</p>
                <p class="dateline">Updated {{ column.recent|date }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="ad">
        <span>advertisement</span>
        <img src="/site_media/images/medium_rectangle.gif" />
    </div>
    <div id="issues" class="bordered img_list">
        <h2>Past Issues</h2>
                <ul>
        {% for issue in issues %}
        <li>
            {{ issue.arts_cover|to_img_tag:"60,60,1,1"}}
            <h3><a href="">{{ issue.arts_name }}</a></h3>
            <p class="dateline">{{ issue.issue_date }}</p>
        </li>
        {% endfor %}
        </ul>
        <span class="clear"></span>
    </div>
{% endblock %}