{% extends "threecolumn.html" %}

{% load common %}
{% load content_filters %}
{% load rotator %}
{% load module %}
{% load content_module %}
{% load tag_cloud %}
{% load top_articles %}

{% block leftcolumn %}
    {% module 4 "top arts" red %}
        <div class="article_previews">
            <ul>
                {% for s in stories|slice:":4" %}
                    <li>{{ s|render:"preview" }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endmodule %}
{% endblock %}

{% block middlecolumn %}
    {% rotator rotate "news_rotator" %}
    
    {% module 4 "more stories" %}
        <div class="article_headlines">
            <ul>
                {% for s in stories|slice:"4:14" %}
                    <li>
                        <h3><a href="{{s.get_absolute_url}}">{{s}}</a></h3>
                        <span class="byline">By {{s.contributors.all|linkify|human_list}}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endmodule %}
{% endblock %}

{% block rightcolumn %}
    {% module 4 "" %}
    <div id="reviews" class="reviews">
        <span class="title">MOVIE REVIEWS</span>
        <ul>
        {% for r in reviews.movie %}
            <li>
                <h3>
                    <span class="link"><a href="{{r.article.get_absolute_url}}">{{ r.name }}</a></span>
                    <span class="rating">{% rating r.rating 5 %}</span>
                </h3>
            </li>
        {% endfor %}
        </ul>
        <span class="title">BOOK REVIEWS</span>
        <ul>
        {% for r in reviews.book %}
            <li>
                <h3>
                    <span class="link"><a href="{{r.article.get_absolute_url}}">{{ r.name }}</a></span>
                    <span class="rating">{% rating r.rating 5 %}</span>
                </h3>
            </li>
        {% endfor %}
        </ul>
        <span class="title">MUSIC REVIEWS</span>
        <ul>
        {% for r in reviews.music %}
            <li>
                <h3>
                    <span class="link"><a href="{{r.article.get_absolute_url}}">{{ r.name }}</a></span>
                    <span class="rating">{% rating r.rating 5 %}</span>
                </h3>
            </li>
        {% endfor %}
        </ul>
        <span class="clear"></span>
    </div>
    {% endmodule %}
    
    {% module 4 columns %}
        <div id="columnists" class="img_list">
            <ul>
                {% for column in columns %}
                    <li>
                        {% if column.image %}{{ column.image|to_img_tag:"60,60,1,1" }}
                        {% else %}{% endif %}
                        <h3>{{ column|linkify:column.name }}</h3>
                        <p>{{ column.subname }}</p>
                        <p class="dateline">Updated {{ column.recent|date }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endmodule %}

    {% module 4 "" ad %}
        <img src="/site_media/images/sample_ads/box.gif" />
    {% endmodule %}

    {% module 4 "past issues" %}
    <div id="issues" class="img_list">
        <ul>
        {% for issue in issues %}
        <li><a href="">
            {% if issue.arts_cover %}{{ issue.arts_cover|to_img_tag:"60,60,1,1"}}
            {% else %}{% endif %}
            <h3>{{ issue.arts_name }}</h3></a>
            <p class="dateline">{{ issue.issue_date }}</p>
        </li>
        {% endfor %}
        </ul>
        <span class="clear"></span>
    </div>
    {% endmodule %}
{% endblock %}