{% extends "base.html" %}

{% load common %}
{% load content_filters %}
{% load rotator %}
{% load module %}
{% load content_module %}
{% load tag_cloud %}
{% load top_articles %}

{% block css %}
	{{ block.super }}
	{% static_css "fmsection.css" %}
	{% static_css "section.css" %}
{% endblock %}

{% block title %}
Harvard FM
{% endblock %}

{% block pre_body %}
    <div class="top_banner">
		<a href="/section/fm"><img src="{% static_url "images/fm/fm logo.jpg" %}"/></a>
	</div>
{% endblock %}

{% block body %}
		<table cellspacing="5" border="0" cellpadding="0">
		<tr valign="top" align="left">
		<td width="641">
    	<div class="col-8">
		<img src="{% static_url "images/fm/fmhottestfreshmen.jpg" %}" width="641"/>
		<span class="clear"></span>
		<div class="col-8">
			{{graphic|render:"front_preview"}}
		</div>
		<span class="clear"></span>
		<div class="col-8">
		<div class="col1">
			<p class="readheading">/// READ</p>
			<a href="http://www.thecrimson.com/article/2011/4/28/nbsp-e-hot-s/" style="#F47932;"><p class="regtext" style="color:#F47932;">
				The Class of 2015's Hottest Fifteen Freshmen reveal everything from ideal dates to best pick-up lines.
			</p></a>
		</div>
		<div class="gutter"></div>
		<div class="col3">
			<p class="watchheading">/// VIEW</p>
			{{gallery|render:"fmgallery_preview"}}
		</div>
		<div class="gutter"></div>
		<div class="col3">
			<p class="scenesheading">/// WATCH</p>
			{{fmvid|render:"embed_small_preview"}}
		</div>
		</div>
		</div>
		</td>
		<td width="1" bgcolor="#E5E5E5"><BR></td>
		<td width="309" valign="top" align="left"> 
	<div class="col4">
		<a href="http://roomorama.com"><img src="{% static_url "images/fm/fmadtest.png" %}" width="300" height="600"/></a>
	</div></td></tr></table>
	<span class="clear"></span>
	<div class="dotline-12"></div>
	<table cellspacing="5" border="0" cellpadding="0">
	<tr valign="top" align="left">
	<td width="475">
	<div class="col6">
		<p class="videoheading">/// VIDEO/MULTIMEDIA</p>
		<div class="col4">
           {{videos|first|render:"embed_front_preview"}}
		</div>
		<div class="gutter"></div>
		<div class="col2">
			{% for vid in videos|notfirst %}
            	{{vid|render:"small_preview"}}
        	{% endfor %}
		</div>
	</div>
	</td>
	<td width="1" bgcolor="#E5E5E5"><BR></td>
	<td width="475" valign="top" align="left">
	<div class="col6">
		<p class="featuredheading">/// FEATURED ARTICLES</p>
		{% for story in featured %}
		<div class="col2">
			<div id="headlines" class="article_previews2">
				{{ story|render:"fm_preview"}}
			</div>
		</div>
		{% if forloop.last %}
		{% else %}
		<div class="gutter"></div>
		{% endif %}{% endfor %}
	</div>
	</td></tr></table>
	<span class="clear"></span>
	<div class="top_leaderboard">
		{% advertisement 62 %}
	</div>
	<span class="clear"></span>
	<table cellspacing="5" border="0" cellpadding="0">
	<tr valign="top" align="left">
	<td width="475">
	<div class="col2">
		<p class="subsection">FOR THE MOMENT</p>
		<div class="article_headlines" id="ftm">
			{% for s in ftm %}
                <h4>{{s|linkify:s.headline}}</h4>
			{% endfor %}
		</div>
	</div>
	<div class="gutter"></div>
	<div class="col2">
		<p class="subsection">IN THE MOMENT</p>
		<div class="article_headlines" id="itm">
		{% for s in itm %}
           <h4>{{ s|linkify:s.headline }}</h4>
		{% endfor %}
		</div>
	</div>
	<div class="gutter"></div>
	<div class="col2" style="padding-right: 11px">
		<p class="subsection">ENDPAPER</p>
		<div class="article_headlines" id="endpaper" style="margin-bottom: 5px;">
		<h4>{{ endpaper|linkify:endpaper.headline }}</h4>
		</div>
		<p class="subsection">COLUMNS</p>
		<div class="article_headlines" id="columns">
		{% for column in columns %}
            {% if column.recent %}
                <h4>{{ column|linkify:column.name }}</h4>
            {% endif %}
		{% endfor %}
		</div>
	</div>
	</td>
	<td width="1" bgcolor="#E5E5E5"><BR></td>
	<!--<div class="gutter"></div>-->
	<td width="475" valign="top" align="left">
	<div class="col6">
		<p class="subsection">PAST SCRUTS</p>
		{% for scrut in scrutiny|notfirst %}
		<div class="cols2">
			<div class="article_previews2">
				{{ scrut|render:"fm_preview" }}
			</div>
		</div>
		{% if forloop.last %}
		{% else %}
			<div class="gutter"></div> 
		{% endif %}
		{% endfor %}
	</div>
	</td></tr></table>
	<span class="clear"></span>
	<div class="top_leaderboard">
		{% advertisement 498 %}
	</div>
{% endblock %}

