{% extends "section.html" %}

{% load common %}
{% load module %}
{% load content_filters %}

{% block title %}Media{% endblock %}

{% block rss %}{% endblock %}

{% block css %}
	{% static_css "media.css" %}
	{% static_css "gallery.css" %}
{% endblock %}
{% block js %}
    {% static_js "jquery.js" %}
    {% static_js "media_viewer.js" %}
{% endblock %}

{% block body %}
<div id="gallery_viewer" class="blackground">
<div class="col-8">
    <div id="viewer_main" class="">
        {{ content.0|render:"media_viewer" }}
    </div>
<span class="clear"></span>
</div>
<div id="viewer_sidebar_wrapper" class="col-4">
    <div id="viewer_sidebar" class="">
        <span id="type_filters" class="filters">
			<span class="filter_label">TYPES:</span>
			<a href="all"><span class="thclabel thclabel_blacktive">All</span></a>
			<a href="gallery"><span class="thclabel thclabel_black">Galleries</span></a>
			<a href="you tube video"><span class="thclabel thclabel_black">Videos</span></a>
			&nbsp;&nbsp;<span id="toggle_filters">Filter</span>
		</span>
		<div id="filter_spans" style="display:none">
		<span id="sort_filters" class="filters">
			<span class="filter_label">MOST:</span>
			<a href="recent"><span class="thclabel thclabel_blacktive">Recent</span></a>
			<a href="read"><span class="thclabel thclabel_black">Viewed</span></a>
		</span>
	    <span id="section_filters" class="filters">
			<span class="filter_label">SECTIONS:</span>
			<a href="all"><span class="thclabel thclabel_blacktive">All</span></a>
			<a href="news"><span class="thclabel thclabel_black">News</span></a>
			<a href="sports"><span class="thclabel thclabel_black">Sports</span></a>
			<a href="fm"><span class="thclabel thclabel_black">Magazine</span></a>
			<a href="arts"><span class="thclabel thclabel_black">Arts</span></a>
		</span>

		</div>
        <div id="sidebar_galleries">
        {% include "ajax/media_viewer_page.html" %}
        </div>
    </div>
</div>
<span class="clear"></span>
</div>
{% comment %}
<div class="col-4">
    {% module 4 "" box %}
        {% advertisement 59 %}
    {% endmodule %}
</div>
<div class="gutter"></div>
<div class="col-4">
    {% module 4 "" box %}
        {% advertisement 59 %}
    {% endmodule %}
</div>
<div class="gutter"></div>
<div class="col-4">
    {% module 4 "" box %}
        {% advertisement 59 %}
    {% endmodule %}
</div>
<span class="clear"></span>
{% endcomment %}


{% endblock %}
{% block below_column %}
<div class="top_leaderboard">
		{% advertisement 498 %}
	</div>
{% endblock %}

{% block bottomads %}
		<!--/* Javascript Tag v2.8.7 */-->

<!--/*
  * The backup image section of this tag has been generated for use on a
  * non-SSL page. If this tag is to be placed on an SSL page, change the
  *   'http://www.oncampusweb.com/delivery/...'
  * to
  *   'https://www.oncampusweb.com/delivery/...'
  *
  * This noscript section of this tag only shows image banners. There
  * is no width or height in these banners, so if you want these tags to
  * allocate space for the ad before it shows, you will need to add this
  * information to the <img> tag.
  *
  * If you do not want to deal with the intricities of the noscript
  * section, delete the tag (from <noscript>... to </noscript>). On
  * average, the noscript tag is called from less than 1% of internet
  * users.
  */-->

<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://www.oncampusweb.com/delivery/ajs.php':'http://www.oncampusweb.com/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=498");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://www.oncampusweb.com/delivery/ck.php?n=ab8d346a&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://www.oncampusweb.com/delivery/avw.php?zoneid=498&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=ab8d346a' border='0' alt='' /></a></noscript>

{% endblock %}