{% extends "section.html" %}

{% load common %}
{% load content_filters %}
{% load rotator %}
{% load module %}
{% load content_module %}
{% load tag_cloud %}
{% load top_articles %}

{% block leftcolumn %}
    {% module 4 "top news" red %}
        <div class="article_previews">
            <ul id="top_news">
                {% for s in stories|slice:":7" %}
                    <li>{{ s|render:"preview" }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endmodule %}
    
    <span class="clear"></span>
    
    {% contentmodule news_bottom_left %}
        {% if series.0 %}
        <div class="bordered series">
            <a href="{{series.0.get_absolute_url}}">
            {% if series.0.image %}{{ series.0.image|to_img_tag:"297," }}
            {% else %}<h2>{{series.0.name}}</h2>{% endif %}
            </a>
            <ul>
            {% for story in series.0.content.all|slice:":5" %}
                <li><h3><a href="{{story.get_absolute_url}}">{{story}}</a></h3></li>
            {% endfor %}
            </ul>
            <span class="clear"></span>
        </div>
        {% endif %}
    {% endcontentmodule %}
{% endblock %}

{% block middlecolumn %}
    {% rotator rotate "news_rotator" %}

    {% module 4 "more news" %}
        <div id="more_news" class="article_headlines">
            <ul>
                {% for s in stories|slice:"7:" %}
                    <li>
                        {{s|render:"small_preview"}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endmodule %}

    {% contentmodule news_bottom_mid %}
        {% if series.1 %}
        <div class="bordered series">
            <a href="{{series.1.get_absolute_url}}">
            {% if series.1.image %}{{ series.1.image|to_img_tag:"297," }}
            {% else %}<h2>{{series.1.name}}</h2>{% endif %}
            </a>
            <ul>
            {% for story in series.1.content.all|slice:":5" %}
                <li><h3><a href="{{story.get_absolute_url}}">{{story}}</a></h3></li>
            {% endfor %}
            </ul>
        <span class="clear"></span>
        </div>
        {% endif %}
    {% endcontentmodule %}


{% endblock %}

{% block rightcolumn %}
<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://www.oncampusweb.com/delivery/ajs.php':'http://www.oncampusweb.com/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=59");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://www.oncampusweb.com/delivery/ck.php?n=abd553ed&amp;cb=15657321567' target='_blank'><img src='http://www.oncampusweb.com/delivery/avw.php?zoneid=59&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=abd553ed' border='0' alt='' /></a></noscript>
    {% tag_cloud 20 "tags" %}
    {% most_read_articles %}

    {% comment %}{% module 4 "featured content" gray %}
    <div id = "featured_content">
        <div id="headlines" class="article_headlines">
             <ul>
                    {% for story in featured %}
                        {% if story %}
                            <li>
                                {{story|render:"preview"}}
                            </li>
                        {% endif %}
                    {% endfor %}
            </ul>
        </div>
    </div>
    {% endmodule %}{% endcomment %}
 
    {% module 4 "" ad %}
<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://www.oncampusweb.com/delivery/ajs.php':'http://www.oncampusweb.com/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=58");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://www.oncampusweb.com/delivery/ck.php?n=a4cb1baa&amp;cb=15657321567' target='_blank'><img src='http://www.oncampusweb.com/delivery/avw.php?zoneid=58&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a4cb1baa' border='0' alt='' /></a></noscript>
	{% endmodule %}
	
	
{% endblock %}
