{% extends "threecolumn.html" %}

{% load common_filters %}
{% load content_filters %}
{% load rotator %}
{% load content_module %}
{% load tag_cloud %}
{% load top_articles %}

{% block lefttopcolumn %}
    <div class="article_previews">
        <ul id="top_news">
        {% for s in stories|slice:":5" %}
            <li>{{ s|render:"preview" }}</li>
        {% endfor %}
        </ul>
    </div>
    <span class="clear"></span>
    {% contentmodule news_bottom_left %}
        {% if series.0 %}
        <div class="bordered series">
            <a href="{{series.0.get_absolute_url}}">{{ series.0.image|to_img_tag:"296," }}</a>
            <ul>
            {% for story in series.0.content.all %}
                <li><h3><a href="{{story.get_absolute_url}}">{{story}}</a></h3></li>
            {% endfor %}
            </ul>
            <span class="clear"></span>
        </div>
        {% endif %}
    {% endcontentmodule %}
{% endblock %}

{% block middletopcolumn %}
    {% rotator rotate "news_rotator" %}
    <div id="more_news" class="article_headlines">
        <ul>
            {% for s in stories|slice:"5:10" %}
            <li>
                <h3><a href="{{s.get_absolute_url}}">{{s}}</a></h3>
                <p class="byline">By {{s.contributors.all|linkify|human_list}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% contentmodule news_bottom_mid %}
        {% if series.1 %}
        <div class="bordered series">
            <a href="{{series.1.get_absolute_url}}">{{ series.1.image|to_img_tag:"290," }}</a>
            <ul>
            {% for story in series.1.content.all %}
                <li><h3><a href="{{story.get_absolute_url}}">{{story}}</a></h3></li>
            {% endfor %}
            </ul>
        <span class="clear"></span>
        </div>
        {% endif %}
    {% endcontentmodule %}
{% endblock %}

{% block righttopcolumn %}
    {% tag_cloud 20 "tags" %}
    {% most_read_articles %}
    <div class="ad">
        <span>advertisement</span>
        <img src="/site_media/images/medium_rectangle.gif" alt="some ad" />
    </div>
    <div class="ad">
        <span>advertisement</span>
        <img src="/site_media/images/medium_rectangle.gif" alt="some ad" />
    </div>
{% endblock %}