{% extends "section.html" %}

{% load cache %}
{% load common %}
{% load content_filters %}
{% load rotator %}
{% load content_module %}
{% load module %}
{% load tag_cloud %}
{% load top_articles %}

{% block leftcolumn %}
    {% module 4 "top opinion" red %}
        <div class="article_previews">
            <ul>
                {% for s in stories|slice:":5" %}
                    <li>{{ s|render:"opinion_preview" }}</li>
                {% endfor %}
            </ul>
        </div>
        <span class="clear"></span>
        <div class="article_headlines">
            <ul>
                {% for s in stories|slice:"5:" %}
                    <li>
                        {{s|render:"small_preview"}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endmodule %}
{% endblock %}

{% block middlecolumn %}
    {% rotatornopreview rotate "editorial_cartoons" "EDITORIAL CARTOONS" %}

    {% module 4 columns %}
        <div id="columnists" class="img_list">
        <ul>
        {% for column in columns|slice:":6" %}
            {% if column.recent %}
            <li>
                <a href="{{ column.get_absolute_url }}" class="img">
                {% if column.image %}{{ column.image|to_img_tag:"60,60,1,1" }}
                {% else %}<img src="{% static_url "images/noface_60x60.jpg" %}" />{% endif %}</a>
                <h3>{{ column|linkify:column.name }}</h3>
                <p>{{ column.subname }}</p>
                <p class="dateline">Updated {{ column.recent|date }}</p>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        </div>
        <div id="columnists2" class="article_headlines">
        <ul>
        {% for column in columns|slice:"6:12" %}
            {% if column.recent %}
            <li>
                <h3>{{ column|linkify:column.name }}</h3>
                <p>{{ column.subname }}</p>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        </div>
    {% endmodule %}
{% endblock %}

{% block rightcolumn %}
    {% module 4 "featured content" box %}
    <div id = "featured_content">
        <div id="headlines" class="article_previews">
             <ul>
            {% for story in featured %}
                {% if story %}
                    {%if forloop.last %}
                        <li class ="last_item">
                    {% else %}
                        <li>
                    {% endif %}
                    {{story|render:"preview"}}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endmodule %}

    {% module 4 "" box %}
        {% advertisement 716 %}
    {% endmodule %}

    {% cache 500 mostreadarticles_opinion %}
        {% most_read_articles "section:opinion" %}
    {% endcache %}

    {% comment %}{% tag_cloud 20 "tags" %}{% endcomment %}

{% endblock %}
