{% extends "section.html" %}

{% load common %}
{% load content_filters %}
{% load rotator %}
{% load content_module %}
{% load module %}
{% load tag_cloud %}
{% load top_articles %}

{% block leftcolumn %}
    {% module 4 "top opinion" red %}
        <div class="article_previews">
            <ul>
                {% for s in stories|slice:":5" %}
                    <li>{{ s|render:"preview" }}</li>
                {% endfor %}
            </ul>
        </div>
        <span class="clear"></span>
        <div class="article_headlines">
            <ul>
                {% for s in stories|slice:"5:" %}
                    <li>
                        {{s|render:"small_preview"}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endmodule %}
{% endblock %}

{% block middlecolumn %}
    {% rotatornopreview rotate "editorial_cartoons" "EDITORIAL CARTOONS" %}
    
    {% module 4 columns %}
        <div id="columnists" class="img_list">
        <ul>
        {% for column in columns|slice:":6" %}
            {% if column.recent %}
            <li>
                <a href="{{ column.get_absolute_url }}" class="img">
                {% if column.image %}{{ column.image|to_img_tag:"60,60,1,1" }}
                {% else %}<img src="{% static_url "images/noface_60x60.jpg" %}" />{% endif %}</a>
                <h3>{{ column|linkify:column.name }}</h3>
                <p>{{ column.subname }}</p>
                <p class="dateline">Updated {{ column.recent|date }}</p>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        </div>
        <div id="columnists2" class="article_headlines">
        <ul>
        {% for column in columns|slice:"6:" %}
            {% if column.recent %}
            <li>
                <h3>{{ column|linkify:column.name }}</h3>
                <p>{{ column.subname }}</p>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        </div>
    {% endmodule %}
{% endblock %}

{% block rightcolumn %}
    {% module 4 "featured content" gray %}
    <div id = "featured_content">
        <div id="headlines" class="article_previews">
             <ul>
            {% for story in featured %}
                {% if story %}
                    <li>
                        {{story|render:"preview"}}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endmodule %}
    
<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://www.oncampusweb.com/delivery/ajs.php':'http://www.oncampusweb.com/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=59");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://www.oncampusweb.com/delivery/ck.php?n=abd553ed&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://www.oncampusweb.com/delivery/avw.php?zoneid=59&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=abd553ed' border='0' alt='' /></a></noscript>
    
    {% most_read_articles %}
    
    {% comment %}{% tag_cloud 20 "tags" %}{% endcomment %}

    {% module 4 "" ad %}
<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://www.oncampusweb.com/delivery/ajs.php':'http://www.oncampusweb.com/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=58");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://www.oncampusweb.com/delivery/ck.php?n=a4cb1baa&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://www.oncampusweb.com/delivery/avw.php?zoneid=58&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a4cb1baa' border='0' alt='' /></a></noscript>
	{% endmodule %}
{% endblock %}
