{% extends "threecolumn.html" %}

{% load common %}
{% load content_filters %}

{% block css %}{% static_css "photo.css" %}{% static_css "imagegallery.css" %}{% endblock %}
{% block js %}
    {% static_js "jquery.js" %}
    {% static_js "media_viewer.js" %}
{% endblock %}

{% block above_the_fold %}
<div id="media_viewer" class="blackground">
    <div id="viewer_main">
        {{ content.0|render:"media_viewer" }}
    </div>
    
    <div id="viewer_sidebar">
        <span class="filters">MOST {{"viewed"|yuhkilabel:"blacktive"}} {{"Recent"|yuhkilabel:"blacktive"}} {{"videos"|yuhkilabel:"black"}} {{"photos"|yuhkilabel:"blacktive"}} </span>
        <div>
        {% include "ajax/media_viewer_page.html" %}
        </div>
    </div>
    <span class="clear" />
</div>
{% endblock %}

{% block leftbottomcolumn %}
    thing
{% endblock %}