{% extends "section.html" %}

{% load common %}
{% load module %}
{% load content_filters %}

{% block css %}{% static_css "photo.css" %}{% static_css "gallery.css" %}{% endblock %}
{% block js %}
    {% static_js "jquery.js" %}
    {% static_js "media_viewer.js" %}
{% endblock %}

{% block body %}
<div id="gallery_viewer" class="blackground">
<div class="col-8">
    <div id="viewer_main" class="">
        {{ content.0|render:"media_viewer" }}
    </div>
<span class="clear"></span>
</div>
<div class="gutter"></div>
<div class="col-4">
    <div id="viewer_sidebar"class="">
        <span class="filters">MOST &nbsp;&nbsp;{{"viewed"|yuhkilabel:"blacktive"}} {{"Recent"|yuhkilabel:"blacktive"}} {{"videos"|yuhkilabel:"black"}} {{"photos"|yuhkilabel:"blacktive"}} </span>
        <div>
        {% include "ajax/media_viewer_page.html" %}
        </div>
    </div>
</div>
<span class="clear"></span>
</div>

<div class="col-4">
    {% module 4 "" ad %}
        <iframe id='a8ed08bc' name='a8ed08bc' src='http://d1.openx.org/afr.php?zoneid=74816&amp;cb=987987' framespacing='0' frameborder='no' scrolling='no' width='300' height='250'><a href='http://d1.openx.org/ck.php?n=aaf60f27&amp;cb=987897' target='_blank'><img src='http://d1.openx.org/avw.php?zoneid=74816&amp;cb=77777&amp;n=aaf60f27' border='0' alt='' /></a></iframe>    {% endmodule %}
</div>
<div class="gutter"></div>
<div class="col-4">
    {% module 4 "" ad %}
        <iframe id='a8ed08bc' name='a8ed08bc' src='http://d1.openx.org/afr.php?zoneid=74816&amp;cb=987987' framespacing='0' frameborder='no' scrolling='no' width='300' height='250'><a href='http://d1.openx.org/ck.php?n=aaf60f27&amp;cb=987897' target='_blank'><img src='http://d1.openx.org/avw.php?zoneid=74816&amp;cb=77777&amp;n=aaf60f27' border='0' alt='' /></a></iframe>    {% endmodule %}    
</div>
<div class="gutter"></div>
<div class="col-4">
    {% module 4 "" ad %}
        <iframe id='a8ed08bc' name='a8ed08bc' src='http://d1.openx.org/afr.php?zoneid=74816&amp;cb=987987' framespacing='0' frameborder='no' scrolling='no' width='300' height='250'><a href='http://d1.openx.org/ck.php?n=aaf60f27&amp;cb=987897' target='_blank'><img src='http://d1.openx.org/avw.php?zoneid=74816&amp;cb=77777&amp;n=aaf60f27' border='0' alt='' /></a></iframe>    {% endmodule %}
</div>
<span class="clear"></span>


{% endblock %}
