{% extends "section.html" %}

{% load common %}
{% load module %}
{% load content_filters %}

{% block css %}{% static_css "photo.css" %}{% static_css "gallery.css" %}{% endblock %}
{% block js %}
    {% static_js "jquery.js" %}
    {% static_js "media_viewer.js" %}
{% endblock %}

{% block body %}
<div id="gallery_viewer" class="blackground">
<div class="col-8">
    <div id="viewer_main" class="">
        {{ content.0|render:"media_viewer" }}
    </div>
<span class="clear"></span>
</div>
<div class="gutter"></div>
<div id="viewer_sidebar_wrapper" class="col-4">
    <div id="viewer_sidebar" class="">
        <span id="sort_filters" class="filters">MOST &nbsp;&nbsp;
			<a href="recent"><span class="thclabel thclabel_blacktive">Recent</span></a>
			<a href="read"><span class="thclabel thclabel_black">Viewed</span></a>
		</span>
        <span id="section_filters" class="filters">SECTIONS &nbsp;&nbsp;
			<a href="news"><span class="thclabel thclabel_blacktive">News</span></a>
			<a href="sports"><span class="thclabel thclabel_blacktive">Sports</span></a>
			<a href="fm"><span class="thclabel thclabel_blacktive">Magazine</span></a>
			<a href="arts"><span class="thclabel thclabel_blacktive">Arts</span></a>
		</span>
{% comment %}
todo: add this filtering in some logical way	
{{"videos"|yuhkilabel:"black"}} {{"photos"|yuhkilabel:"blacktive"}} 
{% endcomment %}
        <div>
        {% include "ajax/media_viewer_page.html" %}
        </div>
    </div>
</div>
<span class="clear"></span>
</div>
{% comment %}
<div class="col-4">
    {% module 4 "" ad %}
        <iframe id='a8ed08bc' name='a8ed08bc' src='http://d1.openx.org/afr.php?zoneid=74816&amp;cb=987987' framespacing='0' frameborder='no' scrolling='no' width='300' height='250'><a href='http://d1.openx.org/ck.php?n=aaf60f27&amp;cb=987897' target='_blank'><img src='http://d1.openx.org/avw.php?zoneid=74816&amp;cb=77777&amp;n=aaf60f27' border='0' alt='' /></a></iframe>    {% endmodule %}
</div>
<div class="gutter"></div>
<div class="col-4">
    {% module 4 "" ad %}
        <iframe id='a8ed08bc' name='a8ed08bc' src='http://d1.openx.org/afr.php?zoneid=74816&amp;cb=987987' framespacing='0' frameborder='no' scrolling='no' width='300' height='250'><a href='http://d1.openx.org/ck.php?n=aaf60f27&amp;cb=987897' target='_blank'><img src='http://d1.openx.org/avw.php?zoneid=74816&amp;cb=77777&amp;n=aaf60f27' border='0' alt='' /></a></iframe>    {% endmodule %}    
</div>
<div class="gutter"></div>
<div class="col-4">
    {% module 4 "" ad %}
        <iframe id='a8ed08bc' name='a8ed08bc' src='http://d1.openx.org/afr.php?zoneid=74816&amp;cb=987987' framespacing='0' frameborder='no' scrolling='no' width='300' height='250'><a href='http://d1.openx.org/ck.php?n=aaf60f27&amp;cb=987897' target='_blank'><img src='http://d1.openx.org/avw.php?zoneid=74816&amp;cb=77777&amp;n=aaf60f27' border='0' alt='' /></a></iframe>    {% endmodule %}
</div>
<span class="clear"></span>
{% endcomment %}

{% endblock %}
