{% extends "section.html" %}

{% load common %}
{% load content_filters %}
{% load rotator %}
{% load module %}
{% load content_module %}
{% load tag_cloud %}
{% load top_articles %}

{% block leftcolumn %}
    {% rotator rotate "sports_rotator" %}
    
    {% module 4 "latest updates" gray %}
        <div class="article_headlines">
        <ul>
        {% for s in latest %}
            <li><h3><a href="{{s.get_absolute_url}}">{{s}}</a></h3> {{ s|datify }}</li>
        {% endfor %}
        </ul>
        </div>
    {% endmodule %}
    <span class="clear"></span>
    {% module 4 "sports blog" gray %}
        <div class="series">
        <ul>
            {% for s in blog %}
            <li>
                <h3><a href="{{s.get_absolute_url}}">{{s}}</a></h3>
                <p class="byline">By {{s.contributors.all|linkify|human_list}}</p>
            </li>
            {% endfor %}
        </ul>
        </div>
    {% endmodule %}
{% endblock %}

{% block middlecolumn %}
    {% module 4 "top stories" red %}
        <div id="top_stories" class="article_previews">
        <ul>
        {% for s in stories %}
            <li>{{ s|render:"preview" }}</li>
        {% endfor %}
        </ul>
        </div>
    {% endmodule %}
    
    {% if athlete %}
        <span class="clear"></span>
        {% module 4 "athlete of the week" red %}
        <div id="athlete_o_week" class="img_list">
            {{ athlete.main_rel_content|to_img_tag:"60,60" }}
            <h3>{{ athlete|linkify }}</h3>
            <p class="teaser">{{ athlete.teaser }}</p>
        </div>
        {% endmodule %}
        <span class="clear"></span>
    {% endif %}
{% endblock %}

{% block rightcolumn %}

	<div class="bordered">
		<h2>Latest Scores</h2>

		<p id='sportsticker'> 
			<div id='sportsticker_sport' class='thclabel thclabel_red'></div>
		 	<div id='sportsticker_slug'></div>
		</p>
		<script type="text/javascript">
			var ticker_sports = new Array();
			var ticker_slugs = new Array();
			var ticker_urls = new Array();
			{% for story in stories %}
				{% if story.sportsticker_sport %}
					ticker_sports.push("{{ story.sportsticker_sport|pretty_sport_name }}");
				 	ticker_slugs.push("{{ story.sportsticker_slug }}");
					ticker_urls.push("{{ story.get_absolute_url }}");
				{% endif %}
			{% endfor %}

			function rotateArray(arr){
				cur_item = arr.shift();
				arr.push(cur_item);
				return cur_item;
			}

			function rotateTicker(){
				cur_sport = rotateArray(ticker_sports);
				cur_slug = rotateArray(ticker_slugs);
				cur_url = rotateArray(ticker_urls);

				document.getElementById('sportsticker_sport').innerHTML = "<a href='" + cur_url + "'>" + cur_sport + "</a>";
				document.getElementById('sportsticker_slug').innerHTML = "<a href='" + cur_url + "'>" + cur_slug + " &raquo;</a>";
				t=setTimeout("rotateTicker()",5000);
			}
			rotateTicker();
		</script>
	</div>

    <div class="bordered" id="tags">
        <h2>Tags</h2>
        <p> some mysterious tag interface here </p>
    </div>
    <div class="ad bordered">
        <span>advertisement</span>
        <iframe id='a8ed08bc' name='a8ed08bc' src='http://d1.openx.org/afr.php?zoneid=74816&amp;cb=987987' framespacing='0' frameborder='no' scrolling='no' width='300' height='250'><a href='http://d1.openx.org/ck.php?n=aaf60f27&amp;cb=987897' target='_blank'><img src='http://d1.openx.org/avw.php?zoneid=74816&amp;cb=77777&amp;n=aaf60f27' border='0' alt='' /></a></iframe>    </div>
{% endblock %}