{% extends "section.html" %}

{% load common %}
{% load content_filters %}
{% load rotator %}
{% load module %}
{% load content_module %}
{% load tag_cloud %}
{% load top_articles %}

{% block js %}
    {{ block.super }}
	{% static_js "sports_scores.js" %}
{% endblock %}

{% block leftcolumn %}
    {% rotator rotate "sports_rotator" %}
    
    {% module 4 "latest updates" gray %}
        <div class="article_headlines">
        <ul>
        {% for s in latest %}
            <li>{{s|render:"small_preview"}}</li>
        {% endfor %}
        </ul>
        </div>
    {% endmodule %}
    {% comment %}
    <span class="clear"></span>
    {% module 4 "sports blog" gray %}
        <div class="series">
        <ul>
            {% for s in blog %}
            <li>
                <h3><a href="{{s.get_absolute_url}}">{{s}}</a></h3>
                <p class="byline">By {{s.contributors.all|linkify|human_list}}</p>
            </li>
            {% endfor %}
        </ul>
        </div>
    {% endmodule %}
    {% endcomment %}
    {% if athlete %}
    <span class="clear"></span>
    {% module 4 "athlete of the week" red %}
        <div id="athlete_o_week" class="article_previews">
        <ul>
            <li>{{ athlete|render:"preview" }}</li>
        </ul>
        </div>
    {% endmodule %}
    <span class="clear"></span>
    {% endif %}
{% endblock %}

{% block middlecolumn %}
    {% module 4 "top stories" red %}
        <div id="top_stories" class="article_previews">
        <ul>
        {% for s in stories %}
            <li>{{ s|render:"preview" }}</li>
        {% endfor %}
        </ul>
        </div>
    {% endmodule %}
    
    {% module 4 columns %}
        <div id="columnists" class="img_list">
        <ul>
        {% for column in columns|slice:":6" %}
            {% if column.recent %}
            <li>
                <a href="{{ column.get_absolute_url }}" class="img">
                {% if column.image %}{{ column.image|to_img_tag:"60,60,1,1" }}
                {% else %}<img src="{% static_url "images/noface_60x60.jpg" %}" />{% endif %}</a>
                <h3>{{ column|linkify:column.name }}</h3>
                <p>{{ column.subname }}</p>
                <p class="dateline">Updated {{ column.recent|date }}</p>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        </div>
        <div id="columnists2" class="article_headlines">
        <ul>
        {% for column in columns|slice:"6:" %}
            {% if column.recent %}
            <li>
                <h3>{{ column|linkify:column.name }}</h3>
                <p>{{ column.subname }}</p>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        </div>
    {% endmodule %}
{% endblock %}

{% block rightcolumn %}

    {% if scores.count %}
        {% module 4 "Latest Scores" box %}
        
            <div id='sportsticker'  style="margin-bottom: 10px; font-family: tahoma;"> 
                <div id='sportsticker_sport' class='thclabel thclabel_red'></div>
                <div id='sportsticker_slug' style="font-size: 11px;"></div>
            </div>
            <script type="text/javascript">

                {% for score in scores %}
                    ticker_sports.push("{{ score.sport.text|title }}");
                    ticker_slugs.push("{{ score }}");
                    ticker_urls.push("{{ score.article.get_absolute_url }}");
                    ticker_opp.push("{{ score.opponent }}");
                    ticker_field.push("{{ score.home_game }}");
                    ticker_oppscore.push("{{ score.their_score }}");
                    ticker_ourscore.push("{{ score.our_score }}");
                {% endfor %}    

                rotateTicker();
            </script>

        {% endmodule %}
    {% endif %}

	{% module 4 Sports box %}
    <div class="twocol" id="tags">
        {% for sport in sports %}
        <span class="cell">{{ sport|linkify }}</span>
        {% endfor %}
        <span class="clear"></span>
    </div>
	{% endmodule %}
    
    {% if video %}
	{% module 4 "Featured Video" boxgray %}
        {{ video|render:"rotator" }}
        <span class="clear"></span>
	{% endmodule %}
    {% endif %}
    
    {% module 4 "" box %}
        {% advertisement 59 %}
    {% endmodule %}
    
{% endblock %}
