{% extends "threecolumn.html" %}

{% load common %}
{% load content_filters %}
{% load rotator %}
{% load module %}
{% load content_module %}
{% load tag_cloud %}
{% load top_articles %}

{% block leftcolumn %}
    {% rotator rotate "sports_rotator" %}
    
    {% module 4 "latest updates" gray %}
        <div class="article_headlines">
        <ul>
        {% for s in latest %}
            <li><h3><a href="{{s.get_absolute_url}}">{{s}}</a></h3></li>
        {% endfor %}
        </ul>
        </div>
    {% endmodule %}
    <span class="clear"></span>
    {% module 4 "sports blog" gray %}
        <div class="series">
        <ul>
            {% for s in blog %}
            <li>
                <h3><a href="{{s.get_absolute_url}}">{{s}}</a></h3>
                <p class="byline">By {{s.contributors.all|linkify|human_list}}</p>
            </li>
            {% endfor %}
        </ul>
        </div>
    {% endmodule %}
{% endblock %}

{% block middlecolumn %}
    {% module 4 "top stories" red %}
        <div id="top_stories" class="article_previews">
        <ul>
        {% for s in stories %}
            <li>{{ s|render:"preview" }}</li>
        {% endfor %}
        </ul>
        </div>
    {% endmodule %}
    
    {% if athlete %}
        <span class="clear"></span>
        {% module 4 "athlete of the week" red %}
        <div id="athlete_o_week" class="img_list">
            {{ athlete.main_rel_content|to_img_tag:"60,60" }}
            <h3>{{ athlete|linkify }}</h3>
            <p class="teaser">{{ athlete.teaser }}</p>
        </div>
        {% endmodule %}
        <span class="clear"></span>
    {% endif %}
{% endblock %}

{% block right %}
    <div class="bordered" id="tags">
        <h2>Tags</h2>
        <p> some mysterious tag interface here </p>
    </div>
    <div class="ad bordered">
        <span>advertisement</span>
        <img src="/site_media/images/sample_ads/box.gif" />
    </div>
{% endblock %}