{% extends "models/page.html" %}

{% load content_filters %}
{% load common %}

{% block title %}
	{{ article.headline }}
{% endblock %}

{% block css %}
    {% static_css "article.css" %}
{% endblock %}

{% block content %}
    <h1>{{ article.headline }}</h1>
    {% if article.subheadline %}<h2>{{ article.subheadline }}</h2>{% endif %}

    <div class="byline">
        By {{ article.contributors.all|linkify|human_list }}
    </div>
    <div class="dateline">
        Published: {{ article.issue.issue_date|date:"l, F d, Y" }}
    </div>
    {% if article.main_rel_content %}
        {{ article.main_rel_content|render:"article.main" }}
    {% endif %}

    <div class="text">
        {% with article.text|safe|paragraphs as paras %}
            {{ paras|slice:":5"|join:"" }}
            {% with article.rel_content.all|slice:"1:" as rcs %}
                {% if rcs %}
                <div id="related_contents">
                    {{ "Multimedia"|yuhkilabel }}
                    {% for rc in rcs %}
                        {% ifnotequal rc.content_type.model "article" %}
                            {{ rc|render:"related_content" }}
                        {% endifnotequal %}
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            {{ paras|slice:"5:"|join:"" }}
        {% endwith %}
    </div>
    {{ block.super }}
{% endblock %}

{% block sidebar %}
    {{block.super}}
    text in the sidebar
{% endblock %}