{% extends "models/print.html" %}

{% load content_filters %}
{% load common %}

{% block title %}
	{{ article.headline }}
{% endblock %}


{% block content %}
<img src="{% static_url "images/print_view_banner.png" %}" />
<hr />
<div class="dateline">
    {{ article.issue.issue_date|date:"F d, Y" }}
</div>

    <h1>{{ article.headline }}</h1>
    {% if article.subheadline %}<h2>{{ article.subheadline }}</h2>{% endif %}

    <div class="byline">
        By {{ article.contributors.all|human_list }}
    </div>
    <div class="text">
        {% with article.text|safe|paragraphs as paras %}
            {{ paras|join:"" }}
        {% endwith %}
    </div>
    {{ block.super }}
{% endblock %}
