{% extends "flyby/page.html" %}

{% load content_filters %}
{% load common %}

{% block content %}
    <h1>{{ article.headline }}</h1>
    <div class="published">
        Published by {{ article.contributors.all|linkify|human_list }} on {{ article.issue.issue_date|date:"F d, Y" }} at {{ article.modified_on|date:"g:iA" }} 
    </div>

	<div class="related_content">
	{% with article.rel_content.all|rel_no_articles as rcs%}
	    {% for rc in rcs %}
			{{ rc|render:"blog_image"}}
			<span class="clear pad" />
	    {% endfor %}
	{% endwith %}
	</div>

    <div class="text">
        {{ article.text|remove_flyby_jump|safe }}
    </div>
{% endblock %}

{% block ad %}
<div style="text-align: center; margin: 10px 0px">
    <img src="{% static_url "images/flyby/bosead.jpg" %}" />
</div>
{% endblock %}