{% extends "flyby/page.html" %}

{% load content_filters %}
{% load common %}
{% load content_module %}

{% block css %}
{{ block.super }}
{% static_css "single_content.css" %}
{% endblock %}

{% block title %}
    {{ article.headline }} | Flyby
{% endblock %}

{% block headerwidth %}60px{% endblock %}
{% block headerimgurl %}{% static_url "images/flyby/gate.png" %}{% endblock %}

{% block content %}
    {{ article|render:"flyby.fullarticle" }}
{% endblock %}

{% block ad %}

<div style="text-align: center; margin: 10px 0px">
    <img src="{% static_url "images/flyby/PB_300x600.jpg" %}" />
</div>

{% endblock %}