{% load common %}
{% load content_filters %}

<li>
    <a href="{{ article.get_absolute_url }}">
		<div class="image_thumb">{{article.main_rel_content|render:"thumb"}}</div>
	</a>
    <div style="float:right">{{article.section|yuhkilabel}}</div>
    <img src="{% static_url "images/icons/article.gif" %}" alt="article" />
    <h3><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></h3>
    <p class="byline">{{ article|byline:"short" }}
    <span class="dateline">{{ article.issue.issue_date|date:"l, F j, Y" }}</span>
	</p>
    <div class="teaser">{{ article.teaser|fix_teaser|safe }}</div>
    <span class="clear"></span>
</li>
