{% load common_filters %}
{% load content_filters %}

<li>
    <div class="image_thumb">{{article.main_rel_content|render:"thumb"}}</div>
    <div class="label">{{article.section}}</div>
    <h3><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></h3>
    <span class="byline">By {{ article.generic.contributors.all|linkify|human_list}}</span>
    {% if article.web_only %}    
    <span class="webonly">Web Only</span>
    {% endif %}
    <p class="teaser">{{ article.long_teaser }}</p>
    <span class="clear"></span>
</li>