{% extends "models/page.html" %}

{% load content_filters %}
{% load common %}

{% block title %}
	{{ article.headline }} | {{ article.section }}
{% endblock %}

{% block meta %}
<meta property="og:title" content="{{article.headline}}"/>
<meta property="og:site_name" content="The Harvard Crimson"/>
{% if article.main_rel_content %}
    {% ifnotequal article.main_rel_content.content_type.model "article" %}
		<meta property="og:image" content="{{article.main_rel_content.absolute_url}}"/>
    {% endifnotequal %}
{% endif %}
{% endblock %}

{% block css %}
	{{block.super}}
    {% static_css "article.css" %}
	{% comment %}
	TODO: Move this
	{% endcomment %}
	{% if noindex %}
	<meta name="robots" content="noindex, noarchive"/>
	{% endif %}
{% endblock %}

{% block content_title %}
{% endblock %}

{% block top_content %}
	<h1>{{ article.headline }}</h1>
	{% if article.subheadline %}<h2>{{ article.subheadline }}</h2>{% endif %}

	{{block.super}}
{% endblock %}

{% block bottom_content %}
    {% if article.main_rel_content %}
        {% ifnotequal article.main_rel_content.content_type.model "article" %}
            {{ article.main_rel_content|render:"article.main" }}
        {% endifnotequal %}
    {% endif %}

    <div class="text">
        {% with article.text|safe|paragraphs as paras %}
            {{ paras|slice:":5"|join:"" }}
            {% with article.rel_content.all|rel_no_articles|notfirst as rcs%}
            {% if rcs %}
                <div id="related_contents">
                    <h3>Multimedia</h3>
                    {% for rc in rcs %}
                        {{ rc|render:"related_content"}}
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            {{ paras|slice:"5:"|join:"" }}
        {% endwith %}
    </div>

{% endblock %}

