{% extends "models/page.html" %}

{% load content_filters %}
{% load common %}

{% block title %}
	{{ article.headline }}
{% endblock %}

{% block css %}
	{{block.super}}
    {% static_css "article.css" %}
{% endblock %}

{% block content %}
    <h1>{{ article.headline }}</h1>
    {% if article.subheadline %}<h2>{{ article.subheadline }}</h2>{% endif %}

    <div class="byline">
        By {{ article.contributors.all|linkify|human_list }}{% if article.get_byline_type_display %}, {{ article.get_byline_type_display|upper }}{{ article.contributors.count|pluralize|upper }}{% endif %}
    </div>
    <div class="dateline">
        Published: {{ article.issue.issue_date|date:"l, F d, Y" }}
    </div>
    {% if article.main_rel_content %}
        {% ifnotequal article.main_rel_content.content_type.model "article" %}
            {{ article.main_rel_content|render:"article.main" }}
        {% endifnotequal %}
    {% endif %}

    <div class="text">
        {% with article.text|safe|paragraphs as paras %}
            {{ paras|slice:":4"|join:"" }}
            {% with article.rel_content.all|rel_no_articles|notfirst as rcs%}
            {% if rcs %}
                <div id="related_contents">
                    <h3>Multimedia</h3>
                    {% for rc in rcs %}
                        {{ rc|render:"related_content"}}
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            {{ paras|slice:"4:"|join:"" }}
        {% endwith %}
    </div>
    {% with article.rel_content.all|rel_articles as ras %}
    {% if ras %}
        <div id="related_articles">
            <h3>Related Articles</h3>
            <ul>
            {% for ra in ras %}
                <li>{{ ra|linkify }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% endwith %}
{% endblock %}

