{% load common %}
{% load cache %}
{% load content_filters %}

<h2>{{article|linkify}}
	{% if article.num_comments %}
		<span class="small-text-icon-wrap">
			<span class="small-text-icon-item comment-count">
				{% cache 600 preview_comments content.pk %}
					{{article.num_comments}}
				{% endcache %}
			</span>
			<span class="small-text-icon-item comment-image"></span>
		</span>
	{% endif %}
</h2>
<p class="byline"> {{ article|byline:"short" }}
<span class="dateline">{{ article|datify }}</span></p>
<p class="teaser">{{ article.teaser|safe }}
</p>
