{% extends "base.html" %}

{% block js %}
    {% static_js "http://google.com/jsapi?key=ABQIAAAA1m5RwdAfIaeSMlrcZCgIjhQCULP4XOMyhPd8d_NrQQEO8sT8XBQgiF6QEwMTU0yZOuL7Z9tpPywdeg" %}
    <script type="text/javascript">
        google.load('search', '1');
        function search_load() {
            // create the search control
            var searchControl = new google.search.SearchControl();
            var siteSearch = new google.search.WebSearch()
            siteSearch.setSiteRestriction("thecrimson.com");
            searchControl.addSearcher(siteSearch);
            searchControl.draw(document.getElementById("search_control"));
        }
        google.setOnLoadCallback(search_load);
    </script>
{% endblock %}

{% block body %}
    <div id="search_control">control</div>
    <div id="search_results">results</div>
{% endblock %}